{:type :invoke, :f :cas, :value [0 2], :time 258330257, :process 7, :index 6}
{:type :info, :f :cas, :value [0 2], :time 260861553, :process 7, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :read, :time 651012895, :process 4, :value nil, :index 8}
{:type :fail, :f :read, :time 653801010, :process 4, :value nil, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :read, :time 781492046, :process 2, :value nil, :index 10}
{:type :fail, :f :read, :time 784220085, :process 2, :value nil, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :read, :time 1423848988, :process 4, :value nil, :index 13}
{:type :fail, :f :read, :time 1426275307, :process 4, :value nil, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :cas, :value [0 2], :time 1709394262, :process 27, :index 15}
{:type :info, :f :cas, :value [0 2], :time 1711660994, :process 27, :error [:unknown "Not Leader"], :index 16}
{:type :invoke, :f :read, :time 2571427710, :process 4, :value nil, :index 24}
{:type :fail, :f :read, :time 2573749470, :process 4, :value nil, :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :read, :time 2676767775, :process 2, :value nil, :index 28}
{:type :fail, :f :read, :time 2679383646, :process 2, :value nil, :error [:unknown "Not Leader"], :index 29}
