{:type :invoke, :f :txn, :value [[:append 9 1] [:r 8 nil] [:r 9 nil]], :time 10727212, :process 16, :index 0}
{:type :invoke, :f :txn, :value [[:append 9 2] [:append 9 3] [:r 8 nil] [:r 9 nil]], :time 36980800, :process 14, :index 1}
{:type :info, :f :txn, :value [[:append 9 1] [:r 8 nil] [:r 9 nil]], :time 52647190, :process 16, :error [:unknown "transaction aborted"], :index 2}
{:type :invoke, :f :txn, :value [[:r 5 nil] [:r 9 nil] [:r 9 nil]], :time 126776998, :process 36, :index 3}
{:type :info, :f :txn, :value [[:r 5 nil] [:r 9 nil] [:r 9 nil]], :time 160959728, :process 36, :error [:unknown "transaction aborted"], :index 4}
{:type :ok, :f :txn, :value [[:append 9 2] [:append 9 3] [:r 8 nil] [:r 9 [2 3]]], :time 183215765, :process 14, :index 5}
{:type :invoke, :f :txn, :value [[:append 8 1]], :time 347612224, :process 5, :index 6}
{:type :ok, :f :txn, :value [[:append 8 1]], :time 465778810, :process 5, :index 7}
{:type :invoke, :f :txn, :value [[:append 9 4] [:append 9 5] [:append 9 6] [:append 8 2]], :time 627710381, :process 6, :index 8}
{:type :ok, :f :txn, :value [[:append 9 4] [:append 9 5] [:append 9 6] [:append 8 2]], :time 779332069, :process 6, :index 9}
{:type :invoke, :f :txn, :value [[:append 4 1] [:append 5 1]], :time 956124172, :process 4, :index 10}
{:type :ok, :f :txn, :value [[:append 4 1] [:append 5 1]], :time 1084619408, :process 4, :index 11}
{:type :invoke, :f :txn, :value [[:r 8 nil] [:r 9 nil]], :time 1119547883, :process 19, :index 12}
{:type :ok, :f :txn, :value [[:r 8 nil] [:r 9 [2 3]]], :time 1246655071, :process 19, :index 13}
{:type :invoke, :f :txn, :value [[:append 7 1] [:r 8 nil]], :time 1277174267, :process 14, :index 14}
{:type :ok, :f :txn, :value [[:append 7 1] [:r 8 nil]], :time 1407973887, :process 14, :index 15}
{:type :invoke, :f :txn, :value [[:append 9 7] [:append 6 1] [:r 8 nil]], :time 1622199942, :process 3, :index 16}
{:type :ok, :f :txn, :value [[:append 9 7] [:append 6 1] [:r 8 nil]], :time 1762753942, :process 3, :index 17}
{:type :invoke, :f :txn, :value [[:r 9 nil] [:append 8 3]], :time 1951595710, :process 17, :index 18}
{:type :ok, :f :txn, :value [[:r 9 nil] [:append 8 3]], :time 2080861342, :process 17, :index 19}
