{:type :invoke, :f :cas, :value [0 1], :time 933786072, :process 18, :index 8}
{:type :info, :f :cas, :value [0 1], :time 936237989, :process 18, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [0 4], :time 1140609036, :process 38, :index 12}
{:type :info, :f :cas, :value [0 4], :time 1142949063, :process 38, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :cas, :value [0 4], :time 1383261066, :process 58, :index 14}
{:type :info, :f :cas, :value [0 4], :time 1385339307, :process 58, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :cas, :value [3 2], :time 1724804861, :process 17, :index 18}
{:type :info, :f :cas, :value [3 2], :time 1732333853, :process 17, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :cas, :value [2 4], :time 1970843467, :process 13, :index 20}
{:type :info, :f :cas, :value [2 4], :time 1976257151, :process 13, :error [:unknown "Not Leader"], :index 21}
