{:type :invoke, :f :cas, :value [0 0], :time 342040367, :process 17, :index 2}
{:type :info, :f :cas, :value [0 0], :time 344865839, :process 17, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [0 0], :time 902424433, :process 12, :index 8}
{:type :info, :f :cas, :value [0 0], :time 905097397, :process 12, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :write, :value 1, :time 1050108190, :process 15, :index 10}
{:type :invoke, :f :cas, :value [1 4], :time 1768306227, :process 19, :index 13}
{:type :info, :f :cas, :value [1 4], :time 1775855610, :process 19, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :cas, :value [2 2], :time 1907681017, :process 16, :index 15}
{:type :info, :f :cas, :value [2 2], :time 1910274713, :process 16, :error [:unknown "Not Leader"], :index 16}
{:type :info, :f :write, :value 1, :time 2050900606, :process 15, :error :net-timeout, :index 17}
{:type :invoke, :f :cas, :value [2 3], :time 2785143971, :process 32, :index 22}
{:type :info, :f :cas, :value [2 3], :time 2787740259, :process 32, :error [:unknown "Not Leader"], :index 23}
