{:type :invoke, :f :read, :time 804306387, :process 2, :value nil, :index 5}
{:type :fail, :f :read, :time 806965716, :process 2, :value nil, :error [:unknown nil], :index 6}
{:type :invoke, :f :read, :time 901077405, :process 3, :value nil, :index 7}
{:type :fail, :f :read, :time 905439773, :process 3, :value nil, :error [:unknown nil], :index 8}
{:type :invoke, :f :cas, :value [2 0], :time 995726970, :process 9, :index 9}
{:type :info, :f :cas, :value [2 0], :time 1003000413, :process 9, :error [:unknown nil], :index 10}
{:type :invoke, :f :cas, :value [2 2], :time 1350522208, :process 29, :index 13}
{:type :info, :f :cas, :value [2 2], :time 1357624734, :process 29, :error [:unknown nil], :index 14}
{:type :invoke, :f :read, :time 1699858354, :process 4, :value nil, :index 16}
{:type :fail, :f :read, :time 1706954979, :process 4, :value nil, :error [:unknown nil], :index 17}
{:type :invoke, :f :read, :time 1931887279, :process 3, :value nil, :index 18}
{:type :fail, :f :read, :time 1938921219, :process 3, :value nil, :error [:unknown nil], :index 19}
{:type :invoke, :f :write, :value 3, :time 1989845699, :process 7, :index 20}
{:type :info, :f :write, :value 3, :time 1993878973, :process 7, :error [:unknown nil], :index 21}
