{:type :invoke, :f :write, :value [1 1], :time 11944484, :process 18, :index 0}
{:type :info, :f :write, :value [1 1], :time 32976278, :process 18, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [0 [3 4]], :time 250081218, :process 8, :index 2}
{:type :info, :f :cas, :value [0 [3 4]], :time 258281878, :process 8, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :write, :value [0 4], :time 361511488, :process 5, :index 4}
{:type :invoke, :f :read, :time 562408204, :process 1, :value [0 nil], :index 5}
{:type :fail, :f :read, :time 571909072, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 6}
{:type :invoke, :f :read, :time 901960083, :process 0, :value [0 nil], :index 7}
{:type :fail, :f :read, :time 907841909, :process 0, :value [0 nil], :error [:unknown "Invalid Key"], :index 8}
{:type :invoke, :f :cas, :value [1 [0 0]], :time 1117235160, :process 13, :index 9}
{:type :info, :f :cas, :value [1 [0 0]], :time 1125232739, :process 13, :error [:unknown "Not Leader"], :index 10}
{:type :invoke, :f :cas, :value [0 [2 2]], :time 1261116793, :process 7, :index 11}
{:type :info, :f :cas, :value [0 [2 2]], :time 1268509065, :process 7, :error [:unknown "Not Leader"], :index 12}
{:type :info, :f :write, :value [0 4], :time 1365961944, :process 5, :error :net-timeout, :index 13}
{:type :invoke, :f :cas, :value [1 [3 4]], :time 1519534741, :process 15, :index 14}
{:type :invoke, :f :write, :value [1 0], :time 1656491193, :process 16, :index 15}
{:type :info, :f :write, :value [1 0], :time 1661301546, :process 16, :error [:unknown "Not Leader"], :index 16}
{:type :info, :f :cas, :value [1 [3 4]], :time 2523330898, :process 15, :error :net-timeout, :index 17}
