{:type :invoke, :f :cas, :value [0 [1 2]], :time 14288869, :process 7, :index 0}
{:type :info, :f :cas, :value [0 [1 2]], :time 38018279, :process 7, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [1 [3 1]], :time 367375317, :process 10, :index 2}
{:type :info, :f :cas, :value [1 [3 1]], :time 375698403, :process 10, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [1 [4 4]], :time 636066356, :process 13, :index 4}
{:type :info, :f :cas, :value [1 [4 4]], :time 643963865, :process 13, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :read, :time 708441933, :process 3, :value [0 nil], :index 6}
{:type :fail, :f :read, :time 715565395, :process 3, :value [0 nil], :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [1 [0 0]], :time 811701025, :process 19, :index 8}
{:type :info, :f :cas, :value [1 [0 0]], :time 819377766, :process 19, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :write, :value [1 2], :time 924421940, :process 11, :index 10}
{:type :info, :f :write, :value [1 2], :time 931620495, :process 11, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :read, :time 1204825718, :process 1, :value [0 nil], :index 12}
{:type :fail, :f :read, :time 1211726913, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :read, :time 1558367877, :process 3, :value [0 nil], :index 14}
{:type :fail, :f :read, :time 1564184953, :process 3, :value [0 nil], :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :cas, :value [1 [0 1]], :time 1759022559, :process 14, :index 16}
{:type :info, :f :cas, :value [1 [0 1]], :time 1764275678, :process 14, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :read, :time 1916927543, :process 1, :value [0 nil], :index 18}
{:type :fail, :f :read, :time 1923448935, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :write, :value [1 0], :time 2132614217, :process 18, :index 20}
{:type :info, :f :write, :value [1 0], :time 2135157408, :process 18, :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :cas, :value [1 [3 2]], :time 2311299934, :process 39, :index 22}
{:type :info, :f :cas, :value [1 [3 2]], :time 2316565208, :process 39, :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :cas, :value [1 [2 0]], :time 2705427324, :process 30, :index 24}
{:type :info, :f :cas, :value [1 [2 0]], :time 2711868439, :process 30, :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :read, :time 2854517580, :process 4, :value [0 nil], :index 26}
{:type :fail, :f :read, :time 2861642170, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :write, :value [0 2], :time 3060867765, :process 5, :index 28}
{:type :info, :f :write, :value [0 2], :time 3067473302, :process 5, :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :read, :time 3077482007, :process 2, :value [0 nil], :index 30}
{:type :fail, :f :read, :time 3082085997, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 31}
{:type :invoke, :f :cas, :value [1 [4 1]], :time 3401824421, :process 12, :index 32}
{:type :info, :f :cas, :value [1 [4 1]], :time 3405916850, :process 12, :error [:unknown "Not Leader"], :index 33}
{:type :invoke, :f :cas, :value [1 [2 2]], :time 3774964827, :process 32, :index 34}
{:type :info, :f :cas, :value [1 [2 2]], :time 3781010970, :process 32, :error [:unknown "Not Leader"], :index 35}
{:type :invoke, :f :read, :time 3982679474, :process 2, :value [0 nil], :index 36}
{:type :fail, :f :read, :time 3988382288, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 37}
{:type :invoke, :f :read, :time 4316794104, :process 3, :value [0 nil], :index 38}
{:type :fail, :f :read, :time 4322178478, :process 3, :value [0 nil], :error [:unknown "Not Leader"], :index 39}
{:type :invoke, :f :read, :time 4477508878, :process 0, :value [0 nil], :index 40}
{:type :fail, :f :read, :time 4483842278, :process 0, :value [0 nil], :error [:unknown "Not Leader"], :index 41}
{:type :invoke, :f :cas, :value [1 [0 1]], :time 4509287972, :process 59, :index 42}
{:type :info, :f :cas, :value [1 [0 1]], :time 4514703487, :process 59, :error [:unknown "Not Leader"], :index 43}
{:type :invoke, :f :write, :value [2 2], :time 4542673631, :process 31, :index 44}
{:type :info, :f :write, :value [2 2], :time 4544684846, :process 31, :error [:unknown "Not Leader"], :index 45}
{:type :invoke, :f :write, :value [2 4], :time 4835097987, :process 15, :index 46}
{:type :info, :f :write, :value [2 4], :time 4840767157, :process 15, :error [:unknown "Not Leader"], :index 47}
{:type :invoke, :f :cas, :value [2 [4 2]], :time 4983471818, :process 51, :index 48}
{:type :info, :f :cas, :value [2 [4 2]], :time 4988967025, :process 51, :error [:unknown "Not Leader"], :index 49}
