{:type :invoke, :f :write, :value 0, :time 55197686, :process 19, :index 3}
{:type :info, :f :write, :value 0, :time 57566944, :process 19, :error [:unknown "Not Leader"], :index 4}
{:type :invoke, :f :cas, :value [4 3], :time 76400781, :process 15, :index 5}
{:type :invoke, :f :cas, :value [2 1], :time 139669571, :process 13, :index 6}
{:type :info, :f :cas, :value [2 1], :time 143811297, :process 13, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :write, :value 0, :time 525743763, :process 11, :index 8}
{:type :info, :f :write, :value 0, :time 534451974, :process 11, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [0 0], :time 831813652, :process 14, :index 10}
{:type :info, :f :cas, :value [0 0], :time 837721003, :process 14, :error [:unknown "Not Leader"], :index 11}
{:type :info, :f :cas, :value [4 3], :time 1077895335, :process 15, :error :net-timeout, :index 15}
{:type :invoke, :f :cas, :value [4 0], :time 1696909905, :process 17, :index 20}
{:type :info, :f :cas, :value [4 0], :time 1705655580, :process 17, :error [:unknown "Not Leader"], :index 21}
