{:type :invoke, :f :read, :time 130815746, :process 0, :value nil, :index 2}
{:type :fail, :f :read, :time 144338097, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 3}
{:type :invoke, :f :write, :value 4, :time 321341643, :process 6, :index 4}
{:type :info, :f :write, :value 4, :time 324273734, :process 6, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :read, :time 728619342, :process 4, :value nil, :index 9}
{:type :fail, :f :read, :time 731071562, :process 4, :value nil, :error [:unknown "Not Leader"], :index 10}
{:type :invoke, :f :read, :time 1179974454, :process 2, :value nil, :index 13}
{:type :fail, :f :read, :time 1187087037, :process 2, :value nil, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :cas, :value [3 3], :time 1756457541, :process 5, :index 18}
{:type :invoke, :f :read, :time 2377023386, :process 4, :value nil, :index 21}
{:type :fail, :f :read, :time 2379083786, :process 4, :value nil, :error [:unknown "Not Leader"], :index 22}
{:type :info, :f :cas, :value [3 3], :time 2757230971, :process 5, :error :net-timeout, :index 25}
{:type :invoke, :f :write, :value 0, :time 3121406888, :process 9, :index 31}
{:type :info, :f :write, :value 0, :time 3123187641, :process 9, :error [:unknown "Not Leader"], :index 32}
{:type :invoke, :f :read, :time 3333954494, :process 4, :value nil, :index 33}
{:type :fail, :f :read, :time 3337070499, :process 4, :value nil, :error [:unknown "Not Leader"], :index 34}
{:type :invoke, :f :cas, :value [1 1], :time 4654152803, :process 25, :index 47}
{:type :invoke, :f :read, :time 4682740831, :process 3, :value nil, :index 48}
{:type :fail, :f :read, :time 4684877668, :process 3, :value nil, :error [:unknown "Not Leader"], :index 49}
{:type :invoke, :f :write, :value 2, :time 4854711305, :process 7, :index 50}
{:type :info, :f :write, :value 2, :time 4856830734, :process 7, :error [:unknown "Not Leader"], :index 51}
{:type :info, :f :cas, :value [1 1], :time 5654805049, :process 25, :error :net-timeout, :index 53}
