{:type :invoke, :f :write, :value 1, :time 11882660, :process 7, :index 0}
{:type :info, :f :write, :value 1, :time 30508427, :process 7, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [3 3], :time 76603932, :process 27, :index 2}
{:type :info, :f :cas, :value [3 3], :time 79696523, :process 27, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :read, :time 243270632, :process 1, :value nil, :index 4}
{:type :fail, :f :read, :time 248777188, :process 1, :value nil, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [0 4], :time 1340889900, :process 9, :index 12}
{:type :info, :f :cas, :value [0 4], :time 1347736168, :process 9, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :read, :time 1653875511, :process 3, :value nil, :index 18}
{:type :fail, :f :read, :time 1661264293, :process 3, :value nil, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :read, :time 1753939644, :process 0, :value nil, :index 20}
{:type :fail, :f :read, :time 1761472657, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 21}
{:type :invoke, :f :cas, :value [0 2], :time 1809606677, :process 29, :index 22}
{:type :info, :f :cas, :value [0 2], :time 1812797966, :process 29, :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :read, :time 2094390226, :process 0, :value nil, :index 24}
{:type :fail, :f :read, :time 2100092110, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 25}
