{:type :invoke, :f :cas, :value [2 1], :time 10155022, :process 6, :index 0}
{:type :info, :f :cas, :value [2 1], :time 28330638, :process 6, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [2 4], :time 1039241791, :process 8, :index 8}
{:type :info, :f :cas, :value [2 4], :time 1046081945, :process 8, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [2 2], :time 1347095178, :process 9, :index 11}
{:type :info, :f :cas, :value [2 2], :time 1354821354, :process 9, :error [:unknown "Not Leader"], :index 12}
{:type :invoke, :f :write, :value 4, :time 1440794366, :process 28, :index 13}
{:type :info, :f :write, :value 4, :time 1447862880, :process 28, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :cas, :value [3 4], :time 1716363739, :process 26, :index 18}
{:type :info, :f :cas, :value [3 4], :time 1723311252, :process 26, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :cas, :value [4 1], :time 2120012977, :process 48, :index 22}
{:type :info, :f :cas, :value [4 1], :time 2127859089, :process 48, :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :write, :value 1, :time 2440542027, :process 29, :index 24}
{:type :info, :f :write, :value 1, :time 2447565918, :process 29, :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :read, :time 2610220825, :process 4, :value nil, :index 28}
{:type :fail, :f :read, :time 2614629882, :process 4, :value nil, :error [:unknown "Not Leader"], :index 29}
