{:type :invoke, :f :read, :time 9556492, :process 4, :value nil, :index 0}
{:type :fail, :f :read, :time 34117970, :process 4, :value nil, :error [:unknown nil], :index 1}
{:type :invoke, :f :read, :time 999598865, :process 0, :value nil, :index 8}
{:type :fail, :f :read, :time 1007140568, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 9}
{:type :invoke, :f :read, :time 1037521491, :process 4, :value nil, :index 10}
{:type :fail, :f :read, :time 1044273578, :process 4, :value nil, :error [:unknown nil], :index 11}
{:type :invoke, :f :read, :time 1404023539, :process 3, :value nil, :index 12}
{:type :fail, :f :read, :time 1411466721, :process 3, :value nil, :error [:unknown nil], :index 13}
