{:type :invoke, :f :cas, :value [1 2], :time 14288869, :process 7, :index 0}
{:type :info, :f :cas, :value [1 2], :time 38018279, :process 7, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :read, :time 708441933, :process 3, :value nil, :index 6}
{:type :fail, :f :read, :time 715565395, :process 3, :value nil, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :read, :time 1204825718, :process 1, :value nil, :index 12}
{:type :fail, :f :read, :time 1211726913, :process 1, :value nil, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :read, :time 1558367877, :process 3, :value nil, :index 14}
{:type :fail, :f :read, :time 1564184953, :process 3, :value nil, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :read, :time 1916927543, :process 1, :value nil, :index 18}
{:type :fail, :f :read, :time 1923448935, :process 1, :value nil, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :read, :time 2854517580, :process 4, :value nil, :index 26}
{:type :fail, :f :read, :time 2861642170, :process 4, :value nil, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :write, :value 2, :time 3060867765, :process 5, :index 28}
{:type :info, :f :write, :value 2, :time 3067473302, :process 5, :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :read, :time 3077482007, :process 2, :value nil, :index 30}
{:type :fail, :f :read, :time 3082085997, :process 2, :value nil, :error [:unknown "Not Leader"], :index 31}
{:type :invoke, :f :read, :time 3982679474, :process 2, :value nil, :index 36}
{:type :fail, :f :read, :time 3988382288, :process 2, :value nil, :error [:unknown "Not Leader"], :index 37}
{:type :invoke, :f :read, :time 4316794104, :process 3, :value nil, :index 38}
{:type :fail, :f :read, :time 4322178478, :process 3, :value nil, :error [:unknown "Not Leader"], :index 39}
{:type :invoke, :f :read, :time 4477508878, :process 0, :value nil, :index 40}
{:type :fail, :f :read, :time 4483842278, :process 0, :value nil, :error [:unknown "Not Leader"], :index 41}
