{:type :invoke, :f :write, :value 3, :time 11993079, :process 9, :index 0}
{:type :info, :f :write, :value 3, :time 32243556, :process 9, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :read, :time 185361047, :process 1, :value nil, :index 2}
{:type :fail, :f :read, :time 196271324, :process 1, :value nil, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :read, :time 627708724, :process 0, :value nil, :index 10}
{:type :fail, :f :read, :time 634262086, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 11}
{:type :invoke, :f :read, :time 968380187, :process 2, :value nil, :index 16}
{:type :fail, :f :read, :time 975342578, :process 2, :value nil, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :read, :time 1294751584, :process 4, :value nil, :index 18}
{:type :fail, :f :read, :time 1301133784, :process 4, :value nil, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :cas, :value [3 4], :time 1703365613, :process 29, :index 28}
{:type :info, :f :cas, :value [3 4], :time 1709477094, :process 29, :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :read, :time 1800859005, :process 2, :value nil, :index 30}
{:type :fail, :f :read, :time 1807057138, :process 2, :value nil, :error [:unknown "Not Leader"], :index 31}
