{:type :invoke, :f :cas, :value [0 1], :time 16275143, :process 12, :index 0}
{:type :info, :f :cas, :value [0 1], :time 48571231, :process 12, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [4 3], :time 1119874182, :process 11, :index 12}
{:type :info, :f :cas, :value [4 3], :time 1128526094, :process 11, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :cas, :value [4 1], :time 1963677796, :process 15, :index 22}
{:type :info, :f :cas, :value [4 1], :time 1971080111, :process 15, :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :cas, :value [0 2], :time 2282193554, :process 35, :index 26}
{:type :info, :f :cas, :value [0 2], :time 2289072902, :process 35, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :cas, :value [0 4], :time 2312395692, :process 31, :index 28}
{:type :info, :f :cas, :value [0 4], :time 2316480896, :process 31, :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :write, :value 2, :time 3421273184, :process 55, :index 38}
{:type :info, :f :write, :value 2, :time 3426966935, :process 55, :error [:unknown "Not Leader"], :index 40}
{:type :invoke, :f :write, :value 3, :time 3713100340, :process 14, :index 42}
{:type :info, :f :write, :value 3, :time 3715145844, :process 14, :error [:unknown "Not Leader"], :index 43}
{:type :invoke, :f :cas, :value [2 0], :time 4376301883, :process 17, :index 46}
{:type :info, :f :cas, :value [2 0], :time 4384854285, :process 17, :error [:unknown "Not Leader"], :index 47}
