{:type :invoke, :f :cas, :value [0 0], :time 659562403, :process 5, :index 6}
{:type :info, :f :cas, :value [0 0], :time 662477940, :process 5, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :read, :time 680551605, :process 3, :value nil, :index 8}
{:type :fail, :f :read, :time 682977161, :process 3, :value nil, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :read, :time 918462980, :process 4, :value nil, :index 10}
{:type :fail, :f :read, :time 925476790, :process 4, :value nil, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :write, :value 3, :time 1021402171, :process 25, :index 12}
{:type :info, :f :write, :value 3, :time 1023778891, :process 25, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :read, :time 2892607934, :process 4, :value nil, :index 26}
{:type :fail, :f :read, :time 2899844984, :process 4, :value nil, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :cas, :value [4 2], :time 3687776765, :process 45, :index 32}
{:type :info, :f :cas, :value [4 2], :time 3690323727, :process 45, :error [:unknown "Not Leader"], :index 33}
{:type :invoke, :f :read, :time 4563669242, :process 1, :value nil, :index 38}
{:type :fail, :f :read, :time 4566162568, :process 1, :value nil, :error [:unknown "Not Leader"], :index 39}
{:type :invoke, :f :read, :time 4815659494, :process 0, :value nil, :index 40}
{:type :fail, :f :read, :time 4817892305, :process 0, :value nil, :error [:unknown "Not Leader"], :index 41}
{:type :invoke, :f :cas, :value [2 0], :time 4921693716, :process 9, :index 44}
{:type :info, :f :cas, :value [2 0], :time 4923573556, :process 9, :error [:unknown "Not Leader"], :index 45}
{:type :invoke, :f :cas, :value [1 0], :time 5006289899, :process 65, :index 46}
{:type :info, :f :cas, :value [1 0], :time 5008914153, :process 65, :error [:unknown "Not Leader"], :index 47}
