{:type :invoke, :f :write, :value 0, :time 4482888911, :process 74, :index 41}
{:type :info, :f :write, :value 0, :time 4489822084, :process 74, :error [:unknown "Not Leader"], :index 42}
{:type :invoke, :f :write, :value 0, :time 5145320154, :process 11, :index 45}
{:type :info, :f :write, :value 0, :time 5151130002, :process 11, :error [:unknown "Not Leader"], :index 46}
{:type :invoke, :f :write, :value 4, :time 5603212011, :process 31, :index 50}
{:type :info, :f :write, :value 4, :time 5608698852, :process 31, :error [:unknown "Not Leader"], :index 51}
{:type :invoke, :f :write, :value 3, :time 6043292980, :process 35, :index 56}
{:type :info, :f :write, :value 3, :time 7045732101, :process 35, :error :net-timeout, :index 65}
{:type :invoke, :f :cas, :value [0 2], :time 7159870727, :process 10, :index 66}
{:type :info, :f :cas, :value [0 2], :time 8162556781, :process 10, :error :net-timeout, :index 73}
{:type :invoke, :f :cas, :value [3 3], :time 8166616216, :process 30, :index 74}
{:type :invoke, :f :cas, :value [1 2], :time 8433286110, :process 33, :index 77}
{:type :info, :f :cas, :value [1 2], :time 8438820745, :process 33, :error [:unknown "Not Leader"], :index 78}
{:type :invoke, :f :write, :value 1, :time 8727024152, :process 55, :index 79}
{:type :invoke, :f :cas, :value [0 0], :time 9048163628, :process 36, :index 80}
{:type :info, :f :cas, :value [0 0], :time 9053210025, :process 36, :error [:unknown "Not Leader"], :index 81}
{:type :info, :f :cas, :value [3 3], :time 9169418089, :process 30, :error :net-timeout, :index 82}
{:type :info, :f :write, :value 1, :time 9729602682, :process 55, :error :net-timeout, :index 86}
{:type :invoke, :f :cas, :value [2 0], :time 9930137439, :process 51, :index 89}
{:type :info, :f :cas, :value [2 0], :time 9935151484, :process 51, :error [:unknown "Not Leader"], :index 90}
