{:type :invoke, :f :write, :value 4, :time 8816838940, :process 119, :index 81}
{:type :info, :f :write, :value 4, :time 8822665296, :process 119, :error [:unknown "Not Leader"], :index 82}
{:type :invoke, :f :cas, :value [4 3], :time 9014966098, :process 74, :index 83}
{:type :info, :f :cas, :value [4 3], :time 9020728857, :process 74, :error [:unknown "Not Leader"], :index 84}
{:type :invoke, :f :cas, :value [4 0], :time 9984595238, :process 72, :index 94}
{:type :info, :f :cas, :value [4 0], :time 9989835750, :process 72, :error [:unknown "Not Leader"], :index 95}
