{:type :invoke, :f :read, :time 286228143, :process 3, :value nil, :index 2}
{:type :fail, :f :read, :time 294247934, :process 3, :value nil, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :read, :time 1818010468, :process 1, :value nil, :index 15}
{:type :fail, :f :read, :time 1823863050, :process 1, :value nil, :error [:unknown "Not Leader"], :index 16}
{:type :invoke, :f :write, :value 2, :time 2481404403, :process 7, :index 22}
{:type :info, :f :write, :value 2, :time 2488586420, :process 7, :error [:unknown "Not Leader"], :index 23}
