{:type :invoke, :f :write, :value 0, :time 10538971, :process 12, :index 0}
{:type :info, :f :write, :value 0, :time 32824366, :process 12, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value 2, :time 558964464, :process 13, :index 4}
{:type :info, :f :write, :value 2, :time 567557457, :process 13, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [2 0], :time 870012276, :process 19, :index 8}
{:type :info, :f :cas, :value [2 0], :time 878503412, :process 19, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [4 0], :time 982991006, :process 14, :index 10}
{:type :info, :f :cas, :value [4 0], :time 990096606, :process 14, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :write, :value 3, :time 1875276632, :process 18, :index 20}
{:type :info, :f :write, :value 3, :time 1881954704, :process 18, :error [:unknown "Not Leader"], :index 21}
