{:type :invoke, :f :cas, :value [1 0], :time 23047946, :process 10, :index 0}
{:type :invoke, :f :cas, :value [0 4], :time 544367971, :process 12, :index 4}
{:type :info, :f :cas, :value [0 4], :time 547641592, :process 12, :error [:unknown "Not Leader"], :index 5}
{:type :info, :f :cas, :value [1 0], :time 1040460399, :process 10, :error :net-timeout, :index 10}
{:type :invoke, :f :cas, :value [2 2], :time 1083677240, :process 32, :index 11}
{:type :info, :f :cas, :value [2 2], :time 1086004011, :process 32, :error [:unknown "Not Leader"], :index 12}
{:type :invoke, :f :write, :value 3, :time 1136254236, :process 52, :index 13}
{:type :info, :f :write, :value 3, :time 1139091452, :process 52, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :cas, :value [4 1], :time 1373725737, :process 13, :index 18}
{:type :info, :f :cas, :value [4 1], :time 1376796665, :process 13, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :cas, :value [1 1], :time 1969762699, :process 14, :index 23}
{:type :info, :f :cas, :value [1 1], :time 1974771385, :process 14, :error [:unknown "Not Leader"], :index 24}
