{:type :invoke, :f :cas, :value [0 3], :time 438955423, :process 6, :index 6}
{:type :info, :f :cas, :value [0 3], :time 442240278, :process 6, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [3 1], :time 742862726, :process 26, :index 8}
{:type :info, :f :cas, :value [3 1], :time 749901393, :process 26, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :read, :time 824830635, :process 4, :value nil, :index 10}
{:type :fail, :f :read, :time 827041411, :process 4, :value nil, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :write, :value 3, :time 1199309879, :process 5, :index 16}
{:type :invoke, :f :read, :time 1482612612, :process 0, :value nil, :index 17}
{:type :fail, :f :read, :time 1487905206, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 18}
{:type :info, :f :write, :value 3, :time 2199846551, :process 5, :error :net-timeout, :index 21}
