{:type :invoke, :f :cas, :value [4 3], :time 12675011, :process 7, :index 0}
{:type :info, :f :cas, :value [4 3], :time 32297937, :process 7, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :read, :time 122762740, :process 4, :value nil, :index 2}
{:type :fail, :f :read, :time 125744433, :process 4, :value nil, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :read, :time 459059197, :process 4, :value nil, :index 6}
{:type :fail, :f :read, :time 461469058, :process 4, :value nil, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :read, :time 1259916100, :process 1, :value nil, :index 12}
{:type :fail, :f :read, :time 1262503298, :process 1, :value nil, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :read, :time 1552265168, :process 1, :value nil, :index 14}
{:type :fail, :f :read, :time 1554638405, :process 1, :value nil, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :read, :time 1767639056, :process 2, :value nil, :index 16}
{:type :fail, :f :read, :time 1770638713, :process 2, :value nil, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :read, :time 1989523173, :process 2, :value nil, :index 20}
{:type :fail, :f :read, :time 1993077945, :process 2, :value nil, :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :cas, :value [1 0], :time 2164080994, :process 5, :index 22}
{:type :info, :f :cas, :value [1 0], :time 2166694545, :process 5, :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :read, :time 2677563311, :process 0, :value nil, :index 26}
{:type :fail, :f :read, :time 2679923627, :process 0, :value nil, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :cas, :value [2 2], :time 2827807774, :process 25, :index 28}
{:type :info, :f :cas, :value [2 2], :time 2830412607, :process 25, :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :cas, :value [3 4], :time 3078026449, :process 27, :index 30}
{:type :info, :f :cas, :value [3 4], :time 3080066427, :process 27, :error [:unknown "Not Leader"], :index 31}
{:type :invoke, :f :read, :time 3157858173, :process 3, :value nil, :index 32}
{:type :fail, :f :read, :time 3161475180, :process 3, :value nil, :error [:unknown "Not Leader"], :index 33}
{:type :invoke, :f :read, :time 3643543267, :process 3, :value nil, :index 40}
{:type :fail, :f :read, :time 3645530987, :process 3, :value nil, :error [:unknown "Not Leader"], :index 41}
{:type :invoke, :f :cas, :value [3 0], :time 4024059801, :process 9, :index 42}
{:type :info, :f :cas, :value [3 0], :time 4031243719, :process 9, :error [:unknown "Not Leader"], :index 43}
{:type :invoke, :f :cas, :value [2 2], :time 4378667149, :process 8, :index 46}
{:type :info, :f :cas, :value [2 2], :time 4380942283, :process 8, :error [:unknown "Not Leader"], :index 47}
