{:type :invoke, :f :cas, :value [4 1], :time 249626313, :process 9, :index 2}
{:type :info, :f :cas, :value [4 1], :time 258884510, :process 9, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [3 3], :time 284730609, :process 7, :index 4}
{:type :info, :f :cas, :value [3 3], :time 293101703, :process 7, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :read, :time 1125870394, :process 0, :value nil, :index 13}
{:type :fail, :f :read, :time 1133970949, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 14}
{:type :invoke, :f :read, :time 1229789358, :process 3, :value nil, :index 15}
{:type :fail, :f :read, :time 1236788297, :process 3, :value nil, :error [:unknown "Not Leader"], :index 16}
{:type :invoke, :f :read, :time 2193137674, :process 2, :value nil, :index 25}
{:type :fail, :f :read, :time 2195467930, :process 2, :value nil, :error [:unknown "Not Leader"], :index 26}
{:type :invoke, :f :write, :value 4, :time 2471520652, :process 27, :index 31}
{:type :info, :f :write, :value 4, :time 2478193129, :process 27, :error [:unknown "Not Leader"], :index 32}
{:type :invoke, :f :read, :time 2480425284, :process 0, :value nil, :index 33}
{:type :fail, :f :read, :time 2485714415, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 34}
