{:type :invoke, :f :cas, :value [4 2], :time 12394650, :process 6, :index 0}
{:type :info, :f :cas, :value [4 2], :time 33342417, :process 6, :error [:unknown "Not Leader"], :index 2}
{:type :invoke, :f :write, :value 2, :time 617654931, :process 7, :index 5}
{:type :info, :f :write, :value 2, :time 628573616, :process 7, :error [:unknown "Not Leader"], :index 6}
{:type :invoke, :f :read, :time 793503466, :process 1, :value nil, :index 7}
{:type :fail, :f :read, :time 802809030, :process 1, :value nil, :error [:unknown "Not Leader"], :index 8}
{:type :invoke, :f :read, :time 1100748339, :process 2, :value nil, :index 11}
{:type :fail, :f :read, :time 1107812519, :process 2, :value nil, :error [:unknown "Not Leader"], :index 12}
{:type :invoke, :f :read, :time 2103818989, :process 4, :value nil, :index 18}
{:type :fail, :f :read, :time 2106037700, :process 4, :value nil, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :cas, :value [0 0], :time 2536692716, :process 5, :index 21}
{:type :invoke, :f :read, :time 3212978169, :process 3, :value nil, :index 26}
{:type :fail, :f :read, :time 3219935623, :process 3, :value nil, :error [:unknown "Not Leader"], :index 27}
{:type :info, :f :cas, :value [0 0], :time 3538696449, :process 5, :error :net-timeout, :index 31}
{:type :invoke, :f :read, :time 4015825699, :process 1, :value nil, :index 38}
{:type :fail, :f :read, :time 4017697813, :process 1, :value nil, :error [:unknown "Not Leader"], :index 39}
{:type :invoke, :f :cas, :value [3 2], :time 4847984413, :process 9, :index 48}
{:type :info, :f :cas, :value [3 2], :time 4850646187, :process 9, :error [:unknown "Not Leader"], :index 49}
{:type :invoke, :f :write, :value 3, :time 4938542561, :process 25, :index 50}
{:type :info, :f :write, :value 3, :time 5938899323, :process 25, :error :net-timeout, :index 51}
