{:type :invoke, :f :write, :value [0 0], :time 12536697, :process 5, :index 0}
{:type :info, :f :write, :value [0 0], :time 34048981, :process 5, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value [0 2], :time 301125868, :process 7, :index 2}
{:type :info, :f :write, :value [0 2], :time 308846116, :process 7, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [1 [3 0]], :time 345611752, :process 16, :index 4}
{:type :info, :f :cas, :value [1 [3 0]], :time 354811483, :process 16, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [0 [1 2]], :time 594928362, :process 25, :index 6}
{:type :info, :f :cas, :value [0 [1 2]], :time 598165707, :process 25, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [1 [3 3]], :time 693379185, :process 11, :index 8}
{:type :info, :f :cas, :value [1 [3 3]], :time 697427368, :process 11, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :read, :time 719759682, :process 4, :value [0 nil], :index 10}
{:type :fail, :f :read, :time 725628954, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [0 [4 4]], :time 988817276, :process 27, :index 12}
{:type :info, :f :cas, :value [0 [4 4]], :time 996103418, :process 27, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :read, :time 1121218878, :process 1, :value [0 nil], :index 14}
{:type :fail, :f :read, :time 1129074710, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :read, :time 1154307355, :process 2, :value [0 nil], :index 16}
{:type :fail, :f :read, :time 1160110895, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :read, :time 1277206884, :process 0, :value [0 nil], :index 18}
{:type :fail, :f :read, :time 1281416445, :process 0, :value [0 nil], :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :write, :value [1 3], :time 1330221377, :process 12, :index 20}
{:type :info, :f :write, :value [1 3], :time 1332667662, :process 12, :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :cas, :value [1 [1 3]], :time 1500865972, :process 19, :index 22}
{:type :info, :f :cas, :value [1 [1 3]], :time 1507676466, :process 19, :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :cas, :value [1 [1 0]], :time 1803370618, :process 17, :index 24}
{:type :info, :f :cas, :value [1 [1 0]], :time 1806598279, :process 17, :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :read, :time 2081664630, :process 0, :value [0 nil], :index 26}
{:type :fail, :f :read, :time 2088522093, :process 0, :value [0 nil], :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :read, :time 2216203072, :process 0, :value [0 nil], :index 28}
{:type :fail, :f :read, :time 2222437372, :process 0, :value [0 nil], :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :read, :time 2292516387, :process 4, :value [0 nil], :index 30}
{:type :fail, :f :read, :time 2297988082, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 31}
{:type :invoke, :f :read, :time 2454894411, :process 2, :value [0 nil], :index 32}
{:type :fail, :f :read, :time 2461620541, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 33}
{:type :invoke, :f :write, :value [1 4], :time 2804210602, :process 10, :index 34}
{:type :info, :f :write, :value [1 4], :time 2811075479, :process 10, :error [:unknown "Not Leader"], :index 35}
{:type :invoke, :f :cas, :value [0 [2 4]], :time 3152829563, :process 9, :index 36}
{:type :info, :f :cas, :value [0 [2 4]], :time 3159259305, :process 9, :error [:unknown "Not Leader"], :index 37}
{:type :invoke, :f :cas, :value [1 [3 1]], :time 3382835976, :process 14, :index 38}
{:type :info, :f :cas, :value [1 [3 1]], :time 3389411763, :process 14, :error [:unknown "Not Leader"], :index 39}
{:type :invoke, :f :cas, :value [0 [3 2]], :time 3779941039, :process 6, :index 40}
{:type :info, :f :cas, :value [0 [3 2]], :time 3786889374, :process 6, :error [:unknown "Not Leader"], :index 41}
{:type :invoke, :f :cas, :value [1 [3 2]], :time 4042597828, :process 34, :index 42}
{:type :info, :f :cas, :value [1 [3 2]], :time 4048665558, :process 34, :error [:unknown "Not Leader"], :index 43}
{:type :invoke, :f :read, :time 4261340444, :process 4, :value [0 nil], :index 44}
{:type :fail, :f :read, :time 4267136020, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 45}
{:type :invoke, :f :write, :value [0 4], :time 4630792809, :process 45, :index 46}
{:type :info, :f :write, :value [0 4], :time 4648237525, :process 45, :error [:unknown "Not Leader"], :index 47}
{:type :invoke, :f :cas, :value [0 [3 2]], :time 4662948595, :process 29, :index 48}
{:type :info, :f :cas, :value [0 [3 2]], :time 4664921903, :process 29, :error [:unknown "Not Leader"], :index 49}
{:type :invoke, :f :write, :value [1 0], :time 4815323570, :process 31, :index 50}
{:type :info, :f :write, :value [1 0], :time 4821068699, :process 31, :error [:unknown "Not Leader"], :index 51}
