{:type :invoke, :f :write, :value 1, :time 351496687, :process 19, :index 2}
{:type :info, :f :write, :value 1, :time 359074689, :process 19, :error [:unknown nil], :index 3}
{:type :invoke, :f :write, :value 1, :time 584837188, :process 39, :index 4}
{:type :info, :f :write, :value 1, :time 592326357, :process 39, :error [:unknown nil], :index 5}
{:type :invoke, :f :cas, :value [4 4], :time 615153395, :process 12, :index 6}
{:type :info, :f :cas, :value [4 4], :time 622833863, :process 12, :error [:unknown nil], :index 7}
{:type :invoke, :f :write, :value 1, :time 1071623569, :process 14, :index 10}
{:type :info, :f :write, :value 1, :time 1079387173, :process 14, :error [:unknown nil], :index 11}
{:type :invoke, :f :write, :value 2, :time 1489838276, :process 15, :index 16}
{:type :info, :f :write, :value 2, :time 1497075505, :process 15, :error [:unknown nil], :index 17}
