{:type :invoke, :f :write, :value 4, :time 1089169897, :process 8, :index 8}
{:type :info, :f :write, :value 4, :time 1091468363, :process 8, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [4 3], :time 1192227120, :process 28, :index 10}
{:type :info, :f :cas, :value [4 3], :time 1194461643, :process 28, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :read, :time 1652993584, :process 1, :value nil, :index 14}
{:type :fail, :f :read, :time 1655157887, :process 1, :value nil, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :cas, :value [3 1], :time 1898653968, :process 7, :index 18}
{:type :info, :f :cas, :value [3 1], :time 1901157749, :process 7, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :read, :time 2811338682, :process 0, :value nil, :index 24}
{:type :fail, :f :read, :time 3811715042, :process 0, :value nil, :error :net-timeout, :index 25}
