{:type :invoke, :f :write, :value 3, :time 10984094, :process 10, :index 0}
{:type :invoke, :f :cas, :value [0 2], :time 283889323, :process 18, :index 1}
{:type :info, :f :cas, :value [0 2], :time 301734905, :process 18, :error [:unknown "Not Leader"], :index 2}
{:type :invoke, :f :cas, :value [0 3], :time 904038365, :process 16, :index 5}
{:type :info, :f :cas, :value [0 3], :time 908280927, :process 16, :error [:unknown "Not Leader"], :index 6}
{:type :info, :f :write, :value 3, :time 1027667366, :process 10, :error :net-timeout, :index 7}
{:type :invoke, :f :cas, :value [3 1], :time 1067902174, :process 38, :index 8}
{:type :info, :f :cas, :value [3 1], :time 1074980058, :process 38, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [3 1], :time 1296632631, :process 58, :index 10}
{:type :info, :f :cas, :value [3 1], :time 1302825315, :process 58, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [1 0], :time 1699436623, :process 19, :index 18}
{:type :info, :f :cas, :value [1 0], :time 1701497340, :process 19, :error [:unknown "Not Leader"], :index 19}
