{:type :invoke, :f :cas, :value [2 1], :time 11990605, :process 18, :index 0}
{:type :info, :f :cas, :value [2 1], :time 32798118, :process 18, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [4 1], :time 293694472, :process 15, :index 6}
{:type :invoke, :f :cas, :value [1 4], :time 625649186, :process 17, :index 7}
{:type :info, :f :cas, :value [1 4], :time 633333217, :process 17, :error [:unknown "Not Leader"], :index 8}
{:type :invoke, :f :cas, :value [2 2], :time 856810032, :process 13, :index 9}
{:type :info, :f :cas, :value [2 2], :time 864345561, :process 13, :error [:unknown "Not Leader"], :index 10}
{:type :invoke, :f :cas, :value [2 4], :time 982556702, :process 11, :index 11}
{:type :info, :f :cas, :value [2 4], :time 990347936, :process 11, :error [:unknown "Not Leader"], :index 12}
{:type :info, :f :cas, :value [4 1], :time 1296376473, :process 15, :error :net-timeout, :index 17}
{:type :invoke, :f :write, :value 2, :time 1353924509, :process 19, :index 18}
{:type :info, :f :write, :value 2, :time 1357973500, :process 19, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :write, :value 4, :time 1668652402, :process 33, :index 20}
{:type :info, :f :write, :value 4, :time 1675624663, :process 33, :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :write, :value 3, :time 1742136799, :process 35, :index 22}
{:type :invoke, :f :cas, :value [1 4], :time 2140677667, :process 39, :index 23}
{:type :info, :f :cas, :value [1 4], :time 2147813960, :process 39, :error [:unknown "Not Leader"], :index 24}
{:type :invoke, :f :write, :value 2, :time 2270483036, :process 16, :index 27}
{:type :info, :f :write, :value 2, :time 2272653696, :process 16, :error [:unknown "Not Leader"], :index 28}
{:type :invoke, :f :write, :value 0, :time 2292864487, :process 38, :index 29}
{:type :info, :f :write, :value 0, :time 2294856341, :process 38, :error [:unknown "Not Leader"], :index 30}
{:type :info, :f :write, :value 3, :time 2744693689, :process 35, :error :net-timeout, :index 35}
