{:type :invoke, :f :write, :value 0, :time 9337518, :process 7, :index 0}
{:type :info, :f :write, :value 0, :time 25561243, :process 7, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value 2, :time 760091271, :process 6, :index 5}
{:type :info, :f :write, :value 2, :time 766395448, :process 6, :error [:unknown "Not Leader"], :index 6}
{:type :invoke, :f :read, :time 825728007, :process 1, :value nil, :index 7}
{:type :fail, :f :read, :time 828648234, :process 1, :value nil, :error [:unknown "Not Leader"], :index 8}
{:type :invoke, :f :cas, :value [4 0], :time 1255543162, :process 9, :index 13}
{:type :info, :f :cas, :value [4 0], :time 1259632476, :process 9, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :cas, :value [2 0], :time 1423248709, :process 8, :index 16}
{:type :info, :f :cas, :value [2 0], :time 1430859048, :process 8, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :read, :time 1783415175, :process 3, :value nil, :index 18}
{:type :fail, :f :read, :time 1790857855, :process 3, :value nil, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :cas, :value [3 2], :time 1894326707, :process 29, :index 20}
{:type :info, :f :cas, :value [3 2], :time 1900135014, :process 29, :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :cas, :value [3 1], :time 2505328043, :process 5, :index 24}
{:type :invoke, :f :read, :time 2874865553, :process 3, :value nil, :index 29}
{:type :fail, :f :read, :time 2876943265, :process 3, :value nil, :error [:unknown "Not Leader"], :index 30}
{:type :info, :f :cas, :value [3 1], :time 3506167541, :process 5, :error :net-timeout, :index 31}
