{:type :invoke, :f :cas, :value [3 3], :time 15554696, :process 17, :index 0}
{:type :info, :f :cas, :value [3 3], :time 33576017, :process 17, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value 2, :time 174342064, :process 19, :index 2}
{:type :info, :f :write, :value 2, :time 181460193, :process 19, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :write, :value 2, :time 227886516, :process 37, :index 6}
{:type :info, :f :write, :value 2, :time 237602220, :process 37, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :write, :value 4, :time 719476331, :process 14, :index 10}
{:type :info, :f :write, :value 4, :time 723875181, :process 14, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :write, :value 4, :time 1137226069, :process 13, :index 14}
{:type :info, :f :write, :value 4, :time 1152985240, :process 13, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :cas, :value [2 4], :time 1554339266, :process 15, :index 21}
{:type :info, :f :cas, :value [2 4], :time 2555683595, :process 15, :error :net-timeout, :index 25}
