{:type :invoke, :f :cas, :value [1 1], :time 489257458, :process 7, :index 4}
{:type :info, :f :cas, :value [1 1], :time 496636643, :process 7, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [2 1], :time 972064896, :process 6, :index 8}
{:type :info, :f :cas, :value [2 1], :time 979383037, :process 6, :error [:unknown "Not Leader"], :index 9}
