{:type :invoke, :f :cas, :value [4 2], :time 23958554, :process 11, :index 0}
{:type :info, :f :cas, :value [4 2], :time 43831524, :process 11, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [2 3], :time 490630844, :process 15, :index 6}
{:type :invoke, :f :cas, :value [3 2], :time 522589461, :process 18, :index 7}
{:type :info, :f :cas, :value [3 2], :time 525536943, :process 18, :error [:unknown "Not Leader"], :index 8}
{:type :invoke, :f :cas, :value [1 2], :time 906466201, :process 19, :index 11}
{:type :info, :f :cas, :value [1 2], :time 909538138, :process 19, :error [:unknown "Not Leader"], :index 12}
{:type :invoke, :f :write, :value 0, :time 1449329737, :process 16, :index 15}
{:type :info, :f :write, :value 0, :time 1451738526, :process 16, :error [:unknown "Not Leader"], :index 16}
{:type :info, :f :cas, :value [2 3], :time 1491671882, :process 15, :error :net-timeout, :index 17}
{:type :invoke, :f :cas, :value [0 3], :time 2084809046, :process 17, :index 19}
{:type :info, :f :cas, :value [0 3], :time 2088060333, :process 17, :error [:unknown "Not Leader"], :index 20}
{:type :invoke, :f :cas, :value [4 0], :time 2737120956, :process 36, :index 23}
{:type :info, :f :cas, :value [4 0], :time 2740552432, :process 36, :error [:unknown "Not Leader"], :index 24}
{:type :invoke, :f :cas, :value [2 0], :time 2769316002, :process 14, :index 26}
{:type :info, :f :cas, :value [2 0], :time 2772186290, :process 14, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :cas, :value [0 2], :time 2775097685, :process 39, :index 28}
{:type :info, :f :cas, :value [0 2], :time 2777085625, :process 39, :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :cas, :value [2 0], :time 2989475114, :process 10, :index 30}
{:type :invoke, :f :write, :value 1, :time 3661768938, :process 38, :index 35}
{:type :info, :f :write, :value 1, :time 3667732708, :process 38, :error [:unknown "Not Leader"], :index 36}
{:type :invoke, :f :write, :value 0, :time 3980042151, :process 37, :index 37}
{:type :info, :f :write, :value 0, :time 3981757217, :process 37, :error [:unknown "Not Leader"], :index 38}
{:type :info, :f :cas, :value [2 0], :time 3990091671, :process 10, :error :net-timeout, :index 39}
