{:type :invoke, :f :read, :time 345328966, :process 0, :value nil, :index 2}
{:type :fail, :f :read, :time 363017106, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 3}
{:type :invoke, :f :cas, :value [4 0], :time 607601461, :process 7, :index 6}
{:type :info, :f :cas, :value [4 0], :time 616691458, :process 7, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [4 4], :time 1704452938, :process 27, :index 15}
{:type :info, :f :cas, :value [4 4], :time 1718045859, :process 27, :error [:unknown "Not Leader"], :index 16}
{:type :invoke, :f :read, :time 1814326232, :process 3, :value nil, :index 17}
{:type :fail, :f :read, :time 1826195821, :process 3, :value nil, :error [:unknown "Not Leader"], :index 18}
{:type :invoke, :f :read, :time 1975821519, :process 4, :value nil, :index 19}
{:type :invoke, :f :read, :time 1996254119, :process 3, :value nil, :index 20}
{:type :fail, :f :read, :time 2000072062, :process 4, :value nil, :error [:unknown "Not Leader"], :index 21}
{:type :fail, :f :read, :time 2097631223, :process 3, :value nil, :error [:unknown "Invalid Key"], :index 22}
