{:type :invoke, :f :write, :value [1 0], :time 10538971, :process 12, :index 0}
{:type :info, :f :write, :value [1 0], :time 32824366, :process 12, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [0 [0 2]], :time 237882595, :process 8, :index 2}
{:type :info, :f :cas, :value [0 [0 2]], :time 245988534, :process 8, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :write, :value [1 2], :time 558964464, :process 13, :index 4}
{:type :info, :f :write, :value [1 2], :time 567557457, :process 13, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [0 [1 0]], :time 578112115, :process 6, :index 6}
{:type :info, :f :cas, :value [0 [1 0]], :time 586275604, :process 6, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [1 [2 0]], :time 870012276, :process 19, :index 8}
{:type :info, :f :cas, :value [1 [2 0]], :time 878503412, :process 19, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [1 [4 0]], :time 982991006, :process 14, :index 10}
{:type :info, :f :cas, :value [1 [4 0]], :time 990096606, :process 14, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [0 [2 0]], :time 1123396919, :process 28, :index 12}
{:type :info, :f :cas, :value [0 [2 0]], :time 1130412648, :process 28, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :read, :time 1204231830, :process 3, :value [0 nil], :index 14}
{:type :fail, :f :read, :time 1208915693, :process 3, :value [0 nil], :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :cas, :value [0 [2 3]], :time 1247489207, :process 26, :index 16}
{:type :info, :f :cas, :value [0 [2 3]], :time 1249724801, :process 26, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :cas, :value [0 [4 2]], :time 1507742228, :process 48, :index 18}
{:type :info, :f :cas, :value [0 [4 2]], :time 1514310337, :process 48, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :write, :value [1 3], :time 1875276632, :process 18, :index 20}
{:type :info, :f :write, :value [1 3], :time 1881954704, :process 18, :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :read, :time 1897388699, :process 4, :value [0 nil], :index 22}
{:type :fail, :f :read, :time 1899258643, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 23}
