{:type :invoke, :f :cas, :value [4 3], :time 4508553567, :process 58, :index 38}
{:type :info, :f :cas, :value [4 3], :time 4516421446, :process 58, :error [:unknown "Not Leader"], :index 39}
{:type :invoke, :f :cas, :value [1 1], :time 4741135584, :process 30, :index 40}
{:type :invoke, :f :write, :value 2, :time 4999888106, :process 51, :index 43}
{:type :info, :f :write, :value 2, :time 5006490788, :process 51, :error [:unknown "Not Leader"], :index 44}
{:type :invoke, :f :cas, :value [3 4], :time 5153637240, :process 78, :index 47}
{:type :info, :f :cas, :value [3 4], :time 5158233066, :process 78, :error [:unknown "Not Leader"], :index 48}
{:type :invoke, :f :write, :value 3, :time 5565645321, :process 53, :index 50}
{:type :info, :f :write, :value 3, :time 5571824557, :process 53, :error [:unknown "Not Leader"], :index 51}
{:type :info, :f :cas, :value [1 1], :time 5743496284, :process 30, :error :net-timeout, :index 52}
{:type :invoke, :f :cas, :value [3 4], :time 5902348810, :process 71, :index 53}
{:type :info, :f :cas, :value [3 4], :time 5907826309, :process 71, :error [:unknown "Not Leader"], :index 54}
{:type :invoke, :f :cas, :value [3 2], :time 6262599012, :process 12, :index 57}
{:type :info, :f :cas, :value [3 2], :time 6269279929, :process 12, :error [:unknown "Not Leader"], :index 58}
{:type :invoke, :f :cas, :value [4 3], :time 6824196245, :process 36, :index 64}
{:type :info, :f :cas, :value [4 3], :time 6829522457, :process 36, :error [:unknown "Not Leader"], :index 65}
{:type :invoke, :f :cas, :value [0 4], :time 7098142492, :process 73, :index 66}
{:type :info, :f :cas, :value [0 4], :time 7103898233, :process 73, :error [:unknown "Not Leader"], :index 67}
{:type :invoke, :f :cas, :value [2 3], :time 7409331191, :process 17, :index 69}
{:type :info, :f :cas, :value [2 3], :time 7414912915, :process 17, :error [:unknown "Not Leader"], :index 70}
{:type :invoke, :f :cas, :value [3 1], :time 7459863879, :process 93, :index 71}
{:type :info, :f :cas, :value [3 1], :time 7461832796, :process 93, :error [:unknown "Not Leader"], :index 72}
