{:type :invoke, :f :cas, :value [0 [0 4]], :time 13660725, :process 7, :index 0}
{:type :info, :f :cas, :value [0 [0 4]], :time 32560533, :process 7, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [0 [1 2]], :time 147706715, :process 8, :index 2}
{:type :info, :f :cas, :value [0 [1 2]], :time 155648953, :process 8, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [1 [4 1]], :time 225976926, :process 19, :index 4}
{:type :info, :f :cas, :value [1 [4 1]], :time 234871247, :process 19, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [0 [4 1]], :time 615940077, :process 28, :index 6}
{:type :info, :f :cas, :value [0 [4 1]], :time 624415877, :process 28, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [1 [3 0]], :time 839839479, :process 18, :index 8}
{:type :info, :f :cas, :value [1 [3 0]], :time 847083114, :process 18, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :write, :value [0 0], :time 1012711505, :process 5, :index 10}
{:type :invoke, :f :cas, :value [0 [0 4]], :time 1050409369, :process 6, :index 11}
{:type :info, :f :cas, :value [0 [0 4]], :time 1053236887, :process 6, :error [:unknown "Not Leader"], :index 12}
{:type :invoke, :f :cas, :value [0 [3 0]], :time 1277809987, :process 27, :index 13}
{:type :info, :f :cas, :value [0 [3 0]], :time 1285084223, :process 27, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :cas, :value [1 [2 3]], :time 1637931038, :process 16, :index 15}
{:type :info, :f :cas, :value [1 [2 3]], :time 1647901784, :process 16, :error [:unknown "Not Leader"], :index 16}
{:type :info, :f :write, :value [0 0], :time 2016186679, :process 5, :error :net-timeout, :index 17}
