{:type :invoke, :f :cas, :value [1 1], :time 11448691, :process 12, :index 0}
{:type :info, :f :cas, :value [1 1], :time 32931507, :process 12, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [0 2], :time 250548153, :process 11, :index 2}
{:type :invoke, :f :cas, :value [1 4], :time 417675957, :process 14, :index 5}
{:type :info, :f :cas, :value [1 4], :time 425631054, :process 14, :error [:unknown "Not Leader"], :index 6}
{:type :invoke, :f :cas, :value [2 0], :time 468361386, :process 15, :index 7}
{:type :info, :f :cas, :value [2 0], :time 475151864, :process 15, :error [:unknown "Not Leader"], :index 8}
{:type :invoke, :f :write, :value 0, :time 737498858, :process 19, :index 11}
{:type :info, :f :write, :value 0, :time 744421513, :process 19, :error [:unknown "Not Leader"], :index 12}
{:type :invoke, :f :cas, :value [4 4], :time 1032056755, :process 13, :index 16}
{:type :info, :f :cas, :value [4 4], :time 1035813822, :process 13, :error [:unknown "Not Leader"], :index 17}
{:type :info, :f :cas, :value [0 2], :time 1254228107, :process 11, :error :net-timeout, :index 20}
{:type :invoke, :f :write, :value 4, :time 1259239356, :process 33, :index 21}
{:type :info, :f :write, :value 4, :time 1265539162, :process 33, :error [:unknown "Not Leader"], :index 22}
{:type :invoke, :f :write, :value 3, :time 1861840584, :process 34, :index 28}
{:type :info, :f :write, :value 3, :time 1866718669, :process 34, :error [:unknown "Not Leader"], :index 29}
