{:type :invoke, :f :cas, :value [4 3], :time 385014227, :process 16, :index 2}
{:type :info, :f :cas, :value [4 3], :time 394114619, :process 16, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :write, :value 0, :time 1072192798, :process 36, :index 11}
{:type :info, :f :write, :value 0, :time 1080623296, :process 36, :error [:unknown "Not Leader"], :index 12}
{:type :invoke, :f :cas, :value [0 1], :time 1295428388, :process 14, :index 13}
{:type :info, :f :cas, :value [0 1], :time 1301484196, :process 14, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :cas, :value [0 2], :time 1611370805, :process 19, :index 16}
{:type :info, :f :cas, :value [0 2], :time 1622265275, :process 19, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :cas, :value [4 1], :time 1813200625, :process 34, :index 18}
{:type :info, :f :cas, :value [4 1], :time 1821836760, :process 34, :error [:unknown "Not Leader"], :index 19}
