{:type :invoke, :f :cas, :value [4 3], :time 12744238, :process 11, :index 0}
{:type :info, :f :cas, :value [4 3], :time 35609380, :process 11, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value 2, :time 381885195, :process 18, :index 2}
{:type :info, :f :write, :value 2, :time 385479122, :process 18, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [3 3], :time 1911995890, :process 15, :index 18}
{:type :invoke, :f :cas, :value [0 4], :time 2291652113, :process 16, :index 22}
{:type :info, :f :cas, :value [0 4], :time 2293789900, :process 16, :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :cas, :value [4 3], :time 2677675035, :process 12, :index 26}
{:type :info, :f :cas, :value [4 3], :time 2679918084, :process 12, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :write, :value 2, :time 2858045436, :process 17, :index 28}
{:type :info, :f :write, :value 2, :time 2860492079, :process 17, :error [:unknown "Not Leader"], :index 29}
{:type :info, :f :cas, :value [3 3], :time 2912471588, :process 15, :error :net-timeout, :index 30}
