{:type :invoke, :f :write, :value [1 0], :time 23981128, :process 13, :index 0}
{:type :invoke, :f :cas, :value [1 [2 3]], :time 36362515, :process 14, :index 1}
{:type :info, :f :cas, :value [1 [2 3]], :time 47815021, :process 14, :error [:unknown "Not Leader"], :index 2}
{:type :info, :f :write, :value [1 0], :time 48271899, :process 13, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [1 [1 2]], :time 300411947, :process 16, :index 4}
{:type :info, :f :cas, :value [1 [1 2]], :time 309408672, :process 16, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :read, :time 343250771, :process 0, :value [0 nil], :index 6}
{:type :fail, :f :read, :time 350820745, :process 0, :value [0 nil], :error [:unknown "Invalid Key"], :index 7}
{:type :invoke, :f :cas, :value [1 [2 2]], :time 406172389, :process 19, :index 8}
{:type :info, :f :cas, :value [1 [2 2]], :time 413586780, :process 19, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [1 [0 3]], :time 616794021, :process 33, :index 10}
{:type :info, :f :cas, :value [1 [0 3]], :time 624667593, :process 33, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [0 [0 1]], :time 867336575, :process 9, :index 12}
{:type :info, :f :cas, :value [0 [0 1]], :time 874904913, :process 9, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :cas, :value [0 [0 0]], :time 1115472186, :process 29, :index 14}
{:type :info, :f :cas, :value [0 [0 0]], :time 1117696448, :process 29, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :write, :value [0 1], :time 1465256779, :process 49, :index 16}
{:type :info, :f :write, :value [0 1], :time 1472363620, :process 49, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :read, :time 1649575113, :process 4, :value [0 nil], :index 18}
{:type :fail, :f :read, :time 1656565371, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :write, :value [1 2], :time 1712811167, :process 34, :index 20}
{:type :info, :f :write, :value [1 2], :time 1719268820, :process 34, :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :cas, :value [0 [3 0]], :time 1944579231, :process 7, :index 22}
{:type :info, :f :cas, :value [0 [3 0]], :time 1951183534, :process 7, :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :cas, :value [1 [3 0]], :time 2038057286, :process 17, :index 24}
{:type :info, :f :cas, :value [1 [3 0]], :time 2040244976, :process 17, :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :write, :value [1 4], :time 2366510937, :process 54, :index 26}
{:type :info, :f :write, :value [1 4], :time 2373410815, :process 54, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :cas, :value [1 [2 0]], :time 2653054317, :process 15, :index 28}
{:type :invoke, :f :cas, :value [1 [0 0]], :time 2838241558, :process 37, :index 29}
{:type :info, :f :cas, :value [1 [0 0]], :time 2844871918, :process 37, :error [:unknown "Not Leader"], :index 30}
{:type :info, :f :cas, :value [1 [2 0]], :time 3655706959, :process 15, :error :net-timeout, :index 31}
