{:type :invoke, :f :cas, :value [3 3], :time 1076887248, :process 18, :index 8}
{:type :info, :f :cas, :value [3 3], :time 1085387501, :process 18, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :write, :value 2, :time 1135441736, :process 19, :index 10}
{:type :info, :f :write, :value 2, :time 1138339167, :process 19, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [3 2], :time 1364944392, :process 14, :index 14}
{:type :info, :f :cas, :value [3 2], :time 1373257012, :process 14, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :cas, :value [4 4], :time 1563221257, :process 11, :index 16}
{:type :info, :f :cas, :value [4 4], :time 1571635990, :process 11, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :cas, :value [1 3], :time 1899166508, :process 38, :index 18}
{:type :info, :f :cas, :value [1 3], :time 1905545722, :process 38, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :write, :value 2, :time 2856605068, :process 13, :index 26}
{:type :info, :f :write, :value 2, :time 2863812769, :process 13, :error [:unknown "Not Leader"], :index 27}
