{:type :invoke, :f :read, :time 481811997, :process 1, :value nil, :index 5}
{:type :fail, :f :read, :time 490397834, :process 1, :value nil, :error [:unknown "Not Leader"], :index 6}
{:type :invoke, :f :read, :time 876015738, :process 4, :value nil, :index 7}
{:type :fail, :f :read, :time 883590395, :process 4, :value nil, :error [:unknown "Not Leader"], :index 8}
{:type :invoke, :f :read, :time 1604854751, :process 3, :value nil, :index 14}
{:type :fail, :f :read, :time 1614814320, :process 3, :value nil, :error [:unknown "Not Leader"], :index 15}
