{:type :invoke, :f :read, :time 134695336, :process 4, :value nil, :index 2}
{:type :fail, :f :read, :time 137633876, :process 4, :value nil, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [1 4], :time 605255908, :process 6, :index 8}
{:type :info, :f :cas, :value [1 4], :time 607987656, :process 6, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :read, :time 911995119, :process 0, :value nil, :index 12}
{:type :fail, :f :read, :time 920292787, :process 0, :value nil, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :read, :time 1049593364, :process 2, :value nil, :index 14}
{:type :fail, :f :read, :time 1062620296, :process 2, :value nil, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :read, :time 1123240267, :process 3, :value nil, :index 16}
{:type :fail, :f :read, :time 1125492841, :process 3, :value nil, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :write, :value 0, :time 1142114290, :process 8, :index 18}
{:type :info, :f :write, :value 0, :time 1144195474, :process 8, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :read, :time 1248270514, :process 4, :value nil, :index 22}
{:type :fail, :f :read, :time 1251453851, :process 4, :value nil, :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :cas, :value [2 4], :time 1421408851, :process 26, :index 24}
{:type :info, :f :cas, :value [2 4], :time 1428480581, :process 26, :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :read, :time 1565864115, :process 0, :value nil, :index 26}
{:type :fail, :f :read, :time 1573555426, :process 0, :value nil, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :cas, :value [3 4], :time 1970071736, :process 46, :index 30}
{:type :info, :f :cas, :value [3 4], :time 1976369949, :process 46, :error [:unknown "Not Leader"], :index 31}
{:type :invoke, :f :cas, :value [3 0], :time 2558281322, :process 9, :index 34}
{:type :info, :f :cas, :value [3 0], :time 2564909238, :process 9, :error [:unknown "Not Leader"], :index 35}
{:type :invoke, :f :read, :time 4167105767, :process 0, :value nil, :index 46}
{:type :fail, :f :read, :time 4169958669, :process 0, :value nil, :error [:unknown "Not Leader"], :index 47}
{:type :invoke, :f :cas, :value [2 4], :time 4644445780, :process 29, :index 50}
{:type :info, :f :cas, :value [2 4], :time 4651942164, :process 29, :error [:unknown "Not Leader"], :index 51}
{:type :invoke, :f :read, :time 4992445815, :process 3, :value nil, :index 54}
{:type :fail, :f :read, :time 4998082424, :process 3, :value nil, :error [:unknown "Not Leader"], :index 55}
