{:type :invoke, :f :cas, :value [0 0], :time 59289012, :process 9, :index 2}
{:type :info, :f :cas, :value [0 0], :time 61634026, :process 9, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :read, :time 942530490, :process 1, :value nil, :index 12}
{:type :fail, :f :read, :time 950488013, :process 1, :value nil, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :cas, :value [2 4], :time 1783946653, :process 8, :index 20}
{:type :info, :f :cas, :value [2 4], :time 1791058482, :process 8, :error [:unknown "Not Leader"], :index 21}
