{:type :invoke, :f :read, :time 494102446, :process 1, :value nil, :index 4}
{:type :fail, :f :read, :time 501744803, :process 1, :value nil, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :write, :value 1, :time 594353782, :process 5, :index 6}
{:type :invoke, :f :write, :value 4, :time 621401429, :process 9, :index 7}
{:type :info, :f :write, :value 4, :time 629221200, :process 9, :error [:unknown "Not Leader"], :index 8}
{:type :info, :f :write, :value 1, :time 1597369453, :process 5, :error :net-timeout, :index 19}
{:type :invoke, :f :read, :time 1806191055, :process 1, :value nil, :index 20}
{:type :fail, :f :read, :time 1814838817, :process 1, :value nil, :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :read, :time 2120818302, :process 4, :value nil, :index 22}
{:type :fail, :f :read, :time 2127646809, :process 4, :value nil, :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :read, :time 2274564643, :process 1, :value nil, :index 26}
{:type :fail, :f :read, :time 2276689839, :process 1, :value nil, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :read, :time 2533495281, :process 3, :value nil, :index 30}
{:type :fail, :f :read, :time 2565881025, :process 3, :value nil, :error [:unknown "Not Leader"], :index 31}
