{:type :invoke, :f :cas, :value [1 3], :time 13343221, :process 8, :index 0}
{:type :info, :f :cas, :value [1 3], :time 36473894, :process 8, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value 4, :time 647943241, :process 7, :index 6}
{:type :info, :f :write, :value 4, :time 657323377, :process 7, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :read, :time 964015179, :process 2, :value nil, :index 8}
{:type :fail, :f :read, :time 972994186, :process 2, :value nil, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :read, :time 1491960515, :process 1, :value nil, :index 11}
{:type :fail, :f :read, :time 1499985569, :process 1, :value nil, :error [:unknown "Not Leader"], :index 12}
{:type :invoke, :f :read, :time 1776538652, :process 0, :value nil, :index 15}
{:type :fail, :f :read, :time 1785746716, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 16}
{:type :invoke, :f :read, :time 1838068485, :process 3, :value nil, :index 17}
{:type :fail, :f :read, :time 1848525362, :process 3, :value nil, :error [:unknown "Not Leader"], :index 18}
