{:type :invoke, :f :read, :time 11458556, :process 2, :value [0 nil], :index 0}
{:type :fail, :f :read, :time 30332512, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [1 [0 2]], :time 291501505, :process 18, :index 2}
{:type :info, :f :cas, :value [1 [0 2]], :time 300190072, :process 18, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [1 [2 0]], :time 589503916, :process 11, :index 4}
{:type :info, :f :cas, :value [1 [2 0]], :time 597621384, :process 11, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :read, :time 771011075, :process 0, :value [0 nil], :index 6}
{:type :fail, :f :read, :time 778705602, :process 0, :value [0 nil], :error [:unknown "Invalid Key"], :index 7}
{:type :invoke, :f :cas, :value [1 [3 4]], :time 1090156593, :process 10, :index 8}
{:type :invoke, :f :write, :value [0 2], :time 1252748883, :process 7, :index 9}
{:type :info, :f :write, :value [0 2], :time 1260721567, :process 7, :error [:unknown "Not Leader"], :index 10}
{:type :invoke, :f :write, :value [0 0], :time 1261237864, :process 27, :index 11}
{:type :info, :f :write, :value [0 0], :time 1268764707, :process 27, :error [:unknown "Not Leader"], :index 12}
{:type :invoke, :f :write, :value [1 0], :time 1512764500, :process 13, :index 13}
{:type :info, :f :write, :value [1 0], :time 1520908855, :process 13, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :cas, :value [1 [0 2]], :time 1751542828, :process 19, :index 15}
{:type :info, :f :cas, :value [1 [0 2]], :time 1758952619, :process 19, :error [:unknown "Not Leader"], :index 16}
{:type :info, :f :cas, :value [1 [3 4]], :time 2094649876, :process 10, :error :net-timeout, :index 17}
{:type :invoke, :f :cas, :value [1 [2 3]], :time 2103679400, :process 38, :index 18}
{:type :info, :f :cas, :value [1 [2 3]], :time 2110956016, :process 38, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :read, :time 2236723613, :process 4, :value [0 nil], :index 20}
{:type :fail, :f :read, :time 2243132132, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :write, :value [0 2], :time 2610043041, :process 47, :index 22}
{:type :info, :f :write, :value [0 2], :time 2617260825, :process 47, :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :read, :time 2778802353, :process 1, :value [0 nil], :index 24}
{:type :fail, :f :read, :time 2786207174, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :cas, :value [0 [3 1]], :time 2931191800, :process 8, :index 26}
{:type :info, :f :cas, :value [0 [3 1]], :time 2938963304, :process 8, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :read, :time 3003974629, :process 1, :value [0 nil], :index 28}
{:type :fail, :f :read, :time 3011856941, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 29}
