{:type :invoke, :f :cas, :value [1 1], :time 4127814495, :process 56, :index 40}
{:type :info, :f :cas, :value [1 1], :time 4130643203, :process 56, :error [:unknown "Not Leader"], :index 41}
{:type :invoke, :f :cas, :value [1 4], :time 4325742437, :process 57, :index 42}
{:type :info, :f :cas, :value [1 4], :time 4327462214, :process 57, :error [:unknown "Not Leader"], :index 43}
{:type :invoke, :f :cas, :value [3 0], :time 4392708677, :process 35, :index 44}
{:type :invoke, :f :write, :value 2, :time 4448241714, :process 12, :index 45}
{:type :info, :f :write, :value 2, :time 4450120839, :process 12, :error [:unknown "Not Leader"], :index 46}
{:type :info, :f :cas, :value [3 0], :time 5392837928, :process 35, :error :net-timeout, :index 52}
