{:type :invoke, :f :txn, :value [[:r 6 nil]], :time 8962890, :process 2, :index 0}
{:type :invoke, :f :txn, :value [[:append 8 1]], :time 285483804, :process 0, :index 1}
{:type :invoke, :f :txn, :value [[:r 8 nil] [:r 8 nil]], :time 555925442, :process 1, :index 2}
{:type :invoke, :f :txn, :value [[:append 9 1]], :time 763804032, :process 3, :index 3}
{:type :info, :f :txn, :value [[:r 6 nil]], :time 5014502244, :process 2, :error :net-timeout, :index 4}
{:type :info, :f :txn, :value [[:append 8 1]], :time 5291466839, :process 0, :error :net-timeout, :index 5}
{:type :info, :f :txn, :value [[:r 8 nil] [:r 8 nil]], :time 5558933158, :process 1, :error :net-timeout, :index 6}
{:type :info, :f :txn, :value [[:append 9 1]], :time 5766285133, :process 3, :error :net-timeout, :index 7}
