{:type :invoke, :f :cas, :value [0 2], :time 10678457, :process 6, :index 0}
{:type :info, :f :cas, :value [0 2], :time 40743173, :process 6, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :read, :time 416154865, :process 3, :value nil, :index 3}
{:type :fail, :f :read, :time 424648614, :process 3, :value nil, :error [:unknown "Not Leader"], :index 4}
{:type :invoke, :f :read, :time 463383027, :process 3, :value nil, :index 5}
{:type :fail, :f :read, :time 470755940, :process 3, :value nil, :error [:unknown "Not Leader"], :index 6}
{:type :invoke, :f :cas, :value [4 4], :time 1029673506, :process 7, :index 9}
{:type :info, :f :cas, :value [4 4], :time 1038263610, :process 7, :error [:unknown "Not Leader"], :index 10}
{:type :invoke, :f :cas, :value [4 4], :time 1430636427, :process 8, :index 14}
{:type :info, :f :cas, :value [4 4], :time 1432634372, :process 8, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :write, :value 4, :time 1478247563, :process 26, :index 16}
{:type :info, :f :write, :value 4, :time 1480532364, :process 26, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :read, :time 1576967520, :process 0, :value nil, :index 20}
{:type :fail, :f :read, :time 1579015703, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 21}
