{:type :invoke, :f :cas, :value [1 1], :time 317987910, :process 7, :index 1}
{:type :invoke, :f :read, :time 323816932, :process 4, :value nil, :index 2}
{:type :fail, :f :read, :time 342744488, :process 4, :value nil, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :read, :time 582506546, :process 4, :value nil, :index 6}
{:type :fail, :f :read, :time 585541094, :process 4, :value nil, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :read, :time 913298150, :process 3, :value nil, :index 8}
{:type :fail, :f :read, :time 926097266, :process 3, :value nil, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [4 2], :time 1294033351, :process 9, :index 15}
{:type :info, :f :cas, :value [4 2], :time 1300835332, :process 9, :error [:unknown "Not Leader"], :index 16}
{:type :info, :f :cas, :value [1 1], :time 1325131479, :process 7, :error :net-timeout, :index 17}
{:type :invoke, :f :read, :time 1692078276, :process 4, :value nil, :index 20}
{:type :fail, :f :read, :time 1694054944, :process 4, :value nil, :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :cas, :value [2 0], :time 1963603056, :process 6, :index 22}
{:type :info, :f :cas, :value [2 0], :time 2966190319, :process 6, :error :net-timeout, :index 25}
