{:type :invoke, :f :cas, :value [3 0], :time 174777361, :process 13, :index 2}
{:type :info, :f :cas, :value [3 0], :time 179331377, :process 13, :error [:unknown nil], :index 3}
{:type :invoke, :f :write, :value 0, :time 861575881, :process 19, :index 10}
{:type :info, :f :write, :value 0, :time 869300888, :process 19, :error [:unknown nil], :index 11}
{:type :invoke, :f :cas, :value [4 0], :time 1004694256, :process 14, :index 12}
{:type :info, :f :cas, :value [4 0], :time 1012397325, :process 14, :error [:unknown nil], :index 13}
{:type :invoke, :f :cas, :value [2 2], :time 1907663662, :process 11, :index 18}
{:type :info, :f :cas, :value [2 2], :time 1914254548, :process 11, :error [:unknown nil], :index 19}
