{:type :invoke, :f :write, :value 0, :time 12536697, :process 5, :index 0}
{:type :info, :f :write, :value 0, :time 34048981, :process 5, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value 2, :time 301125868, :process 7, :index 2}
{:type :info, :f :write, :value 2, :time 308846116, :process 7, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [1 2], :time 594928362, :process 25, :index 6}
{:type :info, :f :cas, :value [1 2], :time 598165707, :process 25, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :read, :time 719759682, :process 4, :value nil, :index 10}
{:type :fail, :f :read, :time 725628954, :process 4, :value nil, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [4 4], :time 988817276, :process 27, :index 12}
{:type :info, :f :cas, :value [4 4], :time 996103418, :process 27, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :read, :time 1121218878, :process 1, :value nil, :index 14}
{:type :fail, :f :read, :time 1129074710, :process 1, :value nil, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :read, :time 1154307355, :process 2, :value nil, :index 16}
{:type :fail, :f :read, :time 1160110895, :process 2, :value nil, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :read, :time 1277206884, :process 0, :value nil, :index 18}
{:type :fail, :f :read, :time 1281416445, :process 0, :value nil, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :read, :time 2081664630, :process 0, :value nil, :index 26}
{:type :fail, :f :read, :time 2088522093, :process 0, :value nil, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :read, :time 2216203072, :process 0, :value nil, :index 28}
{:type :fail, :f :read, :time 2222437372, :process 0, :value nil, :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :read, :time 2292516387, :process 4, :value nil, :index 30}
{:type :fail, :f :read, :time 2297988082, :process 4, :value nil, :error [:unknown "Not Leader"], :index 31}
{:type :invoke, :f :read, :time 2454894411, :process 2, :value nil, :index 32}
{:type :fail, :f :read, :time 2461620541, :process 2, :value nil, :error [:unknown "Not Leader"], :index 33}
{:type :invoke, :f :cas, :value [2 4], :time 3152829563, :process 9, :index 36}
{:type :info, :f :cas, :value [2 4], :time 3159259305, :process 9, :error [:unknown "Not Leader"], :index 37}
{:type :invoke, :f :cas, :value [3 2], :time 3779941039, :process 6, :index 40}
{:type :info, :f :cas, :value [3 2], :time 3786889374, :process 6, :error [:unknown "Not Leader"], :index 41}
{:type :invoke, :f :read, :time 4261340444, :process 4, :value nil, :index 44}
{:type :fail, :f :read, :time 4267136020, :process 4, :value nil, :error [:unknown "Not Leader"], :index 45}
{:type :invoke, :f :write, :value 4, :time 4630792809, :process 45, :index 46}
{:type :info, :f :write, :value 4, :time 4648237525, :process 45, :error [:unknown "Not Leader"], :index 47}
{:type :invoke, :f :cas, :value [3 2], :time 4662948595, :process 29, :index 48}
{:type :info, :f :cas, :value [3 2], :time 4664921903, :process 29, :error [:unknown "Not Leader"], :index 49}
