{:type :invoke, :f :cas, :value [1 2], :time 13809949, :process 9, :index 0}
{:type :info, :f :cas, :value [1 2], :time 40970577, :process 9, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :read, :time 1540570272, :process 3, :value nil, :index 12}
{:type :fail, :f :read, :time 1548009850, :process 3, :value nil, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :write, :value 4, :time 1838733673, :process 8, :index 16}
{:type :info, :f :write, :value 4, :time 2843053344, :process 8, :error :net-timeout, :index 19}
