{:type :invoke, :f :write, :value 3, :time 9500333, :process 16, :index 0}
{:type :info, :f :write, :value 3, :time 24605965, :process 16, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value 0, :time 725740625, :process 19, :index 6}
{:type :info, :f :write, :value 0, :time 735891190, :process 19, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [1 1], :time 912661514, :process 36, :index 8}
{:type :info, :f :cas, :value [1 1], :time 920426519, :process 36, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :write, :value 0, :time 1791528583, :process 15, :index 16}
{:type :info, :f :write, :value 0, :time 2792041455, :process 15, :error :net-timeout, :index 17}
