{:type :invoke, :f :read, :time 42917729, :process 0, :value nil, :index 0}
{:type :fail, :f :read, :time 124878051, :process 0, :value nil, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value 3, :time 1252024603, :process 7, :index 16}
{:type :info, :f :write, :value 3, :time 1259667405, :process 7, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :read, :time 1669940481, :process 3, :value nil, :index 24}
{:type :fail, :f :read, :time 1677242560, :process 3, :value nil, :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :read, :time 1716682475, :process 1, :value nil, :index 26}
{:type :fail, :f :read, :time 1723016584, :process 1, :value nil, :error [:unknown "Invalid Key"], :index 27}
