{:type :invoke, :f :cas, :value [2 4], :time 381811602, :process 7, :index 2}
{:type :info, :f :cas, :value [2 4], :time 384857800, :process 7, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :read, :time 821683014, :process 2, :value nil, :index 6}
{:type :fail, :f :read, :time 824018291, :process 2, :value nil, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [4 2], :time 1414158209, :process 6, :index 11}
{:type :info, :f :cas, :value [4 2], :time 1416813258, :process 6, :error [:unknown "Not Leader"], :index 12}
{:type :invoke, :f :cas, :value [0 2], :time 1635636548, :process 26, :index 13}
{:type :info, :f :cas, :value [0 2], :time 1638326528, :process 26, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :write, :value 3, :time 1818981680, :process 8, :index 17}
{:type :info, :f :write, :value 3, :time 1821511000, :process 8, :error [:unknown "Not Leader"], :index 18}
{:type :invoke, :f :cas, :value [3 3], :time 2290932949, :process 5, :index 23}
{:type :invoke, :f :cas, :value [2 1], :time 2349728316, :process 46, :index 26}
{:type :info, :f :cas, :value [2 1], :time 2352324872, :process 46, :error [:unknown "Not Leader"], :index 27}
{:type :info, :f :cas, :value [3 3], :time 3291486518, :process 5, :error :net-timeout, :index 32}
