{:type :invoke, :f :cas, :value [4 2], :time 27536845, :process 7, :index 0}
{:type :info, :f :cas, :value [4 2], :time 46423607, :process 7, :error [:unknown nil], :index 1}
{:type :invoke, :f :cas, :value [3 4], :time 101231019, :process 5, :index 2}
{:type :info, :f :cas, :value [3 4], :time 103958858, :process 5, :error [:unknown nil], :index 3}
{:type :invoke, :f :read, :time 600670496, :process 0, :value nil, :index 8}
{:type :fail, :f :read, :time 609599824, :process 0, :value nil, :error [:unknown nil], :index 9}
{:type :invoke, :f :cas, :value [4 4], :time 758167162, :process 27, :index 10}
{:type :info, :f :cas, :value [4 4], :time 765623891, :process 27, :error [:unknown nil], :index 11}
{:type :invoke, :f :read, :time 1564553827, :process 0, :value nil, :index 16}
{:type :fail, :f :read, :time 1570421222, :process 0, :value nil, :error [:unknown nil], :index 17}
