{:type :invoke, :f :cas, :value [1 0], :time 423308946, :process 8, :index 8}
{:type :info, :f :cas, :value [1 0], :time 426849047, :process 8, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [2 4], :time 477214416, :process 7, :index 10}
{:type :info, :f :cas, :value [2 4], :time 481286697, :process 7, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [1 4], :time 785714045, :process 6, :index 12}
{:type :invoke, :f :read, :time 903893357, :process 2, :value nil, :index 13}
{:type :fail, :f :read, :time 912831770, :process 2, :value nil, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :cas, :value [1 0], :time 1617448765, :process 27, :index 20}
{:type :info, :f :cas, :value [1 0], :time 1620726709, :process 27, :error [:unknown "Not Leader"], :index 21}
{:type :info, :f :cas, :value [1 4], :time 1791470343, :process 6, :error :net-timeout, :index 22}
