{:type :invoke, :f :txn, :value [[:append 7 1] [:append 7 2] [:r 8 nil]], :time 9506241, :process 1, :index 0}
{:type :invoke, :f :txn, :value [[:r 8 nil] [:append 9 1] [:append 8 1] [:r 9 nil]], :time 294362538, :process 0, :index 1}
{:type :invoke, :f :txn, :value [[:append 6 1] [:r 8 nil] [:append 9 2]], :time 546105115, :process 3, :index 2}
{:type :invoke, :f :txn, :value [[:append 2 1] [:r 9 nil] [:r 9 nil] [:append 9 3]], :time 773814900, :process 2, :index 3}
{:type :info, :f :txn, :value [[:append 7 1] [:append 7 2] [:r 8 nil]], :time 5017904724, :process 1, :error :net-timeout, :index 4}
{:type :info, :f :txn, :value [[:r 8 nil] [:append 9 1] [:append 8 1] [:r 9 nil]], :time 5297515141, :process 0, :error :net-timeout, :index 5}
{:type :info, :f :txn, :value [[:append 6 1] [:r 8 nil] [:append 9 2]], :time 5548858928, :process 3, :error :net-timeout, :index 6}
{:type :info, :f :txn, :value [[:append 2 1] [:r 9 nil] [:r 9 nil] [:append 9 3]], :time 5774992056, :process 2, :error :net-timeout, :index 7}
