{:type :invoke, :f :write, :value 3, :time 12186573, :process 13, :index 0}
{:type :info, :f :write, :value 3, :time 31843092, :process 13, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [3 4], :time 140985231, :process 14, :index 4}
{:type :info, :f :cas, :value [3 4], :time 145135477, :process 14, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [0 4], :time 741272735, :process 17, :index 10}
{:type :info, :f :cas, :value [0 4], :time 744594712, :process 17, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [3 1], :time 1897759101, :process 37, :index 20}
{:type :info, :f :cas, :value [3 1], :time 2270931926, :process 37, :error [:unknown "Not Leader"], :index 21}
