{:type :invoke, :f :write, :value 2, :time 12048033, :process 16, :index 0}
{:type :info, :f :write, :value 2, :time 32286105, :process 16, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [2 4], :time 106891562, :process 13, :index 2}
{:type :info, :f :cas, :value [2 4], :time 109258946, :process 13, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :write, :value 2, :time 775473379, :process 18, :index 9}
{:type :info, :f :write, :value 2, :time 783433434, :process 18, :error [:unknown "Not Leader"], :index 10}
{:type :invoke, :f :cas, :value [2 4], :time 961498415, :process 38, :index 11}
{:type :info, :f :cas, :value [2 4], :time 968861379, :process 38, :error [:unknown "Not Leader"], :index 12}
{:type :invoke, :f :cas, :value [3 0], :time 993667395, :process 19, :index 13}
{:type :info, :f :cas, :value [3 0], :time 998364124, :process 19, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :cas, :value [3 0], :time 1115536461, :process 39, :index 15}
{:type :info, :f :cas, :value [3 0], :time 1122901843, :process 39, :error [:unknown "Not Leader"], :index 16}
{:type :invoke, :f :cas, :value [3 3], :time 1505263915, :process 11, :index 17}
{:type :info, :f :cas, :value [3 3], :time 1512085775, :process 11, :error [:unknown "Not Leader"], :index 18}
{:type :invoke, :f :cas, :value [1 1], :time 2188821914, :process 33, :index 24}
{:type :info, :f :cas, :value [1 1], :time 2190943516, :process 33, :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :cas, :value [0 2], :time 2520559941, :process 31, :index 28}
{:type :info, :f :cas, :value [0 2], :time 2527927009, :process 31, :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :write, :value 2, :time 2750472230, :process 51, :index 32}
{:type :info, :f :write, :value 2, :time 2757635473, :process 51, :error [:unknown "Not Leader"], :index 33}
