{:type :invoke, :f :txn, :value [[:append 8 1] [:r 9 nil]], :time 10345190, :process 3, :index 0}
{:type :invoke, :f :txn, :value [[:r 8 nil] [:r 9 nil] [:r 4 nil]], :time 253473247, :process 2, :index 1}
{:type :invoke, :f :txn, :value [[:r 9 nil] [:append 9 1]], :time 589502087, :process 1, :index 2}
{:type :invoke, :f :txn, :value [[:append 6 1] [:append 8 2] [:append 4 1]], :time 899178185, :process 0, :index 3}
{:type :info, :f :txn, :value [[:append 8 1] [:r 9 nil]], :time 5016620568, :process 3, :error :net-timeout, :index 4}
{:type :info, :f :txn, :value [[:r 8 nil] [:r 9 nil] [:r 4 nil]], :time 5256383490, :process 2, :error :net-timeout, :index 5}
{:type :info, :f :txn, :value [[:r 9 nil] [:append 9 1]], :time 5592583034, :process 1, :error :net-timeout, :index 6}
{:type :info, :f :txn, :value [[:append 6 1] [:append 8 2] [:append 4 1]], :time 5901756114, :process 0, :error :net-timeout, :index 7}
