{:type :invoke, :f :txn, :value [[:append 9 1] [:r 9 nil] [:append 9 2]], :time 8224976, :process 0, :index 0}
{:type :invoke, :f :txn, :value [[:append 8 1] [:r 8 nil] [:r 9 nil]], :time 175182911, :process 3, :index 1}
{:type :invoke, :f :txn, :value [[:r 8 nil]], :time 501147752, :process 2, :index 2}
{:type :invoke, :f :txn, :value [[:r 9 nil] [:append 9 3] [:append 8 2]], :time 623827458, :process 1, :index 3}
{:type :info, :f :txn, :value [[:append 9 1] [:r 9 nil] [:append 9 2]], :time 5015804304, :process 0, :error :net-timeout, :index 4}
{:type :info, :f :txn, :value [[:append 8 1] [:r 8 nil] [:r 9 nil]], :time 5177352930, :process 3, :error :net-timeout, :index 5}
{:type :info, :f :txn, :value [[:r 8 nil]], :time 5504068800, :process 2, :error :net-timeout, :index 6}
{:type :info, :f :txn, :value [[:r 9 nil] [:append 9 3] [:append 8 2]], :time 5627343162, :process 1, :error :net-timeout, :index 7}
