{:type :invoke, :f :cas, :value [1 [3 4]], :time 12889931, :process 10, :index 0}
{:type :invoke, :f :write, :value [1 3], :time 333472138, :process 18, :index 1}
{:type :info, :f :write, :value [1 3], :time 357938754, :process 18, :error [:unknown "Not Leader"], :index 2}
{:type :invoke, :f :cas, :value [1 [4 1]], :time 703896465, :process 38, :index 3}
{:type :info, :f :cas, :value [1 [4 1]], :time 713158059, :process 38, :error [:unknown "Not Leader"], :index 4}
{:type :info, :f :cas, :value [1 [3 4]], :time 1030395233, :process 10, :error :net-timeout, :index 5}
{:type :invoke, :f :write, :value [1 3], :time 1060846427, :process 12, :index 6}
{:type :info, :f :write, :value [1 3], :time 1068701938, :process 12, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :read, :time 1308564692, :process 2, :value [0 nil], :index 8}
{:type :fail, :f :read, :time 1312286374, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :read, :time 1583647747, :process 1, :value [0 nil], :index 10}
{:type :fail, :f :read, :time 1591523293, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [0 [2 1]], :time 1921862910, :process 9, :index 12}
{:type :info, :f :cas, :value [0 [2 1]], :time 1929126394, :process 9, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :write, :value [1 4], :time 2005256740, :process 32, :index 14}
{:type :info, :f :write, :value [1 4], :time 2012220533, :process 32, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :cas, :value [0 [0 2]], :time 2270952988, :process 5, :index 16}
{:type :invoke, :f :write, :value [1 4], :time 2482621554, :process 16, :index 17}
{:type :info, :f :write, :value [1 4], :time 2490383291, :process 16, :error [:unknown "Not Leader"], :index 18}
{:type :invoke, :f :cas, :value [0 [3 1]], :time 2700260881, :process 6, :index 19}
{:type :info, :f :cas, :value [0 [3 1]], :time 2706913986, :process 6, :error [:unknown "Not Leader"], :index 20}
{:type :invoke, :f :cas, :value [1 [2 4]], :time 2812440195, :process 13, :index 21}
{:type :info, :f :cas, :value [1 [2 4]], :time 2819967682, :process 13, :error [:unknown "Not Leader"], :index 22}
{:type :invoke, :f :cas, :value [1 [1 3]], :time 3132227318, :process 14, :index 23}
{:type :info, :f :cas, :value [1 [1 3]], :time 3138871046, :process 14, :error [:unknown "Not Leader"], :index 24}
{:type :info, :f :cas, :value [0 [0 2]], :time 3274489541, :process 5, :error :net-timeout, :index 25}
{:type :invoke, :f :write, :value [0 3], :time 3333105742, :process 8, :index 26}
{:type :info, :f :write, :value [0 3], :time 3339899159, :process 8, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :cas, :value [1 [1 3]], :time 3529153340, :process 52, :index 28}
{:type :info, :f :cas, :value [1 [1 3]], :time 3536067853, :process 52, :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :write, :value [1 3], :time 3566410342, :process 30, :index 30}
{:type :invoke, :f :cas, :value [1 [4 4]], :time 3746497218, :process 19, :index 31}
{:type :info, :f :cas, :value [1 [4 4]], :time 3753581155, :process 19, :error [:unknown "Not Leader"], :index 32}
{:type :invoke, :f :cas, :value [1 [4 2]], :time 3763423099, :process 34, :index 33}
{:type :info, :f :cas, :value [1 [4 2]], :time 3769626467, :process 34, :error [:unknown "Not Leader"], :index 34}
{:type :invoke, :f :read, :time 3964453444, :process 2, :value [0 nil], :index 35}
{:type :fail, :f :read, :time 3971933878, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 36}
{:type :invoke, :f :read, :time 4310640142, :process 3, :value [0 nil], :index 37}
{:type :fail, :f :read, :time 4316391069, :process 3, :value [0 nil], :error [:unknown "Not Leader"], :index 38}
{:type :invoke, :f :cas, :value [0 [0 1]], :time 4512214199, :process 25, :index 39}
{:type :info, :f :write, :value [1 3], :time 4567916509, :process 30, :error :net-timeout, :index 40}
{:type :invoke, :f :read, :time 4789624285, :process 1, :value [0 nil], :index 41}
{:type :fail, :f :read, :time 4829904684, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 42}
{:type :invoke, :f :read, :time 5167830199, :process 1, :value [0 nil], :index 43}
{:type :fail, :f :read, :time 5170366701, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 44}
{:type :info, :f :cas, :value [0 [0 1]], :time 5514674343, :process 25, :error :net-timeout, :index 45}
{:type :invoke, :f :cas, :value [2 [2 2]], :time 5541881994, :process 58, :index 46}
{:type :info, :f :cas, :value [2 [2 2]], :time 5543555424, :process 58, :error [:unknown "Not Leader"], :index 47}
{:type :invoke, :f :write, :value [2 1], :time 5588091143, :process 33, :index 48}
{:type :info, :f :write, :value [2 1], :time 5593429938, :process 33, :error [:unknown "Not Leader"], :index 49}
{:type :invoke, :f :cas, :value [2 [1 0]], :time 5602750349, :process 39, :index 50}
{:type :info, :f :cas, :value [2 [1 0]], :time 5608977936, :process 39, :error [:unknown "Not Leader"], :index 51}
{:type :invoke, :f :read, :time 5911645855, :process 3, :value [0 nil], :index 52}
{:type :fail, :f :read, :time 5917140029, :process 3, :value [0 nil], :error [:unknown "Not Leader"], :index 53}
{:type :invoke, :f :cas, :value [2 [3 2]], :time 5968795199, :process 59, :index 54}
{:type :info, :f :cas, :value [2 [3 2]], :time 5972024499, :process 59, :error [:unknown "Not Leader"], :index 55}
{:type :invoke, :f :write, :value [2 4], :time 5983249727, :process 54, :index 56}
{:type :info, :f :write, :value [2 4], :time 5986359832, :process 54, :error [:unknown "Not Leader"], :index 57}
{:type :invoke, :f :cas, :value [2 [1 1]], :time 6107623781, :process 78, :index 58}
{:type :info, :f :cas, :value [2 [1 1]], :time 6112830920, :process 78, :error [:unknown "Not Leader"], :index 59}
{:type :invoke, :f :write, :value [2 1], :time 6437740238, :process 53, :index 60}
{:type :info, :f :write, :value [2 1], :time 6442831174, :process 53, :error [:unknown "Not Leader"], :index 61}
{:type :invoke, :f :read, :time 6759392957, :process 2, :value [0 nil], :index 62}
{:type :fail, :f :read, :time 6764675091, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 63}
{:type :invoke, :f :cas, :value [2 [2 4]], :time 7105925829, :process 17, :index 64}
{:type :info, :f :cas, :value [2 [2 4]], :time 7111551030, :process 17, :error [:unknown "Not Leader"], :index 65}
{:type :invoke, :f :cas, :value [2 [1 0]], :time 7201200715, :process 73, :index 66}
{:type :info, :f :cas, :value [2 [1 0]], :time 7206612512, :process 73, :error [:unknown "Not Leader"], :index 67}
{:type :invoke, :f :cas, :value [0 [2 2]], :time 7537365107, :process 26, :index 68}
{:type :info, :f :cas, :value [0 [2 2]], :time 7542707195, :process 26, :error [:unknown "Not Leader"], :index 69}
{:type :invoke, :f :write, :value [0 4], :time 7623322436, :process 7, :index 70}
{:type :info, :f :write, :value [0 4], :time 7628951694, :process 7, :error [:unknown "Not Leader"], :index 71}
{:type :invoke, :f :cas, :value [2 [1 1]], :time 7893385102, :process 79, :index 72}
{:type :info, :f :cas, :value [2 [1 1]], :time 7898869692, :process 79, :error [:unknown "Not Leader"], :index 73}
{:type :invoke, :f :read, :time 8103825878, :process 2, :value [0 nil], :index 74}
{:type :fail, :f :read, :time 8108998015, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 75}
{:type :invoke, :f :cas, :value [0 [4 1]], :time 8249577750, :process 46, :index 76}
{:type :info, :f :cas, :value [0 [4 1]], :time 8252039377, :process 46, :error [:unknown "Not Leader"], :index 77}
{:type :invoke, :f :cas, :value [2 [1 2]], :time 8377184763, :process 15, :index 78}
{:type :invoke, :f :cas, :value [2 [3 4]], :time 8564863499, :process 99, :index 79}
{:type :info, :f :cas, :value [2 [3 4]], :time 8570204089, :process 99, :error [:unknown "Not Leader"], :index 80}
{:type :invoke, :f :write, :value [3 4], :time 8816838940, :process 119, :index 81}
{:type :info, :f :write, :value [3 4], :time 8822665296, :process 119, :error [:unknown "Not Leader"], :index 82}
{:type :invoke, :f :cas, :value [3 [4 3]], :time 9014966098, :process 74, :index 83}
{:type :info, :f :cas, :value [3 [4 3]], :time 9020728857, :process 74, :error [:unknown "Not Leader"], :index 84}
{:type :invoke, :f :cas, :value [0 [1 4]], :time 9094516961, :process 28, :index 85}
{:type :info, :f :cas, :value [0 [1 4]], :time 9100669928, :process 28, :error [:unknown "Not Leader"], :index 86}
{:type :invoke, :f :cas, :value [0 [0 3]], :time 9265008706, :process 29, :index 87}
{:type :info, :f :cas, :value [0 [0 3]], :time 9266723701, :process 29, :error [:unknown "Not Leader"], :index 88}
{:type :info, :f :cas, :value [2 [1 2]], :time 9379525200, :process 15, :error :net-timeout, :index 89}
{:type :invoke, :f :read, :time 9504239729, :process 0, :value [0 nil], :index 90}
{:type :fail, :f :read, :time 9509613788, :process 0, :value [0 nil], :error [:unknown "Invalid Key"], :index 91}
{:type :invoke, :f :read, :time 9849215240, :process 1, :value [0 nil], :index 92}
{:type :fail, :f :read, :time 9854775851, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 93}
{:type :invoke, :f :cas, :value [3 [4 0]], :time 9984595238, :process 72, :index 94}
{:type :info, :f :cas, :value [3 [4 0]], :time 9989835750, :process 72, :error [:unknown "Not Leader"], :index 95}
