{:type :invoke, :f :read, :time 992712683, :process 2, :value nil, :index 10}
{:type :fail, :f :read, :time 1000174677, :process 2, :value nil, :error [:unknown "Invalid Key"], :index 11}
{:type :invoke, :f :cas, :value [3 4], :time 1066773112, :process 9, :index 12}
{:type :info, :f :cas, :value [3 4], :time 1099814257, :process 9, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :read, :time 1722383967, :process 4, :value nil, :index 21}
{:type :fail, :f :read, :time 1729036587, :process 4, :value nil, :error [:unknown "Not Leader"], :index 22}
{:type :invoke, :f :read, :time 1852602666, :process 4, :value nil, :index 23}
{:type :fail, :f :read, :time 1861038923, :process 4, :value nil, :error [:unknown "Not Leader"], :index 24}
