{:type :invoke, :f :write, :value 1, :time 15814880, :process 19, :index 0}
{:type :info, :f :write, :value 1, :time 36550111, :process 19, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value 1, :time 361509833, :process 14, :index 6}
{:type :info, :f :write, :value 1, :time 368859101, :process 14, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :write, :value 2, :time 688796535, :process 39, :index 8}
{:type :info, :f :write, :value 2, :time 695908554, :process 39, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :write, :value 1, :time 809414706, :process 18, :index 10}
{:type :info, :f :write, :value 1, :time 817398101, :process 18, :error [:unknown "Not Leader"], :index 11}
