{:type :invoke, :f :read, :time 12441395, :process 4, :value nil, :index 0}
{:type :fail, :f :read, :time 45846061, :process 4, :value nil, :error [:unknown nil], :index 1}
{:type :invoke, :f :cas, :value [4 3], :time 281813678, :process 6, :index 3}
{:type :info, :f :cas, :value [4 3], :time 290941852, :process 6, :error [:unknown nil], :index 5}
{:type :invoke, :f :read, :time 806310891, :process 1, :value nil, :index 8}
{:type :fail, :f :read, :time 812802118, :process 1, :value nil, :error [:unknown nil], :index 9}
{:type :invoke, :f :write, :value 2, :time 1522790060, :process 9, :index 16}
{:type :info, :f :write, :value 2, :time 1530409698, :process 9, :error [:unknown nil], :index 17}
{:type :invoke, :f :read, :time 1687180066, :process 4, :value nil, :index 18}
{:type :fail, :f :read, :time 1694482340, :process 4, :value nil, :error [:unknown nil], :index 19}
{:type :invoke, :f :cas, :value [0 1], :time 1725053888, :process 8, :index 20}
{:type :info, :f :cas, :value [0 1], :time 1729904726, :process 8, :error [:unknown nil], :index 21}
