{:type :invoke, :f :cas, :value [1 3], :time 195859502, :process 7, :index 2}
{:type :info, :f :cas, :value [1 3], :time 203398781, :process 7, :error [:unknown nil], :index 3}
{:type :invoke, :f :read, :time 803771646, :process 1, :value nil, :index 8}
{:type :fail, :f :read, :time 809825001, :process 1, :value nil, :error [:unknown nil], :index 9}
{:type :invoke, :f :cas, :value [4 1], :time 1355484601, :process 8, :index 12}
{:type :info, :f :cas, :value [4 1], :time 1362981884, :process 8, :error [:unknown nil], :index 13}
{:type :invoke, :f :read, :time 1750267592, :process 0, :value nil, :index 14}
{:type :fail, :f :read, :time 1756480318, :process 0, :value nil, :error [:unknown nil], :index 15}
