{:type :invoke, :f :read, :time 11724506, :process 4, :value [0 nil], :index 0}
{:type :fail, :f :read, :time 31722161, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :read, :time 63644239, :process 2, :value [0 nil], :index 2}
{:type :fail, :f :read, :time 66296097, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :read, :time 440466036, :process 2, :value [0 nil], :index 4}
{:type :fail, :f :read, :time 448549217, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [0 [4 0]], :time 819390888, :process 6, :index 6}
{:type :info, :f :cas, :value [0 [4 0]], :time 825802418, :process 6, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [1 [3 3]], :time 1076887248, :process 18, :index 8}
{:type :info, :f :cas, :value [1 [3 3]], :time 1085387501, :process 18, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :write, :value [1 2], :time 1135441736, :process 19, :index 10}
{:type :info, :f :write, :value [1 2], :time 1138339167, :process 19, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :read, :time 1219775998, :process 4, :value [0 nil], :index 12}
{:type :fail, :f :read, :time 1225741803, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :cas, :value [1 [3 2]], :time 1364944392, :process 14, :index 14}
{:type :info, :f :cas, :value [1 [3 2]], :time 1373257012, :process 14, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :cas, :value [1 [4 4]], :time 1563221257, :process 11, :index 16}
{:type :info, :f :cas, :value [1 [4 4]], :time 1571635990, :process 11, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :cas, :value [1 [1 3]], :time 1899166508, :process 38, :index 18}
{:type :info, :f :cas, :value [1 [1 3]], :time 1905545722, :process 38, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :read, :time 2201909516, :process 2, :value [0 nil], :index 20}
{:type :fail, :f :read, :time 2207919324, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :cas, :value [0 [2 3]], :time 2275263372, :process 8, :index 22}
{:type :info, :f :cas, :value [0 [2 3]], :time 2282285091, :process 8, :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :write, :value [0 0], :time 2572804643, :process 9, :index 24}
{:type :info, :f :write, :value [0 0], :time 2579138107, :process 9, :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :write, :value [1 2], :time 2856605068, :process 13, :index 26}
{:type :info, :f :write, :value [1 2], :time 2863812769, :process 13, :error [:unknown "Not Leader"], :index 27}
