{:type :invoke, :f :cas, :value [3 2], :time 682683806, :process 13, :index 6}
{:type :info, :f :cas, :value [3 2], :time 686970740, :process 13, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [3 1], :time 1303957956, :process 18, :index 10}
{:type :info, :f :cas, :value [3 1], :time 1311499511, :process 18, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [2 3], :time 1748755706, :process 17, :index 14}
{:type :info, :f :cas, :value [2 3], :time 1756031756, :process 17, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :cas, :value [4 4], :time 1782305502, :process 12, :index 16}
{:type :info, :f :cas, :value [4 4], :time 1787178109, :process 12, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :cas, :value [2 0], :time 1872715907, :process 38, :index 18}
{:type :info, :f :cas, :value [2 0], :time 1879914183, :process 38, :error [:unknown "Not Leader"], :index 19}
