{:type :invoke, :f :cas, :value [3 1], :time 367375317, :process 10, :index 2}
{:type :info, :f :cas, :value [3 1], :time 375698403, :process 10, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [4 4], :time 636066356, :process 13, :index 4}
{:type :info, :f :cas, :value [4 4], :time 643963865, :process 13, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [0 0], :time 811701025, :process 19, :index 8}
{:type :info, :f :cas, :value [0 0], :time 819377766, :process 19, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :write, :value 2, :time 924421940, :process 11, :index 10}
{:type :info, :f :write, :value 2, :time 931620495, :process 11, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [0 1], :time 1759022559, :process 14, :index 16}
{:type :info, :f :cas, :value [0 1], :time 1764275678, :process 14, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :write, :value 0, :time 2132614217, :process 18, :index 20}
{:type :info, :f :write, :value 0, :time 2135157408, :process 18, :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :cas, :value [3 2], :time 2311299934, :process 39, :index 22}
{:type :info, :f :cas, :value [3 2], :time 2316565208, :process 39, :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :cas, :value [2 0], :time 2705427324, :process 30, :index 24}
{:type :info, :f :cas, :value [2 0], :time 2711868439, :process 30, :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :cas, :value [4 1], :time 3401824421, :process 12, :index 32}
{:type :info, :f :cas, :value [4 1], :time 3405916850, :process 12, :error [:unknown "Not Leader"], :index 33}
{:type :invoke, :f :cas, :value [2 2], :time 3774964827, :process 32, :index 34}
{:type :info, :f :cas, :value [2 2], :time 3781010970, :process 32, :error [:unknown "Not Leader"], :index 35}
{:type :invoke, :f :cas, :value [0 1], :time 4509287972, :process 59, :index 42}
{:type :info, :f :cas, :value [0 1], :time 4514703487, :process 59, :error [:unknown "Not Leader"], :index 43}
