{:type :invoke, :f :txn, :value [[:r 7 nil] [:append 9 1] [:r 9 nil] [:r 7 nil]], :time 9536040, :process 0, :index 0}
{:type :invoke, :f :txn, :value [[:append 9 2] [:r 9 nil]], :time 201782573, :process 2, :index 1}
{:type :invoke, :f :txn, :value [[:r 8 nil] [:append 8 1]], :time 406416354, :process 3, :index 2}
{:type :invoke, :f :txn, :value [[:append 9 3] [:r 7 nil]], :time 730094967, :process 1, :index 3}
{:type :info, :f :txn, :value [[:r 7 nil] [:append 9 1] [:r 9 nil] [:r 7 nil]], :time 5017975783, :process 0, :error :net-timeout, :index 4}
{:type :info, :f :txn, :value [[:append 9 2] [:r 9 nil]], :time 5203995675, :process 2, :error :net-timeout, :index 5}
{:type :info, :f :txn, :value [[:r 8 nil] [:append 8 1]], :time 5407734132, :process 3, :error :net-timeout, :index 6}
{:type :info, :f :txn, :value [[:append 9 3] [:r 7 nil]], :time 5734143131, :process 1, :error :net-timeout, :index 7}
