{:type :invoke, :f :write, :value [1 3], :time 10463416, :process 16, :index 0}
{:type :info, :f :write, :value [1 3], :time 27963621, :process 16, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value [1 2], :time 115666698, :process 12, :index 2}
{:type :info, :f :write, :value [1 2], :time 118396047, :process 12, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :read, :time 450458626, :process 4, :value [0 nil], :index 4}
{:type :fail, :f :read, :time 458828367, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :write, :value [1 3], :time 723824511, :process 17, :index 6}
{:type :info, :f :write, :value [1 3], :time 731413602, :process 17, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :write, :value [0 4], :time 1084776752, :process 9, :index 8}
{:type :info, :f :write, :value [0 4], :time 1092428822, :process 9, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [0 [2 4]], :time 1261216707, :process 6, :index 10}
{:type :info, :f :cas, :value [0 [2 4]], :time 1269370448, :process 6, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :write, :value [1 1], :time 1407248554, :process 10, :index 12}
{:type :invoke, :f :read, :time 1631548082, :process 0, :value [0 nil], :index 13}
{:type :fail, :f :read, :time 1640003598, :process 0, :value [0 nil], :error [:unknown "Invalid Key"], :index 14}
{:type :invoke, :f :read, :time 1793619530, :process 2, :value [0 nil], :index 15}
{:type :fail, :f :read, :time 1801722754, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 16}
{:type :invoke, :f :cas, :value [0 [1 0]], :time 1977877641, :process 7, :index 17}
{:type :info, :f :cas, :value [0 [1 0]], :time 1981495008, :process 7, :error [:unknown "Not Leader"], :index 18}
{:type :info, :f :write, :value [1 1], :time 2411011532, :process 10, :error :net-timeout, :index 19}
