{:type :invoke, :f :cas, :value [1 [1 2]], :time 12858234, :process 12, :index 0}
{:type :info, :f :cas, :value [1 [1 2]], :time 33821472, :process 12, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :read, :time 134695336, :process 4, :value [0 nil], :index 2}
{:type :fail, :f :read, :time 137633876, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [1 [0 3]], :time 153747996, :process 11, :index 4}
{:type :info, :f :cas, :value [1 [0 3]], :time 159456978, :process 11, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [1 [0 1]], :time 462953067, :process 13, :index 6}
{:type :info, :f :cas, :value [1 [0 1]], :time 471408369, :process 13, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [0 [1 4]], :time 605255908, :process 6, :index 8}
{:type :info, :f :cas, :value [0 [1 4]], :time 607987656, :process 6, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [1 [3 4]], :time 620952707, :process 17, :index 10}
{:type :info, :f :cas, :value [1 [3 4]], :time 624053643, :process 17, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :read, :time 911995119, :process 0, :value [0 nil], :index 12}
{:type :fail, :f :read, :time 920292787, :process 0, :value [0 nil], :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :read, :time 1049593364, :process 2, :value [0 nil], :index 14}
{:type :fail, :f :read, :time 1062620296, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :read, :time 1123240267, :process 3, :value [0 nil], :index 16}
{:type :fail, :f :read, :time 1125492841, :process 3, :value [0 nil], :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :write, :value [0 0], :time 1142114290, :process 8, :index 18}
{:type :info, :f :write, :value [0 0], :time 1144195474, :process 8, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :cas, :value [1 [3 4]], :time 1218336138, :process 33, :index 20}
{:type :info, :f :cas, :value [1 [3 4]], :time 1220727804, :process 33, :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :read, :time 1248270514, :process 4, :value [0 nil], :index 22}
{:type :fail, :f :read, :time 1251453851, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :cas, :value [0 [2 4]], :time 1421408851, :process 26, :index 24}
{:type :info, :f :cas, :value [0 [2 4]], :time 1428480581, :process 26, :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :read, :time 1565864115, :process 0, :value [0 nil], :index 26}
{:type :fail, :f :read, :time 1573555426, :process 0, :value [0 nil], :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :cas, :value [1 [0 0]], :time 1820027775, :process 15, :index 28}
{:type :info, :f :cas, :value [1 [0 0]], :time 1822678750, :process 15, :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :cas, :value [0 [3 4]], :time 1970071736, :process 46, :index 30}
{:type :info, :f :cas, :value [0 [3 4]], :time 1976369949, :process 46, :error [:unknown "Not Leader"], :index 31}
{:type :invoke, :f :write, :value [1 2], :time 2282881061, :process 31, :index 32}
{:type :info, :f :write, :value [1 2], :time 2289128810, :process 31, :error [:unknown "Not Leader"], :index 33}
{:type :invoke, :f :cas, :value [0 [3 0]], :time 2558281322, :process 9, :index 34}
{:type :info, :f :cas, :value [0 [3 0]], :time 2564909238, :process 9, :error [:unknown "Not Leader"], :index 35}
{:type :invoke, :f :cas, :value [1 [2 3]], :time 2875403240, :process 14, :index 36}
{:type :info, :f :cas, :value [1 [2 3]], :time 2881446150, :process 14, :error [:unknown "Not Leader"], :index 37}
{:type :invoke, :f :write, :value [1 2], :time 3129291302, :process 19, :index 38}
{:type :info, :f :write, :value [1 2], :time 3131774249, :process 19, :error [:unknown "Not Leader"], :index 39}
{:type :invoke, :f :cas, :value [1 [3 1]], :time 3441311484, :process 37, :index 40}
{:type :info, :f :cas, :value [1 [3 1]], :time 3448998907, :process 37, :error [:unknown "Not Leader"], :index 41}
{:type :invoke, :f :cas, :value [1 [3 1]], :time 3785236920, :process 34, :index 42}
{:type :info, :f :cas, :value [1 [3 1]], :time 3791919912, :process 34, :error [:unknown "Not Leader"], :index 43}
{:type :invoke, :f :write, :value [2 4], :time 4128576424, :process 53, :index 44}
{:type :info, :f :write, :value [2 4], :time 4135566280, :process 53, :error [:unknown "Not Leader"], :index 45}
{:type :invoke, :f :read, :time 4167105767, :process 0, :value [0 nil], :index 46}
{:type :fail, :f :read, :time 4169958669, :process 0, :value [0 nil], :error [:unknown "Not Leader"], :index 47}
{:type :invoke, :f :cas, :value [2 [1 2]], :time 4282919994, :process 57, :index 48}
{:type :info, :f :cas, :value [2 [1 2]], :time 4289283974, :process 57, :error [:unknown "Not Leader"], :index 49}
{:type :invoke, :f :cas, :value [0 [2 4]], :time 4644445780, :process 29, :index 50}
{:type :info, :f :cas, :value [0 [2 4]], :time 4651942164, :process 29, :error [:unknown "Not Leader"], :index 51}
{:type :invoke, :f :cas, :value [2 [0 1]], :time 4767337127, :process 77, :index 52}
{:type :info, :f :cas, :value [2 [0 1]], :time 4773151328, :process 77, :error [:unknown "Not Leader"], :index 53}
{:type :invoke, :f :read, :time 4992445815, :process 3, :value [0 nil], :index 54}
{:type :fail, :f :read, :time 4998082424, :process 3, :value [0 nil], :error [:unknown "Not Leader"], :index 55}
