{:type :invoke, :f :cas, :value [0 2], :time 237882595, :process 8, :index 2}
{:type :info, :f :cas, :value [0 2], :time 245988534, :process 8, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [1 0], :time 578112115, :process 6, :index 6}
{:type :info, :f :cas, :value [1 0], :time 586275604, :process 6, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [2 0], :time 1123396919, :process 28, :index 12}
{:type :info, :f :cas, :value [2 0], :time 1130412648, :process 28, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :read, :time 1204231830, :process 3, :value nil, :index 14}
{:type :fail, :f :read, :time 1208915693, :process 3, :value nil, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :cas, :value [2 3], :time 1247489207, :process 26, :index 16}
{:type :info, :f :cas, :value [2 3], :time 1249724801, :process 26, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :cas, :value [4 2], :time 1507742228, :process 48, :index 18}
{:type :info, :f :cas, :value [4 2], :time 1514310337, :process 48, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :read, :time 1897388699, :process 4, :value nil, :index 22}
{:type :fail, :f :read, :time 1899258643, :process 4, :value nil, :error [:unknown "Not Leader"], :index 23}
