{:type :invoke, :f :cas, :value [4 0], :time 132682023, :process 12, :index 2}
{:type :info, :f :cas, :value [4 0], :time 141883347, :process 12, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [1 1], :time 264956686, :process 18, :index 4}
{:type :info, :f :cas, :value [1 1], :time 267629928, :process 18, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [3 1], :time 496372690, :process 32, :index 6}
{:type :info, :f :cas, :value [3 1], :time 499113278, :process 32, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :write, :value 4, :time 504298214, :process 19, :index 8}
{:type :info, :f :write, :value 4, :time 506746406, :process 19, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [0 2], :time 992195092, :process 17, :index 13}
{:type :info, :f :cas, :value [0 2], :time 994818803, :process 17, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :cas, :value [2 1], :time 1125750751, :process 39, :index 15}
{:type :info, :f :cas, :value [2 1], :time 1128032601, :process 39, :error [:unknown "Not Leader"], :index 16}
{:type :invoke, :f :cas, :value [1 1], :time 1430741822, :process 37, :index 17}
{:type :info, :f :cas, :value [1 1], :time 1432887961, :process 37, :error [:unknown "Not Leader"], :index 18}
{:type :invoke, :f :write, :value 1, :time 1669945391, :process 15, :index 20}
{:type :invoke, :f :write, :value 1, :time 2008468872, :process 38, :index 21}
{:type :info, :f :write, :value 1, :time 2011121407, :process 38, :error [:unknown "Not Leader"], :index 22}
{:type :invoke, :f :write, :value 4, :time 2217007315, :process 59, :index 23}
{:type :info, :f :write, :value 4, :time 2223528869, :process 59, :error [:unknown "Not Leader"], :index 24}
{:type :info, :f :write, :value 1, :time 2673731147, :process 15, :error :net-timeout, :index 27}
{:type :invoke, :f :cas, :value [3 0], :time 2689627692, :process 57, :index 28}
{:type :info, :f :cas, :value [3 0], :time 2691367157, :process 57, :error [:unknown "Not Leader"], :index 29}
