{:type :invoke, :f :read, :time 12749469, :process 3, :value nil, :index 0}
{:type :fail, :f :read, :time 29500325, :process 3, :value nil, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :read, :time 636255250, :process 0, :value nil, :index 10}
{:type :invoke, :f :read, :time 883490589, :process 2, :value nil, :index 11}
{:type :fail, :f :read, :time 887080937, :process 2, :value nil, :error [:unknown "Not Leader"], :index 12}
{:type :fail, :f :read, :time 1637847401, :process 0, :value nil, :error :net-timeout, :index 19}
{:type :invoke, :f :write, :value 3, :time 2434683859, :process 6, :index 25}
{:type :info, :f :write, :value 3, :time 2441986088, :process 6, :error [:unknown "Not Leader"], :index 26}
{:type :invoke, :f :read, :time 3600751936, :process 4, :value nil, :index 36}
{:type :fail, :f :read, :time 3602888184, :process 4, :value nil, :error [:unknown "Not Leader"], :index 37}
{:type :invoke, :f :cas, :value [0 3], :time 3938727020, :process 9, :index 40}
{:type :info, :f :cas, :value [0 3], :time 3940532853, :process 9, :error [:unknown "Not Leader"], :index 41}
{:type :invoke, :f :cas, :value [1 2], :time 4450481040, :process 7, :index 43}
{:type :info, :f :cas, :value [1 2], :time 4452379883, :process 7, :error [:unknown "Not Leader"], :index 44}
{:type :invoke, :f :read, :time 4637998368, :process 4, :value nil, :index 45}
{:type :fail, :f :read, :time 4640649097, :process 4, :value nil, :error [:unknown "Not Leader"], :index 46}
{:type :invoke, :f :cas, :value [0 0], :time 4693812311, :process 8, :index 47}
{:type :info, :f :cas, :value [0 0], :time 4695995126, :process 8, :error [:unknown "Not Leader"], :index 48}
{:type :invoke, :f :read, :time 5005704319, :process 0, :value nil, :index 49}
{:type :fail, :f :read, :time 6006259345, :process 0, :value nil, :error :net-timeout, :index 51}
