{:type :invoke, :f :cas, :value [3 4], :time 199359333, :process 19, :index 2}
{:type :info, :f :cas, :value [3 4], :time 208188146, :process 19, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :write, :value 3, :time 1397287794, :process 18, :index 14}
{:type :info, :f :write, :value 3, :time 1404465784, :process 18, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :cas, :value [1 4], :time 1763324263, :process 38, :index 19}
{:type :info, :f :cas, :value [1 4], :time 1771356793, :process 38, :error [:unknown "Not Leader"], :index 20}
