{:type :invoke, :f :write, :value 2, :time 8420589666, :process 65, :index 82}
{:type :invoke, :f :read, :time 8725548447, :process 4, :value nil, :index 83}
{:type :fail, :f :read, :time 8731612180, :process 4, :value nil, :error [:unknown "Not Leader"], :index 84}
{:type :invoke, :f :write, :value 2, :time 9177707716, :process 47, :index 87}
{:type :info, :f :write, :value 2, :time 9181774747, :process 47, :error [:unknown "Not Leader"], :index 88}
{:type :invoke, :f :cas, :value [2 0], :time 9348547675, :process 46, :index 89}
{:type :info, :f :cas, :value [2 0], :time 9353697360, :process 46, :error [:unknown "Not Leader"], :index 90}
{:type :info, :f :write, :value 2, :time 9422390838, :process 65, :error :net-timeout, :index 91}
{:type :invoke, :f :read, :time 9588560413, :process 0, :value nil, :index 92}
{:type :fail, :f :read, :time 9593708056, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 93}
{:type :invoke, :f :read, :time 9773267993, :process 0, :value nil, :index 94}
{:type :fail, :f :read, :time 9778164735, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 95}
{:type :invoke, :f :cas, :value [4 0], :time 9874192766, :process 89, :index 96}
{:type :info, :f :cas, :value [4 0], :time 9879428736, :process 89, :error [:unknown "Not Leader"], :index 97}
{:type :invoke, :f :cas, :value [0 2], :time 9975423741, :process 85, :index 98}
{:type :info, :f :cas, :value [0 2], :time 10977901025, :process 85, :error :net-timeout, :index 99}
