{:type :invoke, :f :write, :value 1, :time 11581201, :process 10, :index 0}
{:type :invoke, :f :write, :value 2, :time 69238055, :process 12, :index 3}
{:type :info, :f :write, :value 2, :time 71587804, :process 12, :error [:unknown "Not Leader"], :index 4}
{:type :invoke, :f :cas, :value [2 2], :time 394289524, :process 17, :index 5}
{:type :info, :f :cas, :value [2 2], :time 402449367, :process 17, :error [:unknown "Not Leader"], :index 6}
{:type :info, :f :write, :value 1, :time 1029974876, :process 10, :error :net-timeout, :index 14}
{:type :invoke, :f :cas, :value [4 0], :time 1234428394, :process 32, :index 15}
{:type :info, :f :cas, :value [4 0], :time 1236412274, :process 32, :error [:unknown "Not Leader"], :index 16}
{:type :invoke, :f :cas, :value [2 4], :time 1385919380, :process 14, :index 18}
{:type :info, :f :cas, :value [2 4], :time 1394528677, :process 14, :error [:unknown "Not Leader"], :index 20}
{:type :invoke, :f :write, :value 3, :time 1716525206, :process 11, :index 22}
{:type :info, :f :write, :value 3, :time 1719739378, :process 11, :error [:unknown "Not Leader"], :index 23}
