{:type :invoke, :f :write, :value [0 1], :time 11882660, :process 7, :index 0}
{:type :info, :f :write, :value [0 1], :time 30508427, :process 7, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [0 [3 3]], :time 76603932, :process 27, :index 2}
{:type :info, :f :cas, :value [0 [3 3]], :time 79696523, :process 27, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :read, :time 243270632, :process 1, :value [0 nil], :index 4}
{:type :fail, :f :read, :time 248777188, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [1 [3 3]], :time 410449390, :process 16, :index 6}
{:type :info, :f :cas, :value [1 [3 3]], :time 419760423, :process 16, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :write, :value [1 4], :time 677691850, :process 12, :index 8}
{:type :info, :f :write, :value [1 4], :time 685367097, :process 12, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [1 [2 2]], :time 942701965, :process 36, :index 10}
{:type :info, :f :cas, :value [1 [2 2]], :time 948629873, :process 36, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [0 [0 4]], :time 1340889900, :process 9, :index 12}
{:type :info, :f :cas, :value [0 [0 4]], :time 1347736168, :process 9, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :write, :value [1 3], :time 1370810638, :process 18, :index 14}
{:type :info, :f :write, :value [1 3], :time 1373027661, :process 18, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :write, :value [1 2], :time 1397578238, :process 10, :index 16}
{:type :invoke, :f :cas, :value [1 [0 1]], :time 1598404586, :process 15, :index 17}
{:type :invoke, :f :read, :time 1653875511, :process 3, :value [0 nil], :index 18}
{:type :fail, :f :read, :time 1661264293, :process 3, :value [0 nil], :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :read, :time 1753939644, :process 0, :value [0 nil], :index 20}
{:type :fail, :f :read, :time 1761472657, :process 0, :value [0 nil], :error [:unknown "Invalid Key"], :index 21}
{:type :invoke, :f :cas, :value [0 [0 2]], :time 1809606677, :process 29, :index 22}
{:type :info, :f :cas, :value [0 [0 2]], :time 1812797966, :process 29, :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :read, :time 2094390226, :process 0, :value [0 nil], :index 24}
{:type :fail, :f :read, :time 2100092110, :process 0, :value [0 nil], :error [:unknown "Invalid Key"], :index 25}
{:type :invoke, :f :write, :value [1 3], :time 2235801598, :process 32, :index 26}
{:type :info, :f :write, :value [1 3], :time 2238069087, :process 32, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :write, :value [1 2], :time 2269301330, :process 13, :index 28}
{:type :info, :f :write, :value [1 2], :time 2271227197, :process 13, :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :cas, :value [1 [3 0]], :time 2293978511, :process 14, :index 30}
{:type :info, :f :cas, :value [1 [3 0]], :time 2295665133, :process 14, :error [:unknown "Not Leader"], :index 31}
{:type :info, :f :write, :value [1 2], :time 2398432000, :process 10, :error :net-timeout, :index 32}
{:type :invoke, :f :cas, :value [1 [3 3]], :time 2446117693, :process 33, :index 33}
{:type :info, :f :cas, :value [1 [3 3]], :time 2452359557, :process 33, :error [:unknown "Not Leader"], :index 34}
{:type :info, :f :cas, :value [1 [0 1]], :time 2602052178, :process 15, :error :net-timeout, :index 35}
{:type :invoke, :f :cas, :value [1 [1 1]], :time 2646949685, :process 38, :index 36}
{:type :info, :f :cas, :value [1 [1 1]], :time 2653628444, :process 38, :error [:unknown "Not Leader"], :index 37}
