{:type :invoke, :f :cas, :value [0 4], :time 815388048, :process 10, :index 8}
{:type :invoke, :f :cas, :value [4 1], :time 1075442271, :process 17, :index 9}
{:type :info, :f :cas, :value [4 1], :time 1084025471, :process 17, :error [:unknown "Not Leader"], :index 10}
{:type :invoke, :f :cas, :value [3 1], :time 1715022899, :process 13, :index 15}
{:type :info, :f :cas, :value [3 1], :time 1722219448, :process 13, :error [:unknown "Not Leader"], :index 16}
{:type :info, :f :cas, :value [0 4], :time 1819169089, :process 10, :error :net-timeout, :index 19}
