{:type :invoke, :f :txn, :value [[:append 9 1] [:r 8 nil]], :time 8424085, :process 0, :index 0}
{:type :invoke, :f :txn, :value [[:append 7 1]], :time 336138504, :process 2, :index 1}
{:type :invoke, :f :txn, :value [[:append 8 1] [:append 8 2]], :time 707718628, :process 1, :index 2}
{:type :invoke, :f :txn, :value [[:r 8 nil] [:append 9 2] [:r 8 nil] [:r 9 nil]], :time 866339202, :process 3, :index 3}
{:type :info, :f :txn, :value [[:append 9 1] [:r 8 nil]], :time 5016896849, :process 0, :error :net-timeout, :index 4}
{:type :info, :f :txn, :value [[:append 7 1]], :time 5339278529, :process 2, :error :net-timeout, :index 5}
{:type :info, :f :txn, :value [[:append 8 1] [:append 8 2]], :time 5711036396, :process 1, :error :net-timeout, :index 6}
{:type :info, :f :txn, :value [[:r 8 nil] [:append 9 2] [:r 8 nil] [:r 9 nil]], :time 5868792166, :process 3, :error :net-timeout, :index 7}
