{:type :invoke, :f :cas, :value [3 3], :time 12589949, :process 6, :index 0}
{:type :info, :f :cas, :value [3 3], :time 33739290, :process 6, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [0 2], :time 709544613, :process 8, :index 6}
{:type :info, :f :cas, :value [0 2], :time 712335927, :process 8, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :read, :time 828190845, :process 4, :value nil, :index 10}
{:type :fail, :f :read, :time 830424452, :process 4, :value nil, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :read, :time 1367713697, :process 0, :value nil, :index 13}
{:type :invoke, :f :write, :value 0, :time 1666054412, :process 26, :index 14}
{:type :info, :f :write, :value 0, :time 1668687054, :process 26, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :write, :value 2, :time 1697366239, :process 28, :index 16}
{:type :info, :f :write, :value 2, :time 1699737690, :process 28, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :read, :time 2077643225, :process 4, :value nil, :index 18}
{:type :fail, :f :read, :time 2082304408, :process 4, :value nil, :error [:unknown "Not Leader"], :index 19}
{:type :fail, :f :read, :time 2371798555, :process 0, :value nil, :error :net-timeout, :index 23}
{:type :invoke, :f :read, :time 2672336975, :process 1, :value nil, :index 26}
{:type :fail, :f :read, :time 2674719772, :process 1, :value nil, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :cas, :value [0 2], :time 3062175907, :process 46, :index 29}
{:type :info, :f :cas, :value [0 2], :time 3064956030, :process 46, :error [:unknown "Not Leader"], :index 30}
{:type :invoke, :f :read, :time 3258879741, :process 3, :value nil, :index 31}
{:type :fail, :f :read, :time 3262787513, :process 3, :value nil, :error [:unknown "Not Leader"], :index 32}
{:type :invoke, :f :read, :time 3278301196, :process 4, :value nil, :index 33}
{:type :fail, :f :read, :time 3281190136, :process 4, :value nil, :error [:unknown "Not Leader"], :index 34}
{:type :invoke, :f :cas, :value [0 0], :time 3981817995, :process 9, :index 37}
{:type :info, :f :cas, :value [0 0], :time 3983878187, :process 9, :error [:unknown "Not Leader"], :index 38}
{:type :invoke, :f :cas, :value [0 1], :time 4282510987, :process 66, :index 40}
{:type :info, :f :cas, :value [0 1], :time 4284521682, :process 66, :error [:unknown "Not Leader"], :index 41}
{:type :invoke, :f :read, :time 4682966977, :process 4, :value nil, :index 47}
{:type :fail, :f :read, :time 4685234792, :process 4, :value nil, :error [:unknown "Not Leader"], :index 48}
