{:type :invoke, :f :cas, :value [4 1], :time 11430202, :process 11, :index 0}
{:type :info, :f :cas, :value [4 1], :time 32582369, :process 11, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [3 0], :time 105891650, :process 13, :index 2}
{:type :info, :f :cas, :value [3 0], :time 108838425, :process 13, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [1 4], :time 561217807, :process 19, :index 6}
{:type :info, :f :cas, :value [1 4], :time 570244430, :process 19, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [2 3], :time 742274498, :process 18, :index 10}
{:type :info, :f :cas, :value [2 3], :time 751010981, :process 18, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :write, :value 0, :time 1122764619, :process 39, :index 12}
{:type :info, :f :write, :value 0, :time 1130865231, :process 39, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :write, :value 4, :time 1599060006, :process 33, :index 15}
{:type :info, :f :write, :value 4, :time 1606434371, :process 33, :error [:unknown "Not Leader"], :index 16}
{:type :invoke, :f :write, :value 0, :time 1950939303, :process 10, :index 17}
{:type :invoke, :f :write, :value 1, :time 2313730035, :process 15, :index 19}
{:type :invoke, :f :cas, :value [2 3], :time 2589174481, :process 38, :index 20}
{:type :info, :f :cas, :value [2 3], :time 2591767946, :process 38, :error [:unknown "Not Leader"], :index 21}
{:type :info, :f :write, :value 0, :time 2955240332, :process 10, :error :net-timeout, :index 22}
{:type :info, :f :write, :value 1, :time 3318215002, :process 15, :error :net-timeout, :index 25}
{:type :invoke, :f :cas, :value [4 3], :time 3744272816, :process 31, :index 30}
{:type :info, :f :cas, :value [4 3], :time 3750682002, :process 31, :error [:unknown "Not Leader"], :index 31}
{:type :invoke, :f :cas, :value [1 4], :time 3921424827, :process 16, :index 32}
{:type :info, :f :cas, :value [1 4], :time 3927721301, :process 16, :error [:unknown "Not Leader"], :index 33}
