{:type :invoke, :f :cas, :value [2 4], :time 147725236, :process 10, :index 2}
{:type :invoke, :f :write, :value 2, :time 801558372, :process 17, :index 7}
{:type :info, :f :write, :value 2, :time 808841205, :process 17, :error [:unknown "Not Leader"], :index 8}
{:type :invoke, :f :cas, :value [2 2], :time 1074142690, :process 12, :index 11}
{:type :info, :f :cas, :value [2 2], :time 1081554422, :process 12, :error [:unknown "Not Leader"], :index 12}
{:type :info, :f :cas, :value [2 4], :time 1150187630, :process 10, :error :net-timeout, :index 13}
{:type :invoke, :f :write, :value 1, :time 1506370182, :process 16, :index 18}
{:type :info, :f :write, :value 1, :time 1508672577, :process 16, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :cas, :value [3 2], :time 1836251978, :process 11, :index 22}
{:type :info, :f :cas, :value [3 2], :time 1843702061, :process 11, :error [:unknown "Not Leader"], :index 23}
