{:type :invoke, :f :cas, :value [0 [3 3]], :time 12589949, :process 6, :index 0}
{:type :info, :f :cas, :value [0 [3 3]], :time 33739290, :process 6, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [1 [2 2]], :time 151825780, :process 17, :index 2}
{:type :info, :f :cas, :value [1 [2 2]], :time 154631485, :process 17, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :write, :value [1 2], :time 351745294, :process 37, :index 4}
{:type :info, :f :write, :value [1 2], :time 355006302, :process 37, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [0 [0 2]], :time 709544613, :process 8, :index 6}
{:type :info, :f :cas, :value [0 [0 2]], :time 712335927, :process 8, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :write, :value [1 4], :time 782276319, :process 57, :index 8}
{:type :info, :f :write, :value [1 4], :time 784821142, :process 57, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :read, :time 828190845, :process 4, :value [0 nil], :index 10}
{:type :fail, :f :read, :time 830424452, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [1 [1 0]], :time 1096082493, :process 15, :index 12}
{:type :invoke, :f :read, :time 1367713697, :process 0, :value [0 nil], :index 13}
{:type :invoke, :f :write, :value [0 0], :time 1666054412, :process 26, :index 14}
{:type :info, :f :write, :value [0 0], :time 1668687054, :process 26, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :write, :value [0 2], :time 1697366239, :process 28, :index 16}
{:type :info, :f :write, :value [0 2], :time 1699737690, :process 28, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :read, :time 2077643225, :process 4, :value [0 nil], :index 18}
{:type :fail, :f :read, :time 2082304408, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 19}
{:type :info, :f :cas, :value [1 [1 0]], :time 2096836613, :process 15, :error :net-timeout, :index 20}
{:type :invoke, :f :cas, :value [1 [3 2]], :time 2243406562, :process 18, :index 21}
{:type :info, :f :cas, :value [1 [3 2]], :time 2246965112, :process 18, :error [:unknown "Not Leader"], :index 22}
{:type :fail, :f :read, :time 2371798555, :process 0, :value [0 nil], :error :net-timeout, :index 23}
{:type :invoke, :f :cas, :value [1 [0 0]], :time 2494406829, :process 19, :index 24}
{:type :info, :f :cas, :value [1 [0 0]], :time 2496896845, :process 19, :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :read, :time 2672336975, :process 1, :value [0 nil], :index 26}
{:type :fail, :f :read, :time 2674719772, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :cas, :value [1 [0 2]], :time 2786648737, :process 10, :index 28}
{:type :invoke, :f :cas, :value [0 [0 2]], :time 3062175907, :process 46, :index 29}
{:type :info, :f :cas, :value [0 [0 2]], :time 3064956030, :process 46, :error [:unknown "Not Leader"], :index 30}
{:type :invoke, :f :read, :time 3258879741, :process 3, :value [0 nil], :index 31}
{:type :fail, :f :read, :time 3262787513, :process 3, :value [0 nil], :error [:unknown "Not Leader"], :index 32}
{:type :invoke, :f :read, :time 3278301196, :process 4, :value [0 nil], :index 33}
{:type :fail, :f :read, :time 3281190136, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 34}
{:type :invoke, :f :write, :value [1 4], :time 3665163146, :process 35, :index 35}
{:type :info, :f :cas, :value [1 [0 2]], :time 3788089975, :process 10, :error :net-timeout, :index 36}
{:type :invoke, :f :cas, :value [0 [0 0]], :time 3981817995, :process 9, :index 37}
{:type :info, :f :cas, :value [0 [0 0]], :time 3983878187, :process 9, :error [:unknown "Not Leader"], :index 38}
{:type :invoke, :f :cas, :value [1 [4 3]], :time 3997970293, :process 30, :index 39}
{:type :invoke, :f :cas, :value [0 [0 1]], :time 4282510987, :process 66, :index 40}
{:type :info, :f :cas, :value [0 [0 1]], :time 4284521682, :process 66, :error [:unknown "Not Leader"], :index 41}
{:type :invoke, :f :cas, :value [1 [2 4]], :time 4324873084, :process 16, :index 42}
{:type :info, :f :cas, :value [1 [2 4]], :time 4326914566, :process 16, :error [:unknown "Not Leader"], :index 43}
{:type :invoke, :f :write, :value [1 1], :time 4468921394, :process 13, :index 44}
{:type :info, :f :write, :value [1 1], :time 4471102877, :process 13, :error [:unknown "Not Leader"], :index 45}
{:type :info, :f :write, :value [1 4], :time 4666293202, :process 35, :error :net-timeout, :index 46}
{:type :invoke, :f :read, :time 4682966977, :process 4, :value [0 nil], :index 47}
{:type :fail, :f :read, :time 4685234792, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 48}
{:type :invoke, :f :write, :value [1 4], :time 4884879514, :process 38, :index 49}
{:type :info, :f :write, :value [1 4], :time 4887242075, :process 38, :error [:unknown "Not Leader"], :index 50}
{:type :info, :f :cas, :value [1 [4 3]], :time 4997995401, :process 30, :error :net-timeout, :index 51}
