{:type :invoke, :f :read, :time 450458626, :process 4, :value nil, :index 4}
{:type :fail, :f :read, :time 458828367, :process 4, :value nil, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :write, :value 4, :time 1084776752, :process 9, :index 8}
{:type :info, :f :write, :value 4, :time 1092428822, :process 9, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [2 4], :time 1261216707, :process 6, :index 10}
{:type :info, :f :cas, :value [2 4], :time 1269370448, :process 6, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :read, :time 1631548082, :process 0, :value nil, :index 13}
{:type :fail, :f :read, :time 1640003598, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 14}
{:type :invoke, :f :read, :time 1793619530, :process 2, :value nil, :index 15}
{:type :fail, :f :read, :time 1801722754, :process 2, :value nil, :error [:unknown "Not Leader"], :index 16}
{:type :invoke, :f :cas, :value [1 0], :time 1977877641, :process 7, :index 17}
{:type :info, :f :cas, :value [1 0], :time 1981495008, :process 7, :error [:unknown "Not Leader"], :index 18}
