{:type :invoke, :f :write, :value 1, :time 11944484, :process 18, :index 0}
{:type :info, :f :write, :value 1, :time 32976278, :process 18, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [0 0], :time 1117235160, :process 13, :index 9}
{:type :info, :f :cas, :value [0 0], :time 1125232739, :process 13, :error [:unknown "Not Leader"], :index 10}
{:type :invoke, :f :cas, :value [3 4], :time 1519534741, :process 15, :index 14}
{:type :invoke, :f :write, :value 0, :time 1656491193, :process 16, :index 15}
{:type :info, :f :write, :value 0, :time 1661301546, :process 16, :error [:unknown "Not Leader"], :index 16}
{:type :info, :f :cas, :value [3 4], :time 2523330898, :process 15, :error :net-timeout, :index 17}
