{:type :invoke, :f :cas, :value [0 [4 2]], :time 12394650, :process 6, :index 0}
{:type :invoke, :f :cas, :value [1 [4 0]], :time 25775853, :process 19, :index 1}
{:type :info, :f :cas, :value [0 [4 2]], :time 33342417, :process 6, :error [:unknown "Not Leader"], :index 2}
{:type :info, :f :cas, :value [1 [4 0]], :time 33766376, :process 19, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [1 [3 3]], :time 401625685, :process 15, :index 4}
{:type :invoke, :f :write, :value [0 2], :time 617654931, :process 7, :index 5}
{:type :info, :f :write, :value [0 2], :time 628573616, :process 7, :error [:unknown "Not Leader"], :index 6}
{:type :invoke, :f :read, :time 793503466, :process 1, :value [0 nil], :index 7}
{:type :fail, :f :read, :time 802809030, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 8}
{:type :invoke, :f :cas, :value [1 [2 4]], :time 885582334, :process 13, :index 9}
{:type :info, :f :cas, :value [1 [2 4]], :time 893875495, :process 13, :error [:unknown "Not Leader"], :index 10}
{:type :invoke, :f :read, :time 1100748339, :process 2, :value [0 nil], :index 11}
{:type :fail, :f :read, :time 1107812519, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 12}
{:type :info, :f :cas, :value [1 [3 3]], :time 1407522795, :process 15, :error :net-timeout, :index 13}
{:type :invoke, :f :cas, :value [1 [2 2]], :time 1454623053, :process 12, :index 14}
{:type :info, :f :cas, :value [1 [2 2]], :time 1457544517, :process 12, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :cas, :value [1 [0 4]], :time 1734398509, :process 18, :index 16}
{:type :info, :f :cas, :value [1 [0 4]], :time 1740581341, :process 18, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :read, :time 2103818989, :process 4, :value [0 nil], :index 18}
{:type :fail, :f :read, :time 2106037700, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :cas, :value [1 [1 2]], :time 2336627200, :process 35, :index 20}
{:type :invoke, :f :cas, :value [0 [0 0]], :time 2536692716, :process 5, :index 21}
{:type :invoke, :f :write, :value [1 2], :time 2664753820, :process 14, :index 22}
{:type :info, :f :write, :value [1 2], :time 2677397091, :process 14, :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :cas, :value [1 [4 1]], :time 2920212564, :process 38, :index 24}
{:type :info, :f :cas, :value [1 [4 1]], :time 2927327757, :process 38, :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :read, :time 3212978169, :process 3, :value [0 nil], :index 26}
{:type :fail, :f :read, :time 3219935623, :process 3, :value [0 nil], :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :cas, :value [1 [3 0]], :time 3335972891, :process 34, :index 28}
{:type :info, :f :cas, :value [1 [1 2]], :time 3339274351, :process 35, :error :net-timeout, :index 29}
{:type :info, :f :cas, :value [1 [3 0]], :time 3342814670, :process 34, :error [:unknown "Not Leader"], :index 30}
{:type :info, :f :cas, :value [0 [0 0]], :time 3538696449, :process 5, :error :net-timeout, :index 31}
{:type :invoke, :f :write, :value [1 3], :time 3544763177, :process 58, :index 32}
{:type :info, :f :write, :value [1 3], :time 3551670231, :process 58, :error [:unknown "Not Leader"], :index 33}
{:type :invoke, :f :write, :value [1 4], :time 3563719338, :process 10, :index 34}
{:type :invoke, :f :write, :value [1 4], :time 3611119522, :process 39, :index 35}
{:type :info, :f :write, :value [1 4], :time 3616892651, :process 39, :error [:unknown "Not Leader"], :index 36}
{:type :invoke, :f :cas, :value [2 [3 3]], :time 3844792756, :process 55, :index 37}
{:type :invoke, :f :read, :time 4015825699, :process 1, :value [0 nil], :index 38}
{:type :fail, :f :read, :time 4017697813, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 39}
{:type :invoke, :f :cas, :value [2 [4 4]], :time 4049507878, :process 32, :index 40}
{:type :info, :f :cas, :value [2 [4 4]], :time 4051304859, :process 32, :error [:unknown "Not Leader"], :index 41}
{:type :invoke, :f :cas, :value [2 [1 3]], :time 4369308153, :process 52, :index 42}
{:type :info, :f :cas, :value [2 [1 3]], :time 4375150778, :process 52, :error [:unknown "Not Leader"], :index 43}
{:type :info, :f :write, :value [1 4], :time 4567290518, :process 10, :error :net-timeout, :index 44}
{:type :invoke, :f :write, :value [2 3], :time 4721541939, :process 17, :index 45}
{:type :info, :f :write, :value [2 3], :time 4724747366, :process 17, :error [:unknown "Not Leader"], :index 46}
{:type :info, :f :cas, :value [2 [3 3]], :time 4847778564, :process 55, :error :net-timeout, :index 47}
{:type :invoke, :f :cas, :value [0 [3 2]], :time 4847984413, :process 9, :index 48}
{:type :info, :f :cas, :value [0 [3 2]], :time 4850646187, :process 9, :error [:unknown "Not Leader"], :index 49}
{:type :invoke, :f :write, :value [0 3], :time 4938542561, :process 25, :index 50}
{:type :info, :f :write, :value [0 3], :time 5938899323, :process 25, :error :net-timeout, :index 51}
