{:type :invoke, :f :write, :value 0, :time 17922864, :process 9, :index 0}
{:type :info, :f :write, :value 0, :time 43402110, :process 9, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [4 3], :time 475544153, :process 6, :index 5}
{:type :info, :f :cas, :value [4 3], :time 478378367, :process 6, :error [:unknown "Not Leader"], :index 6}
{:type :invoke, :f :read, :time 736540203, :process 2, :value nil, :index 7}
{:type :fail, :f :read, :time 739892070, :process 2, :value nil, :error [:unknown "Not Leader"], :index 8}
{:type :invoke, :f :read, :time 803268242, :process 0, :value nil, :index 9}
{:type :fail, :f :read, :time 805763927, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 10}
{:type :invoke, :f :read, :time 1158880854, :process 3, :value nil, :index 13}
{:type :fail, :f :read, :time 1208523905, :process 3, :value nil, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :write, :value 1, :time 1225669908, :process 26, :index 15}
{:type :info, :f :write, :value 1, :time 1266565317, :process 26, :error [:unknown "Not Leader"], :index 16}
{:type :invoke, :f :write, :value 3, :time 1950096284, :process 7, :index 20}
{:type :info, :f :write, :value 3, :time 2098056315, :process 7, :error [:unknown "Not Leader"], :index 21}
