{:type :invoke, :f :txn, :value [[:append 7 1] [:r 9 nil] [:append 7 2]], :time 9069434, :process 0, :index 0}
{:type :invoke, :f :txn, :value [[:r 8 nil] [:append 9 1] [:append 8 1] [:append 6 1]], :time 347967074, :process 2, :index 1}
{:type :invoke, :f :txn, :value [[:r 9 nil] [:r 9 nil]], :time 467149980, :process 3, :index 2}
{:type :invoke, :f :txn, :value [[:append 8 2]], :time 748535354, :process 1, :index 3}
{:type :info, :f :txn, :value [[:append 7 1] [:r 9 nil] [:append 7 2]], :time 5018425605, :process 0, :error :net-timeout, :index 4}
{:type :info, :f :txn, :value [[:r 8 nil] [:append 9 1] [:append 8 1] [:append 6 1]], :time 5350988425, :process 2, :error :net-timeout, :index 5}
{:type :info, :f :txn, :value [[:r 9 nil] [:r 9 nil]], :time 5470371701, :process 3, :error :net-timeout, :index 6}
{:type :info, :f :txn, :value [[:append 8 2]], :time 5751670042, :process 1, :error :net-timeout, :index 7}
