{:type :invoke, :f :write, :value 0, :time 23981128, :process 13, :index 0}
{:type :invoke, :f :cas, :value [2 3], :time 36362515, :process 14, :index 1}
{:type :info, :f :cas, :value [2 3], :time 47815021, :process 14, :error [:unknown "Not Leader"], :index 2}
{:type :info, :f :write, :value 0, :time 48271899, :process 13, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [1 2], :time 300411947, :process 16, :index 4}
{:type :info, :f :cas, :value [1 2], :time 309408672, :process 16, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [2 2], :time 406172389, :process 19, :index 8}
{:type :info, :f :cas, :value [2 2], :time 413586780, :process 19, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [0 3], :time 616794021, :process 33, :index 10}
{:type :info, :f :cas, :value [0 3], :time 624667593, :process 33, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :write, :value 2, :time 1712811167, :process 34, :index 20}
{:type :info, :f :write, :value 2, :time 1719268820, :process 34, :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :cas, :value [3 0], :time 2038057286, :process 17, :index 24}
{:type :info, :f :cas, :value [3 0], :time 2040244976, :process 17, :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :write, :value 4, :time 2366510937, :process 54, :index 26}
{:type :info, :f :write, :value 4, :time 2373410815, :process 54, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :cas, :value [2 0], :time 2653054317, :process 15, :index 28}
{:type :invoke, :f :cas, :value [0 0], :time 2838241558, :process 37, :index 29}
{:type :info, :f :cas, :value [0 0], :time 2844871918, :process 37, :error [:unknown "Not Leader"], :index 30}
{:type :info, :f :cas, :value [2 0], :time 3655706959, :process 15, :error :net-timeout, :index 31}
