{:type :invoke, :f :read, :time 12276372, :process 1, :value nil, :index 0}
{:type :fail, :f :read, :time 30848187, :process 1, :value nil, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :read, :time 301840918, :process 0, :value nil, :index 4}
{:type :fail, :f :read, :time 310978159, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 5}
{:type :invoke, :f :read, :time 599520242, :process 3, :value nil, :index 8}
{:type :fail, :f :read, :time 608105144, :process 3, :value nil, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :read, :time 1934095060, :process 0, :value nil, :index 17}
{:type :fail, :f :read, :time 1942482799, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 18}
