{:type :invoke, :f :read, :time 13673594, :process 3, :value nil, :index 0}
{:type :fail, :f :read, :time 34713086, :process 3, :value nil, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value 0, :time 170755164, :process 7, :index 4}
{:type :info, :f :write, :value 0, :time 173344370, :process 7, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :read, :time 1049610097, :process 1, :value nil, :index 11}
{:type :fail, :f :read, :time 1056796347, :process 1, :value nil, :error [:unknown "Not Leader"], :index 12}
{:type :invoke, :f :write, :value 1, :time 1317706006, :process 5, :index 15}
{:type :invoke, :f :cas, :value [1 1], :time 1843023164, :process 27, :index 19}
{:type :info, :f :cas, :value [1 1], :time 1850695488, :process 27, :error [:unknown "Not Leader"], :index 20}
{:type :info, :f :write, :value 1, :time 2321216903, :process 5, :error :net-timeout, :index 23}
