{:type :invoke, :f :cas, :value [2 3], :time 15674113, :process 19, :index 0}
{:type :info, :f :cas, :value [2 3], :time 34285887, :process 19, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value 2, :time 697805911, :process 14, :index 6}
{:type :info, :f :write, :value 2, :time 701892509, :process 14, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :write, :value 1, :time 1021159210, :process 16, :index 10}
{:type :info, :f :write, :value 1, :time 1030564634, :process 16, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [1 2], :time 1321749251, :process 15, :index 12}
{:type :invoke, :f :cas, :value [1 4], :time 1997457048, :process 13, :index 15}
{:type :info, :f :cas, :value [1 4], :time 2108548754, :process 13, :error [:unknown "Not Leader"], :index 16}
{:type :info, :f :cas, :value [1 2], :time 2327484343, :process 15, :error :net-timeout, :index 17}
