{:type :invoke, :f :read, :time 10765193, :process 4, :value nil, :index 0}
{:type :fail, :f :read, :time 29101792, :process 4, :value nil, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :read, :time 1165512936, :process 0, :value nil, :index 8}
{:type :fail, :f :read, :time 1172670468, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 9}
{:type :invoke, :f :read, :time 1963571900, :process 0, :value nil, :index 18}
{:type :fail, :f :read, :time 1970222608, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 19}
