{:type :invoke, :f :read, :time 10140682, :process 4, :value [0 nil], :index 0}
{:type :fail, :f :read, :time 32064212, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :read, :time 283115000, :process 0, :value [0 nil], :index 2}
{:type :fail, :f :read, :time 291321514, :process 0, :value [0 nil], :error [:unknown "Invalid Key"], :index 3}
{:type :invoke, :f :read, :time 575172767, :process 1, :value [0 nil], :index 4}
{:type :fail, :f :read, :time 583334245, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [0 [1 1]], :time 822865105, :process 9, :index 6}
{:type :info, :f :cas, :value [0 [1 1]], :time 830891623, :process 9, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [1 [0 1]], :time 933786072, :process 18, :index 8}
{:type :info, :f :cas, :value [1 [0 1]], :time 936237989, :process 18, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :read, :time 1117094698, :process 2, :value [0 nil], :index 10}
{:type :fail, :f :read, :time 1121694548, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [1 [0 4]], :time 1140609036, :process 38, :index 12}
{:type :info, :f :cas, :value [1 [0 4]], :time 1142949063, :process 38, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :cas, :value [1 [0 4]], :time 1383261066, :process 58, :index 14}
{:type :info, :f :cas, :value [1 [0 4]], :time 1385339307, :process 58, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :read, :time 1579338690, :process 2, :value [0 nil], :index 16}
{:type :fail, :f :read, :time 1581886414, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :cas, :value [1 [3 2]], :time 1724804861, :process 17, :index 18}
{:type :info, :f :cas, :value [1 [3 2]], :time 1732333853, :process 17, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :cas, :value [1 [2 4]], :time 1970843467, :process 13, :index 20}
{:type :info, :f :cas, :value [1 [2 4]], :time 1976257151, :process 13, :error [:unknown "Not Leader"], :index 21}
