{:type :invoke, :f :cas, :value [3 1], :time 10048737, :process 8, :index 0}
{:type :info, :f :cas, :value [3 1], :time 27615651, :process 8, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [4 3], :time 356426780, :process 6, :index 8}
{:type :info, :f :cas, :value [4 3], :time 363950147, :process 6, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :write, :value 1, :time 604362207, :process 26, :index 10}
{:type :info, :f :write, :value 1, :time 611682682, :process 26, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :read, :time 638523362, :process 2, :value nil, :index 12}
{:type :fail, :f :read, :time 644476255, :process 2, :value nil, :error [:unknown "Not Leader"], :index 13}
