{:type :invoke, :f :write, :value 4, :time 4128576424, :process 53, :index 44}
{:type :info, :f :write, :value 4, :time 4135566280, :process 53, :error [:unknown "Not Leader"], :index 45}
{:type :invoke, :f :cas, :value [1 2], :time 4282919994, :process 57, :index 48}
{:type :info, :f :cas, :value [1 2], :time 4289283974, :process 57, :error [:unknown "Not Leader"], :index 49}
{:type :invoke, :f :cas, :value [0 1], :time 4767337127, :process 77, :index 52}
{:type :info, :f :cas, :value [0 1], :time 4773151328, :process 77, :error [:unknown "Not Leader"], :index 53}
