{:type :invoke, :f :cas, :value [0 2], :time 7875758770, :process 113, :index 75}
{:type :info, :f :cas, :value [0 2], :time 7878183366, :process 113, :error [:unknown "Not Leader"], :index 76}
{:type :invoke, :f :cas, :value [0 3], :time 8244526995, :process 91, :index 77}
{:type :info, :f :cas, :value [0 3], :time 8250583745, :process 91, :error [:unknown "Not Leader"], :index 78}
{:type :invoke, :f :cas, :value [0 1], :time 8373487546, :process 56, :index 80}
{:type :info, :f :cas, :value [0 1], :time 8378583482, :process 56, :error [:unknown "Not Leader"], :index 81}
{:type :invoke, :f :cas, :value [4 4], :time 8949612956, :process 111, :index 85}
{:type :info, :f :cas, :value [4 4], :time 8956275036, :process 111, :error [:unknown "Not Leader"], :index 86}
