{:type :invoke, :f :read, :time 343250771, :process 0, :value nil, :index 6}
{:type :fail, :f :read, :time 350820745, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 7}
{:type :invoke, :f :cas, :value [0 1], :time 867336575, :process 9, :index 12}
{:type :info, :f :cas, :value [0 1], :time 874904913, :process 9, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :cas, :value [0 0], :time 1115472186, :process 29, :index 14}
{:type :info, :f :cas, :value [0 0], :time 1117696448, :process 29, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :write, :value 1, :time 1465256779, :process 49, :index 16}
{:type :info, :f :write, :value 1, :time 1472363620, :process 49, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :read, :time 1649575113, :process 4, :value nil, :index 18}
{:type :fail, :f :read, :time 1656565371, :process 4, :value nil, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :cas, :value [3 0], :time 1944579231, :process 7, :index 22}
{:type :info, :f :cas, :value [3 0], :time 1951183534, :process 7, :error [:unknown "Not Leader"], :index 23}
