{:type :invoke, :f :write, :value 0, :time 76706068, :process 12, :index 2}
{:type :info, :f :write, :value 0, :time 79395435, :process 12, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :write, :value 1, :time 392092547, :process 16, :index 6}
{:type :info, :f :write, :value 1, :time 399717715, :process 16, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :write, :value 3, :time 783048593, :process 15, :index 8}
{:type :invoke, :f :cas, :value [1 3], :time 872118057, :process 13, :index 9}
{:type :info, :f :cas, :value [1 3], :time 879474461, :process 13, :error [:unknown "Not Leader"], :index 10}
{:type :invoke, :f :cas, :value [1 3], :time 1108774532, :process 17, :index 13}
{:type :info, :f :cas, :value [1 3], :time 1114711723, :process 17, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :cas, :value [4 2], :time 1632853253, :process 11, :index 16}
{:type :info, :f :cas, :value [4 2], :time 1640797484, :process 11, :error [:unknown "Not Leader"], :index 17}
{:type :info, :f :write, :value 3, :time 1787041359, :process 15, :error :net-timeout, :index 18}
{:type :invoke, :f :write, :value 0, :time 1901679371, :process 31, :index 21}
{:type :info, :f :write, :value 0, :time 1904684641, :process 31, :error [:unknown "Not Leader"], :index 22}
