{:type :invoke, :f :cas, :value [0 2], :time 393051900, :process 15, :index 2}
{:type :invoke, :f :cas, :value [2 1], :time 682707615, :process 10, :index 5}
{:type :invoke, :f :cas, :value [3 2], :time 1252729098, :process 13, :index 9}
{:type :info, :f :cas, :value [3 2], :time 1255072445, :process 13, :error [:unknown "Not Leader"], :index 10}
{:type :info, :f :cas, :value [0 2], :time 1394084139, :process 15, :error :net-timeout, :index 11}
{:type :info, :f :cas, :value [2 1], :time 1683633717, :process 10, :error :net-timeout, :index 16}
{:type :invoke, :f :cas, :value [1 1], :time 1867496801, :process 33, :index 19}
{:type :info, :f :cas, :value [1 1], :time 1869635995, :process 33, :error [:unknown "Not Leader"], :index 20}
{:type :invoke, :f :write, :value 1, :time 2411500102, :process 30, :index 23}
{:type :invoke, :f :cas, :value [1 3], :time 2723349722, :process 16, :index 24}
{:type :info, :f :cas, :value [1 3], :time 2725810894, :process 16, :error [:unknown "Not Leader"], :index 25}
{:type :info, :f :write, :value 1, :time 3412097074, :process 30, :error :net-timeout, :index 29}
