{:type :invoke, :f :write, :value 0, :time 9971838, :process 8, :index 0}
{:type :info, :f :write, :value 0, :time 26110711, :process 8, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :read, :time 209109469, :process 0, :value nil, :index 2}
{:type :fail, :f :read, :time 211960840, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 3}
{:type :invoke, :f :cas, :value [2 3], :time 982730669, :process 7, :index 8}
{:type :info, :f :cas, :value [2 3], :time 984906696, :process 7, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :read, :time 1146213613, :process 4, :value nil, :index 10}
{:type :fail, :f :read, :time 1153084818, :process 4, :value nil, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :write, :value 2, :time 1839491305, :process 28, :index 16}
{:type :info, :f :write, :value 2, :time 1842600782, :process 28, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :write, :value 4, :time 2176959094, :process 9, :index 20}
{:type :info, :f :write, :value 4, :time 2183608784, :process 9, :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :cas, :value [2 0], :time 2328223262, :process 5, :index 22}
{:type :invoke, :f :cas, :value [3 1], :time 2380634713, :process 6, :index 23}
{:type :info, :f :cas, :value [3 1], :time 2383150874, :process 6, :error [:unknown "Not Leader"], :index 24}
{:type :invoke, :f :read, :time 2587621462, :process 4, :value nil, :index 25}
{:type :fail, :f :read, :time 2595370712, :process 4, :value nil, :error [:unknown "Not Leader"], :index 26}
{:type :info, :f :cas, :value [2 0], :time 3330818684, :process 5, :error :net-timeout, :index 31}
