{:type :invoke, :f :cas, :value [0 1], :time 2676722866, :process 38, :index 36}
{:type :info, :f :cas, :value [0 1], :time 2682851416, :process 38, :error [:unknown "Not Leader"], :index 37}
{:type :invoke, :f :cas, :value [0 1], :time 2749975446, :process 31, :index 38}
{:type :info, :f :cas, :value [0 1], :time 2756152670, :process 31, :error [:unknown "Not Leader"], :index 39}
{:type :invoke, :f :cas, :value [1 0], :time 2811690131, :process 37, :index 40}
{:type :info, :f :cas, :value [1 0], :time 2814006922, :process 37, :error [:unknown "Not Leader"], :index 41}
{:type :invoke, :f :write, :value 4, :time 2964532607, :process 53, :index 42}
{:type :info, :f :write, :value 4, :time 2970427450, :process 53, :error [:unknown "Not Leader"], :index 43}
