{:type :invoke, :f :read, :time 10140682, :process 4, :value nil, :index 0}
{:type :fail, :f :read, :time 32064212, :process 4, :value nil, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :read, :time 283115000, :process 0, :value nil, :index 2}
{:type :fail, :f :read, :time 291321514, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 3}
{:type :invoke, :f :read, :time 575172767, :process 1, :value nil, :index 4}
{:type :fail, :f :read, :time 583334245, :process 1, :value nil, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [1 1], :time 822865105, :process 9, :index 6}
{:type :info, :f :cas, :value [1 1], :time 830891623, :process 9, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :read, :time 1117094698, :process 2, :value nil, :index 10}
{:type :fail, :f :read, :time 1121694548, :process 2, :value nil, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :read, :time 1579338690, :process 2, :value nil, :index 16}
{:type :fail, :f :read, :time 1581886414, :process 2, :value nil, :error [:unknown "Not Leader"], :index 17}
