{:type :invoke, :f :read, :time 196089372, :process 1, :value nil, :index 4}
{:type :fail, :f :read, :time 204796573, :process 1, :value nil, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :read, :time 405938329, :process 0, :value nil, :index 8}
{:type :fail, :f :read, :time 413952312, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 9}
{:type :invoke, :f :read, :time 868893907, :process 3, :value nil, :index 12}
{:type :fail, :f :read, :time 872855463, :process 3, :value nil, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :read, :time 1191938484, :process 2, :value nil, :index 16}
{:type :fail, :f :read, :time 1203230103, :process 2, :value nil, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :read, :time 1223204389, :process 1, :value nil, :index 18}
{:type :fail, :f :read, :time 1232286680, :process 1, :value nil, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :read, :time 1508501389, :process 3, :value nil, :index 20}
{:type :fail, :f :read, :time 1581894617, :process 3, :value nil, :error [:unknown "Not Leader"], :index 22}
{:type :invoke, :f :write, :value 4, :time 1911509245, :process 6, :index 23}
{:type :info, :f :write, :value 4, :time 2068458486, :process 6, :error [:unknown "Not Leader"], :index 24}
