{:type :invoke, :f :write, :value 4, :time 12043029, :process 7, :index 0}
{:type :info, :f :write, :value 4, :time 32676228, :process 7, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :read, :time 582486607, :process 4, :value nil, :index 4}
{:type :fail, :f :read, :time 590333094, :process 4, :value nil, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :read, :time 688018995, :process 2, :value nil, :index 6}
{:type :fail, :f :read, :time 695582304, :process 2, :value nil, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :read, :time 913909317, :process 2, :value nil, :index 8}
{:type :fail, :f :read, :time 921115620, :process 2, :value nil, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :read, :time 1043515035, :process 0, :value nil, :index 10}
{:type :fail, :f :read, :time 1050529526, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 11}
{:type :invoke, :f :read, :time 1098176854, :process 2, :value nil, :index 12}
{:type :fail, :f :read, :time 1101803478, :process 2, :value nil, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :cas, :value [3 4], :time 1507977568, :process 5, :index 16}
{:type :invoke, :f :write, :value 1, :time 1625687776, :process 8, :index 17}
{:type :info, :f :write, :value 1, :time 1633034825, :process 8, :error [:unknown "Not Leader"], :index 18}
{:type :info, :f :cas, :value [3 4], :time 2509512483, :process 5, :error :net-timeout, :index 21}
