{:type :invoke, :f :write, :value 2, :time 4542673631, :process 31, :index 44}
{:type :info, :f :write, :value 2, :time 4544684846, :process 31, :error [:unknown "Not Leader"], :index 45}
{:type :invoke, :f :write, :value 4, :time 4835097987, :process 15, :index 46}
{:type :info, :f :write, :value 4, :time 4840767157, :process 15, :error [:unknown "Not Leader"], :index 47}
{:type :invoke, :f :cas, :value [4 2], :time 4983471818, :process 51, :index 48}
{:type :info, :f :cas, :value [4 2], :time 4988967025, :process 51, :error [:unknown "Not Leader"], :index 49}
