{:type :invoke, :f :read, :time 1308564692, :process 2, :value nil, :index 8}
{:type :fail, :f :read, :time 1312286374, :process 2, :value nil, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :read, :time 1583647747, :process 1, :value nil, :index 10}
{:type :fail, :f :read, :time 1591523293, :process 1, :value nil, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [2 1], :time 1921862910, :process 9, :index 12}
{:type :info, :f :cas, :value [2 1], :time 1929126394, :process 9, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :cas, :value [0 2], :time 2270952988, :process 5, :index 16}
{:type :invoke, :f :cas, :value [3 1], :time 2700260881, :process 6, :index 19}
{:type :info, :f :cas, :value [3 1], :time 2706913986, :process 6, :error [:unknown "Not Leader"], :index 20}
{:type :info, :f :cas, :value [0 2], :time 3274489541, :process 5, :error :net-timeout, :index 25}
{:type :invoke, :f :write, :value 3, :time 3333105742, :process 8, :index 26}
{:type :info, :f :write, :value 3, :time 3339899159, :process 8, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :read, :time 3964453444, :process 2, :value nil, :index 35}
{:type :fail, :f :read, :time 3971933878, :process 2, :value nil, :error [:unknown "Not Leader"], :index 36}
{:type :invoke, :f :read, :time 4310640142, :process 3, :value nil, :index 37}
{:type :fail, :f :read, :time 4316391069, :process 3, :value nil, :error [:unknown "Not Leader"], :index 38}
{:type :invoke, :f :cas, :value [0 1], :time 4512214199, :process 25, :index 39}
{:type :invoke, :f :read, :time 4789624285, :process 1, :value nil, :index 41}
{:type :fail, :f :read, :time 4829904684, :process 1, :value nil, :error [:unknown "Not Leader"], :index 42}
{:type :invoke, :f :read, :time 5167830199, :process 1, :value nil, :index 43}
{:type :fail, :f :read, :time 5170366701, :process 1, :value nil, :error [:unknown "Not Leader"], :index 44}
{:type :info, :f :cas, :value [0 1], :time 5514674343, :process 25, :error :net-timeout, :index 45}
{:type :invoke, :f :read, :time 5911645855, :process 3, :value nil, :index 52}
{:type :fail, :f :read, :time 5917140029, :process 3, :value nil, :error [:unknown "Not Leader"], :index 53}
{:type :invoke, :f :read, :time 6759392957, :process 2, :value nil, :index 62}
{:type :fail, :f :read, :time 6764675091, :process 2, :value nil, :error [:unknown "Not Leader"], :index 63}
{:type :invoke, :f :cas, :value [2 2], :time 7537365107, :process 26, :index 68}
{:type :info, :f :cas, :value [2 2], :time 7542707195, :process 26, :error [:unknown "Not Leader"], :index 69}
{:type :invoke, :f :write, :value 4, :time 7623322436, :process 7, :index 70}
{:type :info, :f :write, :value 4, :time 7628951694, :process 7, :error [:unknown "Not Leader"], :index 71}
{:type :invoke, :f :read, :time 8103825878, :process 2, :value nil, :index 74}
{:type :fail, :f :read, :time 8108998015, :process 2, :value nil, :error [:unknown "Not Leader"], :index 75}
{:type :invoke, :f :cas, :value [4 1], :time 8249577750, :process 46, :index 76}
{:type :info, :f :cas, :value [4 1], :time 8252039377, :process 46, :error [:unknown "Not Leader"], :index 77}
{:type :invoke, :f :cas, :value [1 4], :time 9094516961, :process 28, :index 85}
{:type :info, :f :cas, :value [1 4], :time 9100669928, :process 28, :error [:unknown "Not Leader"], :index 86}
{:type :invoke, :f :cas, :value [0 3], :time 9265008706, :process 29, :index 87}
{:type :info, :f :cas, :value [0 3], :time 9266723701, :process 29, :error [:unknown "Not Leader"], :index 88}
{:type :invoke, :f :read, :time 9504239729, :process 0, :value nil, :index 90}
{:type :fail, :f :read, :time 9509613788, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 91}
{:type :invoke, :f :read, :time 9849215240, :process 1, :value nil, :index 92}
{:type :fail, :f :read, :time 9854775851, :process 1, :value nil, :error [:unknown "Not Leader"], :index 93}
