{:type :invoke, :f :read, :time 266828980, :process 3, :value nil, :index 2}
{:type :fail, :f :read, :time 277801259, :process 3, :value nil, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :write, :value 2, :time 1204875636, :process 5, :index 10}
{:type :invoke, :f :read, :time 1481012678, :process 1, :value nil, :index 11}
{:type :fail, :f :read, :time 1486027009, :process 1, :value nil, :error [:unknown "Not Leader"], :index 12}
{:type :info, :f :write, :value 2, :time 2208889623, :process 5, :error :net-timeout, :index 17}
{:type :invoke, :f :read, :time 2399610298, :process 1, :value nil, :index 20}
{:type :fail, :f :read, :time 2401766587, :process 1, :value nil, :error [:unknown "Not Leader"], :index 21}
