{:type :invoke, :f :cas, :value [1 4], :time 645934483, :process 7, :index 3}
{:type :info, :f :cas, :value [1 4], :time 653842712, :process 7, :error [:unknown "Not Leader"], :index 4}
{:type :invoke, :f :write, :value 0, :time 1323914611, :process 8, :index 12}
{:type :info, :f :write, :value 0, :time 1327146814, :process 8, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :read, :time 1539283116, :process 4, :value nil, :index 14}
{:type :fail, :f :read, :time 1547580447, :process 4, :value nil, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :cas, :value [1 1], :time 1617110770, :process 28, :index 16}
{:type :info, :f :cas, :value [1 1], :time 1620319814, :process 28, :error [:unknown "Not Leader"], :index 17}
