{:type :invoke, :f :read, :time 35069070, :process 2, :value nil, :index 0}
{:type :fail, :f :read, :time 65909902, :process 2, :value nil, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value 2, :time 581535680, :process 8, :index 3}
{:type :info, :f :write, :value 2, :time 584194138, :process 8, :error [:unknown "Not Leader"], :index 4}
{:type :invoke, :f :cas, :value [3 4], :time 725626767, :process 9, :index 6}
{:type :info, :f :cas, :value [3 4], :time 728414326, :process 9, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [3 4], :time 879143542, :process 5, :index 8}
{:type :invoke, :f :cas, :value [3 2], :time 1514765900, :process 7, :index 12}
{:type :info, :f :cas, :value [3 2], :time 1517005361, :process 7, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :read, :time 1557944086, :process 1, :value nil, :index 14}
{:type :fail, :f :read, :time 1560274910, :process 1, :value nil, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :read, :time 1857201953, :process 4, :value nil, :index 17}
{:type :fail, :f :read, :time 1859525819, :process 4, :value nil, :error [:unknown "Not Leader"], :index 18}
{:type :info, :f :cas, :value [3 4], :time 1880074776, :process 5, :error :net-timeout, :index 21}
{:type :invoke, :f :read, :time 2023130141, :process 0, :value nil, :index 22}
{:type :invoke, :f :read, :time 2810420524, :process 3, :value nil, :index 26}
{:type :fail, :f :read, :time 2812706036, :process 3, :value nil, :error [:unknown "Not Leader"], :index 27}
{:type :fail, :f :read, :time 3023512327, :process 0, :value nil, :error :net-timeout, :index 28}
