{:type :invoke, :f :read, :time 152444370, :process 2, :value nil, :index 1}
{:type :fail, :f :read, :time 157650716, :process 2, :value nil, :error [:unknown "Not Leader"], :index 2}
{:type :invoke, :f :cas, :value [2 3], :time 546736483, :process 6, :index 5}
{:type :info, :f :cas, :value [2 3], :time 555953435, :process 6, :error [:unknown "Not Leader"], :index 6}
{:type :invoke, :f :write, :value 2, :time 1348320253, :process 9, :index 14}
{:type :info, :f :write, :value 2, :time 1355993112, :process 9, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :read, :time 1734256151, :process 1, :value nil, :index 16}
{:type :fail, :f :read, :time 1741266148, :process 1, :value nil, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :cas, :value [2 1], :time 1816429599, :process 5, :index 18}
{:type :invoke, :f :read, :time 1938197502, :process 0, :value nil, :index 19}
{:type :fail, :f :read, :time 1945472742, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 20}
{:type :info, :f :cas, :value [2 1], :time 2817447549, :process 5, :error :net-timeout, :index 21}
