{:type :invoke, :f :write, :value 2, :time 18887908, :process 16, :index 1}
{:type :info, :f :write, :value 2, :time 30676379, :process 16, :error [:unknown "Not Leader"], :index 2}
{:type :invoke, :f :cas, :value [0 0], :time 317457215, :process 13, :index 6}
{:type :info, :f :cas, :value [0 0], :time 325920659, :process 13, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [4 0], :time 649640231, :process 14, :index 8}
{:type :info, :f :cas, :value [4 0], :time 657632618, :process 14, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :write, :value 3, :time 831051470, :process 12, :index 10}
{:type :info, :f :write, :value 3, :time 838873790, :process 12, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [1 3], :time 887401016, :process 15, :index 12}
{:type :invoke, :f :cas, :value [4 3], :time 918593931, :process 18, :index 13}
{:type :info, :f :cas, :value [4 3], :time 925189616, :process 18, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :cas, :value [2 2], :time 1229403525, :process 19, :index 19}
{:type :info, :f :cas, :value [2 2], :time 1234713030, :process 19, :error [:unknown "Not Leader"], :index 20}
{:type :invoke, :f :cas, :value [2 0], :time 1581432611, :process 33, :index 21}
{:type :info, :f :cas, :value [2 0], :time 1587985040, :process 33, :error [:unknown "Not Leader"], :index 22}
{:type :invoke, :f :cas, :value [4 0], :time 1707978120, :process 36, :index 25}
{:type :info, :f :cas, :value [4 0], :time 1710123206, :process 36, :error [:unknown "Not Leader"], :index 26}
{:type :invoke, :f :write, :value 0, :time 1862759212, :process 11, :index 27}
{:type :info, :f :write, :value 0, :time 1869432040, :process 11, :error [:unknown "Not Leader"], :index 28}
{:type :info, :f :cas, :value [1 3], :time 1891587130, :process 15, :error :net-timeout, :index 29}
{:type :invoke, :f :cas, :value [0 3], :time 2060183627, :process 17, :index 30}
{:type :info, :f :cas, :value [0 3], :time 2066851519, :process 17, :error [:unknown "Not Leader"], :index 31}
