{:type :invoke, :f :cas, :value [1 2], :time 12858234, :process 12, :index 0}
{:type :info, :f :cas, :value [1 2], :time 33821472, :process 12, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [0 3], :time 153747996, :process 11, :index 4}
{:type :info, :f :cas, :value [0 3], :time 159456978, :process 11, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [0 1], :time 462953067, :process 13, :index 6}
{:type :info, :f :cas, :value [0 1], :time 471408369, :process 13, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [3 4], :time 620952707, :process 17, :index 10}
{:type :info, :f :cas, :value [3 4], :time 624053643, :process 17, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [3 4], :time 1218336138, :process 33, :index 20}
{:type :info, :f :cas, :value [3 4], :time 1220727804, :process 33, :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :cas, :value [0 0], :time 1820027775, :process 15, :index 28}
{:type :info, :f :cas, :value [0 0], :time 1822678750, :process 15, :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :write, :value 2, :time 2282881061, :process 31, :index 32}
{:type :info, :f :write, :value 2, :time 2289128810, :process 31, :error [:unknown "Not Leader"], :index 33}
{:type :invoke, :f :cas, :value [2 3], :time 2875403240, :process 14, :index 36}
{:type :info, :f :cas, :value [2 3], :time 2881446150, :process 14, :error [:unknown "Not Leader"], :index 37}
{:type :invoke, :f :write, :value 2, :time 3129291302, :process 19, :index 38}
{:type :info, :f :write, :value 2, :time 3131774249, :process 19, :error [:unknown "Not Leader"], :index 39}
{:type :invoke, :f :cas, :value [3 1], :time 3441311484, :process 37, :index 40}
{:type :info, :f :cas, :value [3 1], :time 3448998907, :process 37, :error [:unknown "Not Leader"], :index 41}
{:type :invoke, :f :cas, :value [3 1], :time 3785236920, :process 34, :index 42}
{:type :info, :f :cas, :value [3 1], :time 3791919912, :process 34, :error [:unknown "Not Leader"], :index 43}
