{:type :invoke, :f :write, :value 3, :time 10463416, :process 16, :index 0}
{:type :info, :f :write, :value 3, :time 27963621, :process 16, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value 2, :time 115666698, :process 12, :index 2}
{:type :info, :f :write, :value 2, :time 118396047, :process 12, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :write, :value 3, :time 723824511, :process 17, :index 6}
{:type :info, :f :write, :value 3, :time 731413602, :process 17, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :write, :value 1, :time 1407248554, :process 10, :index 12}
{:type :info, :f :write, :value 1, :time 2411011532, :process 10, :error :net-timeout, :index 19}
