{:type :invoke, :f :cas, :value [2 3], :time 112565238, :process 17, :index 2}
{:type :info, :f :cas, :value [2 3], :time 115274887, :process 17, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [4 2], :time 308938144, :process 18, :index 6}
{:type :info, :f :cas, :value [4 2], :time 317448123, :process 18, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [4 0], :time 393014804, :process 19, :index 8}
{:type :info, :f :cas, :value [4 0], :time 400540942, :process 19, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :write, :value 4, :time 741659526, :process 10, :index 10}
{:type :invoke, :f :cas, :value [2 2], :time 1144338003, :process 13, :index 13}
{:type :info, :f :cas, :value [2 2], :time 1151602635, :process 13, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :cas, :value [1 3], :time 1556362872, :process 11, :index 17}
{:type :info, :f :cas, :value [1 3], :time 1563297289, :process 11, :error [:unknown "Not Leader"], :index 18}
{:type :info, :f :write, :value 4, :time 1746495009, :process 10, :error :net-timeout, :index 19}
{:type :invoke, :f :cas, :value [0 1], :time 2663474560, :process 37, :index 28}
{:type :info, :f :cas, :value [0 1], :time 2666131684, :process 37, :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :cas, :value [4 0], :time 3020688063, :process 12, :index 30}
{:type :info, :f :cas, :value [4 0], :time 3027107772, :process 12, :error [:unknown "Not Leader"], :index 31}
{:type :invoke, :f :cas, :value [2 4], :time 3272638204, :process 14, :index 34}
{:type :invoke, :f :cas, :value [1 3], :time 3274636426, :process 38, :index 35}
{:type :info, :f :cas, :value [2 4], :time 3275355259, :process 14, :error [:unknown "Not Leader"], :index 36}
{:type :info, :f :cas, :value [1 3], :time 3276442642, :process 38, :error [:unknown "Not Leader"], :index 37}
{:type :invoke, :f :cas, :value [3 0], :time 4134231319, :process 16, :index 41}
{:type :info, :f :cas, :value [3 0], :time 4140599099, :process 16, :error [:unknown "Not Leader"], :index 42}
