{:type :invoke, :f :read, :time 30528366, :process 4, :value [0 nil], :index 0}
{:type :fail, :f :read, :time 66239706, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [1 [2 3]], :time 112565238, :process 17, :index 2}
{:type :info, :f :cas, :value [1 [2 3]], :time 115274887, :process 17, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [0 [0 0]], :time 172386180, :process 9, :index 4}
{:type :info, :f :cas, :value [0 [0 0]], :time 175065937, :process 9, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [1 [4 2]], :time 308938144, :process 18, :index 6}
{:type :info, :f :cas, :value [1 [4 2]], :time 317448123, :process 18, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [1 [4 0]], :time 393014804, :process 19, :index 8}
{:type :info, :f :cas, :value [1 [4 0]], :time 400540942, :process 19, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :write, :value [1 4], :time 741659526, :process 10, :index 10}
{:type :invoke, :f :read, :time 1035517816, :process 1, :value [0 nil], :index 11}
{:type :fail, :f :read, :time 1040211384, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 12}
{:type :invoke, :f :cas, :value [1 [2 2]], :time 1144338003, :process 13, :index 13}
{:type :info, :f :cas, :value [1 [2 2]], :time 1151602635, :process 13, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :write, :value [0 1], :time 1248983802, :process 6, :index 15}
{:type :info, :f :write, :value [0 1], :time 1258312542, :process 6, :error [:unknown "Not Leader"], :index 16}
{:type :invoke, :f :cas, :value [1 [1 3]], :time 1556362872, :process 11, :index 17}
{:type :info, :f :cas, :value [1 [1 3]], :time 1563297289, :process 11, :error [:unknown "Not Leader"], :index 18}
{:type :info, :f :write, :value [1 4], :time 1746495009, :process 10, :error :net-timeout, :index 19}
{:type :invoke, :f :read, :time 1849490355, :process 4, :value [0 nil], :index 20}
{:type :fail, :f :read, :time 1859118055, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :read, :time 2129613346, :process 1, :value [0 nil], :index 22}
{:type :fail, :f :read, :time 2136033921, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :read, :time 2405120241, :process 3, :value [0 nil], :index 24}
{:type :fail, :f :read, :time 2408071954, :process 3, :value [0 nil], :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :read, :time 2558342035, :process 3, :value [0 nil], :index 26}
{:type :fail, :f :read, :time 2564547030, :process 3, :value [0 nil], :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :cas, :value [1 [0 1]], :time 2663474560, :process 37, :index 28}
{:type :info, :f :cas, :value [1 [0 1]], :time 2666131684, :process 37, :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :cas, :value [1 [4 0]], :time 3020688063, :process 12, :index 30}
{:type :info, :f :cas, :value [1 [4 0]], :time 3027107772, :process 12, :error [:unknown "Not Leader"], :index 31}
{:type :invoke, :f :read, :time 3040012231, :process 2, :value [0 nil], :index 32}
{:type :fail, :f :read, :time 3045251736, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 33}
{:type :invoke, :f :cas, :value [1 [2 4]], :time 3272638204, :process 14, :index 34}
{:type :invoke, :f :cas, :value [1 [1 3]], :time 3274636426, :process 38, :index 35}
{:type :info, :f :cas, :value [1 [2 4]], :time 3275355259, :process 14, :error [:unknown "Not Leader"], :index 36}
{:type :info, :f :cas, :value [1 [1 3]], :time 3276442642, :process 38, :error [:unknown "Not Leader"], :index 37}
{:type :invoke, :f :cas, :value [0 [0 0]], :time 3407526490, :process 29, :index 38}
{:type :info, :f :cas, :value [0 [0 0]], :time 3412665299, :process 29, :error [:unknown "Not Leader"], :index 39}
{:type :invoke, :f :write, :value [0 2], :time 3780999973, :process 5, :index 40}
{:type :invoke, :f :cas, :value [1 [3 0]], :time 4134231319, :process 16, :index 41}
{:type :info, :f :cas, :value [1 [3 0]], :time 4140599099, :process 16, :error [:unknown "Not Leader"], :index 42}
{:type :invoke, :f :cas, :value [0 [2 3]], :time 4240266442, :process 49, :index 43}
{:type :info, :f :cas, :value [0 [2 3]], :time 4245658486, :process 49, :error [:unknown "Not Leader"], :index 44}
{:type :invoke, :f :cas, :value [0 [3 2]], :time 4511178089, :process 7, :index 45}
{:type :info, :f :cas, :value [0 [3 2]], :time 4516333132, :process 7, :error [:unknown "Not Leader"], :index 46}
{:type :info, :f :write, :value [0 2], :time 4783941470, :process 5, :error :net-timeout, :index 47}
{:type :invoke, :f :write, :value [2 0], :time 4848410889, :process 33, :index 48}
{:type :info, :f :write, :value [2 0], :time 4853495056, :process 33, :error [:unknown "Not Leader"], :index 49}
