{:type :invoke, :f :read, :time 13107702, :process 3, :value nil, :index 0}
{:type :fail, :f :read, :time 41054833, :process 3, :value nil, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [2 2], :time 497860705, :process 6, :index 4}
{:type :info, :f :cas, :value [2 2], :time 502947372, :process 6, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [4 3], :time 575823600, :process 5, :index 6}
{:type :invoke, :f :read, :time 922657238, :process 1, :value nil, :index 7}
{:type :fail, :f :read, :time 928674386, :process 1, :value nil, :error [:unknown "Not Leader"], :index 8}
{:type :invoke, :f :cas, :value [2 0], :time 937405903, :process 8, :index 9}
{:type :info, :f :cas, :value [2 0], :time 943177038, :process 8, :error [:unknown "Not Leader"], :index 10}
{:type :info, :f :cas, :value [4 3], :time 1580723928, :process 5, :error :net-timeout, :index 15}
