{:type :invoke, :f :cas, :value [2 2], :time 5541881994, :process 58, :index 46}
{:type :info, :f :cas, :value [2 2], :time 5543555424, :process 58, :error [:unknown "Not Leader"], :index 47}
{:type :invoke, :f :write, :value 1, :time 5588091143, :process 33, :index 48}
{:type :info, :f :write, :value 1, :time 5593429938, :process 33, :error [:unknown "Not Leader"], :index 49}
{:type :invoke, :f :cas, :value [1 0], :time 5602750349, :process 39, :index 50}
{:type :info, :f :cas, :value [1 0], :time 5608977936, :process 39, :error [:unknown "Not Leader"], :index 51}
{:type :invoke, :f :cas, :value [3 2], :time 5968795199, :process 59, :index 54}
{:type :info, :f :cas, :value [3 2], :time 5972024499, :process 59, :error [:unknown "Not Leader"], :index 55}
{:type :invoke, :f :write, :value 4, :time 5983249727, :process 54, :index 56}
{:type :info, :f :write, :value 4, :time 5986359832, :process 54, :error [:unknown "Not Leader"], :index 57}
{:type :invoke, :f :cas, :value [1 1], :time 6107623781, :process 78, :index 58}
{:type :info, :f :cas, :value [1 1], :time 6112830920, :process 78, :error [:unknown "Not Leader"], :index 59}
{:type :invoke, :f :write, :value 1, :time 6437740238, :process 53, :index 60}
{:type :info, :f :write, :value 1, :time 6442831174, :process 53, :error [:unknown "Not Leader"], :index 61}
{:type :invoke, :f :cas, :value [2 4], :time 7105925829, :process 17, :index 64}
{:type :info, :f :cas, :value [2 4], :time 7111551030, :process 17, :error [:unknown "Not Leader"], :index 65}
{:type :invoke, :f :cas, :value [1 0], :time 7201200715, :process 73, :index 66}
{:type :info, :f :cas, :value [1 0], :time 7206612512, :process 73, :error [:unknown "Not Leader"], :index 67}
{:type :invoke, :f :cas, :value [1 1], :time 7893385102, :process 79, :index 72}
{:type :info, :f :cas, :value [1 1], :time 7898869692, :process 79, :error [:unknown "Not Leader"], :index 73}
{:type :invoke, :f :cas, :value [1 2], :time 8377184763, :process 15, :index 78}
{:type :invoke, :f :cas, :value [3 4], :time 8564863499, :process 99, :index 79}
{:type :info, :f :cas, :value [3 4], :time 8570204089, :process 99, :error [:unknown "Not Leader"], :index 80}
{:type :info, :f :cas, :value [1 2], :time 9379525200, :process 15, :error :net-timeout, :index 89}
