{:type :invoke, :f :cas, :value [4 1], :time 225976926, :process 19, :index 4}
{:type :info, :f :cas, :value [4 1], :time 234871247, :process 19, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [3 0], :time 839839479, :process 18, :index 8}
{:type :info, :f :cas, :value [3 0], :time 847083114, :process 18, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [2 3], :time 1637931038, :process 16, :index 15}
{:type :info, :f :cas, :value [2 3], :time 1647901784, :process 16, :error [:unknown "Not Leader"], :index 16}
