{:type :invoke, :f :cas, :value [4 4], :time 12369253, :process 9, :index 0}
{:type :info, :f :cas, :value [4 4], :time 30035621, :process 9, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value 4, :time 48882030, :process 5, :index 2}
{:type :invoke, :f :read, :time 926238976, :process 0, :value nil, :index 12}
{:type :fail, :f :read, :time 929942371, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 13}
{:type :info, :f :write, :value 4, :time 1050453626, :process 5, :error :net-timeout, :index 14}
{:type :invoke, :f :read, :time 1264322444, :process 2, :value nil, :index 16}
{:type :fail, :f :read, :time 1271064483, :process 2, :value nil, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :cas, :value [2 1], :time 1363220161, :process 8, :index 18}
{:type :info, :f :cas, :value [2 1], :time 1366633619, :process 8, :error [:unknown "Not Leader"], :index 19}
