{:type :invoke, :f :cas, :value [1 1], :time 12097654, :process 16, :index 0}
{:type :info, :f :cas, :value [1 1], :time 31574728, :process 16, :error [:unknown nil], :index 1}
{:type :invoke, :f :write, :value 3, :time 409041580, :process 10, :index 2}
{:type :info, :f :write, :value 3, :time 418115307, :process 10, :error [:unknown nil], :index 3}
{:type :invoke, :f :write, :value 4, :time 1788310782, :process 14, :index 12}
{:type :info, :f :write, :value 4, :time 1793983030, :process 14, :error [:unknown nil], :index 13}
