{:type :invoke, :f :read, :time 19750938, :process 0, :value nil, :index 0}
{:type :fail, :f :read, :time 40267307, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 1}
{:type :invoke, :f :read, :time 643805730, :process 1, :value nil, :index 4}
{:type :fail, :f :read, :time 651315526, :process 1, :value nil, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [2 0], :time 1845855890, :process 7, :index 14}
{:type :info, :f :cas, :value [2 0], :time 1849461132, :process 7, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :read, :time 1923998512, :process 4, :value nil, :index 16}
{:type :fail, :f :read, :time 1927372381, :process 4, :value nil, :error [:unknown "Not Leader"], :index 17}
