{:type :invoke, :f :txn, :value [[:r 7 nil] [:r 9 nil] [:append 6 1]], :time 8967422, :process 1, :index 0}
{:type :invoke, :f :txn, :value [[:append 9 1] [:append 9 2] [:append 9 3]], :time 316968856, :process 0, :index 1}
{:type :invoke, :f :txn, :value [[:append 9 4] [:r 8 nil] [:r 8 nil] [:r 8 nil]], :time 368745401, :process 3, :index 2}
{:type :invoke, :f :txn, :value [[:r 8 nil] [:r 9 nil] [:append 9 5]], :time 643781255, :process 2, :index 3}
{:type :info, :f :txn, :value [[:r 7 nil] [:r 9 nil] [:append 6 1]], :time 5016503730, :process 1, :error :net-timeout, :index 4}
{:type :info, :f :txn, :value [[:append 9 1] [:append 9 2] [:append 9 3]], :time 5320705289, :process 0, :error :net-timeout, :index 5}
{:type :info, :f :txn, :value [[:append 9 4] [:r 8 nil] [:r 8 nil] [:r 8 nil]], :time 5370813032, :process 3, :error :net-timeout, :index 6}
{:type :info, :f :txn, :value [[:r 8 nil] [:r 9 nil] [:append 9 5]], :time 5647713627, :process 2, :error :net-timeout, :index 7}
