{:type :invoke, :f :write, :value 1, :time 24346132, :process 11, :index 0}
{:type :info, :f :write, :value 1, :time 46266182, :process 11, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value 4, :time 466323885, :process 12, :index 6}
{:type :info, :f :write, :value 4, :time 473651588, :process 12, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [1 2], :time 604509389, :process 32, :index 8}
{:type :info, :f :cas, :value [1 2], :time 611252154, :process 32, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [3 2], :time 964668420, :process 52, :index 12}
{:type :info, :f :cas, :value [3 2], :time 969776386, :process 52, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :cas, :value [0 2], :time 1307913217, :process 10, :index 18}
{:type :invoke, :f :cas, :value [2 4], :time 1654868806, :process 14, :index 20}
{:type :info, :f :cas, :value [2 4], :time 1657532007, :process 14, :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :write, :value 3, :time 1787989130, :process 72, :index 22}
{:type :info, :f :write, :value 3, :time 1794544629, :process 72, :error [:unknown "Not Leader"], :index 23}
{:type :info, :f :cas, :value [0 2], :time 2310170598, :process 10, :error :net-timeout, :index 26}
