{:type :invoke, :f :cas, :value [1 [3 4]], :time 11910116, :process 17, :index 0}
{:type :info, :f :cas, :value [1 [3 4]], :time 31016915, :process 17, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [0 [2 4]], :time 381811602, :process 7, :index 2}
{:type :info, :f :cas, :value [0 [2 4]], :time 384857800, :process 7, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [1 [3 3]], :time 635710836, :process 12, :index 4}
{:type :info, :f :cas, :value [1 [3 3]], :time 638651796, :process 12, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :read, :time 821683014, :process 2, :value [0 nil], :index 6}
{:type :fail, :f :read, :time 824018291, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :write, :value [1 4], :time 1168760067, :process 18, :index 8}
{:type :info, :f :write, :value [1 4], :time 1171454655, :process 18, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [1 [4 4]], :time 1237873169, :process 15, :index 10}
{:type :invoke, :f :cas, :value [0 [4 2]], :time 1414158209, :process 6, :index 11}
{:type :info, :f :cas, :value [0 [4 2]], :time 1416813258, :process 6, :error [:unknown "Not Leader"], :index 12}
{:type :invoke, :f :cas, :value [0 [0 2]], :time 1635636548, :process 26, :index 13}
{:type :info, :f :cas, :value [0 [0 2]], :time 1638326528, :process 26, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :write, :value [1 1], :time 1803185646, :process 38, :index 15}
{:type :info, :f :write, :value [1 1], :time 1805806175, :process 38, :error [:unknown "Not Leader"], :index 16}
{:type :invoke, :f :write, :value [0 3], :time 1818981680, :process 8, :index 17}
{:type :info, :f :write, :value [0 3], :time 1821511000, :process 8, :error [:unknown "Not Leader"], :index 18}
{:type :invoke, :f :write, :value [1 4], :time 1837754347, :process 16, :index 19}
{:type :info, :f :write, :value [1 4], :time 1840160008, :process 16, :error [:unknown "Not Leader"], :index 20}
{:type :invoke, :f :cas, :value [1 [3 2]], :time 2183450688, :process 10, :index 21}
{:type :info, :f :cas, :value [1 [4 4]], :time 2238913244, :process 15, :error :net-timeout, :index 22}
{:type :invoke, :f :cas, :value [0 [3 3]], :time 2290932949, :process 5, :index 23}
{:type :invoke, :f :write, :value [1 1], :time 2323695061, :process 32, :index 24}
{:type :info, :f :write, :value [1 1], :time 2325943834, :process 32, :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :cas, :value [0 [2 1]], :time 2349728316, :process 46, :index 26}
{:type :info, :f :cas, :value [0 [2 1]], :time 2352324872, :process 46, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :cas, :value [1 [1 0]], :time 2715173647, :process 35, :index 28}
{:type :invoke, :f :cas, :value [1 [2 3]], :time 2997706942, :process 58, :index 29}
{:type :info, :f :cas, :value [1 [2 3]], :time 3000187706, :process 58, :error [:unknown "Not Leader"], :index 30}
{:type :info, :f :cas, :value [1 [3 2]], :time 3183924817, :process 10, :error :net-timeout, :index 31}
{:type :info, :f :cas, :value [0 [3 3]], :time 3291486518, :process 5, :error :net-timeout, :index 32}
{:type :info, :f :cas, :value [1 [1 0]], :time 3715683467, :process 35, :error :net-timeout, :index 33}
