{:type :invoke, :f :read, :time 15005011, :process 1, :value [0 nil], :index 0}
{:type :fail, :f :read, :time 38990877, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [1 [0 0]], :time 342040367, :process 17, :index 2}
{:type :info, :f :cas, :value [1 [0 0]], :time 344865839, :process 17, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [0 [1 2]], :time 426333841, :process 6, :index 4}
{:type :info, :f :cas, :value [0 [1 2]], :time 429115189, :process 6, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :read, :time 507772322, :process 4, :value [0 nil], :index 6}
{:type :fail, :f :read, :time 510261123, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [1 [0 0]], :time 902424433, :process 12, :index 8}
{:type :info, :f :cas, :value [1 [0 0]], :time 905097397, :process 12, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :write, :value [1 1], :time 1050108190, :process 15, :index 10}
{:type :invoke, :f :read, :time 1408390662, :process 3, :value [0 nil], :index 11}
{:type :fail, :f :read, :time 1411054202, :process 3, :value [0 nil], :error [:unknown "Not Leader"], :index 12}
{:type :invoke, :f :cas, :value [1 [1 4]], :time 1768306227, :process 19, :index 13}
{:type :info, :f :cas, :value [1 [1 4]], :time 1775855610, :process 19, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :cas, :value [1 [2 2]], :time 1907681017, :process 16, :index 15}
{:type :info, :f :cas, :value [1 [2 2]], :time 1910274713, :process 16, :error [:unknown "Not Leader"], :index 16}
{:type :info, :f :write, :value [1 1], :time 2050900606, :process 15, :error :net-timeout, :index 17}
{:type :invoke, :f :read, :time 2281873391, :process 4, :value [0 nil], :index 18}
{:type :fail, :f :read, :time 2283983912, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :read, :time 2516435135, :process 4, :value [0 nil], :index 20}
{:type :fail, :f :read, :time 2518649074, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :cas, :value [1 [2 3]], :time 2785143971, :process 32, :index 22}
{:type :info, :f :cas, :value [1 [2 3]], :time 2787740259, :process 32, :error [:unknown "Not Leader"], :index 23}
