{:type :invoke, :f :write, :value 0, :time 334267800, :process 11, :index 2}
{:type :info, :f :write, :value 0, :time 344435263, :process 11, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [4 1], :time 1242665475, :process 17, :index 9}
{:type :info, :f :cas, :value [4 1], :time 1250816893, :process 17, :error [:unknown "Not Leader"], :index 10}
{:type :invoke, :f :cas, :value [4 4], :time 2000050271, :process 18, :index 16}
{:type :info, :f :cas, :value [4 4], :time 3005236917, :process 18, :error :net-timeout, :index 17}
