{:type :invoke, :f :write, :value 4, :time 53808214, :process 14, :index 0}
{:type :info, :f :write, :value 4, :time 134455698, :process 14, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [0 0], :time 562713930, :process 11, :index 4}
{:type :invoke, :f :write, :value 0, :time 939790445, :process 34, :index 5}
{:type :info, :f :write, :value 0, :time 952445914, :process 34, :error [:unknown "Not Leader"], :index 6}
{:type :info, :f :cas, :value [0 0], :time 1570704153, :process 11, :error :net-timeout, :index 9}
{:type :invoke, :f :cas, :value [4 3], :time 1681173242, :process 10, :index 10}
{:type :info, :f :cas, :value [4 3], :time 1690498261, :process 10, :error [:unknown "Not Leader"], :index 11}
