{:type :invoke, :f :cas, :value [2 4], :time 10218838, :process 17, :index 0}
{:type :info, :f :cas, :value [2 4], :time 25013140, :process 17, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [3 0], :time 536721477, :process 10, :index 6}
{:type :invoke, :f :write, :value 2, :time 641097400, :process 13, :index 7}
{:type :info, :f :write, :value 2, :time 648883920, :process 13, :error [:unknown "Not Leader"], :index 8}
{:type :invoke, :f :cas, :value [2 2], :time 912009101, :process 16, :index 9}
{:type :info, :f :cas, :value [2 2], :time 919045367, :process 16, :error [:unknown "Not Leader"], :index 10}
{:type :invoke, :f :write, :value 0, :time 1006445799, :process 37, :index 11}
{:type :info, :f :write, :value 0, :time 1013691785, :process 37, :error [:unknown "Not Leader"], :index 12}
{:type :invoke, :f :write, :value 2, :time 1404225017, :process 14, :index 13}
{:type :info, :f :write, :value 2, :time 1411936257, :process 14, :error [:unknown "Not Leader"], :index 14}
{:type :info, :f :cas, :value [3 0], :time 1541426392, :process 10, :error :net-timeout, :index 15}
{:type :invoke, :f :cas, :value [3 4], :time 1783364883, :process 57, :index 16}
{:type :info, :f :cas, :value [3 4], :time 1790863648, :process 57, :error [:unknown "Not Leader"], :index 17}
