{:type :invoke, :f :cas, :value [3 3], :time 410449390, :process 16, :index 6}
{:type :info, :f :cas, :value [3 3], :time 419760423, :process 16, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :write, :value 4, :time 677691850, :process 12, :index 8}
{:type :info, :f :write, :value 4, :time 685367097, :process 12, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [2 2], :time 942701965, :process 36, :index 10}
{:type :info, :f :cas, :value [2 2], :time 948629873, :process 36, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :write, :value 3, :time 1370810638, :process 18, :index 14}
{:type :info, :f :write, :value 3, :time 1373027661, :process 18, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :write, :value 2, :time 1397578238, :process 10, :index 16}
{:type :invoke, :f :cas, :value [0 1], :time 1598404586, :process 15, :index 17}
{:type :invoke, :f :write, :value 3, :time 2235801598, :process 32, :index 26}
{:type :info, :f :write, :value 3, :time 2238069087, :process 32, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :write, :value 2, :time 2269301330, :process 13, :index 28}
{:type :info, :f :write, :value 2, :time 2271227197, :process 13, :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :cas, :value [3 0], :time 2293978511, :process 14, :index 30}
{:type :info, :f :cas, :value [3 0], :time 2295665133, :process 14, :error [:unknown "Not Leader"], :index 31}
{:type :info, :f :write, :value 2, :time 2398432000, :process 10, :error :net-timeout, :index 32}
{:type :invoke, :f :cas, :value [3 3], :time 2446117693, :process 33, :index 33}
{:type :info, :f :cas, :value [3 3], :time 2452359557, :process 33, :error [:unknown "Not Leader"], :index 34}
{:type :info, :f :cas, :value [0 1], :time 2602052178, :process 15, :error :net-timeout, :index 35}
{:type :invoke, :f :cas, :value [1 1], :time 2646949685, :process 38, :index 36}
{:type :info, :f :cas, :value [1 1], :time 2653628444, :process 38, :error [:unknown "Not Leader"], :index 37}
