{:type :invoke, :f :txn, :value [[:r 8 nil] [:append 9 1] [:r 7 nil]], :time 7357422, :process 1, :index 0}
{:type :invoke, :f :txn, :value [[:r 9 nil] [:r 8 nil] [:r 9 nil]], :time 53620085, :process 2, :index 1}
{:type :invoke, :f :txn, :value [[:r 6 nil] [:r 8 nil]], :time 224943721, :process 0, :index 2}
{:type :invoke, :f :txn, :value [[:append 9 2]], :time 322825052, :process 3, :index 3}
{:type :info, :f :txn, :value [[:r 8 nil] [:append 9 1] [:r 7 nil]], :time 5014493739, :process 1, :error :net-timeout, :index 4}
{:type :info, :f :txn, :value [[:r 9 nil] [:r 8 nil] [:r 9 nil]], :time 5054857346, :process 2, :error :net-timeout, :index 5}
{:type :info, :f :txn, :value [[:r 6 nil] [:r 8 nil]], :time 5226581602, :process 0, :error :net-timeout, :index 6}
{:type :info, :f :txn, :value [[:append 9 2]], :time 5326501553, :process 3, :error :net-timeout, :index 7}
