{:type :invoke, :f :cas, :value [1 [4 4]], :time 11231845, :process 16, :index 0}
{:type :info, :f :cas, :value [1 [4 4]], :time 32937768, :process 16, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :read, :time 198206069, :process 1, :value [0 nil], :index 2}
{:type :fail, :f :read, :time 206047910, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [1 [3 0]], :time 465467710, :process 14, :index 4}
{:type :info, :f :cas, :value [1 [3 0]], :time 473717576, :process 14, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :read, :time 623955463, :process 0, :value [0 nil], :index 6}
{:type :fail, :f :read, :time 631120190, :process 0, :value [0 nil], :error [:unknown "Invalid Key"], :index 7}
{:type :invoke, :f :cas, :value [0 [1 3]], :time 909003573, :process 7, :index 8}
{:type :info, :f :cas, :value [0 [1 3]], :time 915121634, :process 7, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :write, :value [1 4], :time 1121544794, :process 18, :index 10}
{:type :info, :f :write, :value [1 4], :time 1129502606, :process 18, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :write, :value [1 2], :time 1246597641, :process 34, :index 12}
{:type :info, :f :write, :value [1 2], :time 1254064064, :process 34, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :write, :value [1 2], :time 1420213986, :process 54, :index 14}
{:type :info, :f :write, :value [1 2], :time 1428067768, :process 54, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :read, :time 1501234765, :process 3, :value [0 nil], :index 16}
{:type :fail, :f :read, :time 1503501461, :process 3, :value [0 nil], :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :write, :value [1 3], :time 1652553375, :process 17, :index 18}
{:type :info, :f :write, :value [1 3], :time 1660090424, :process 17, :error [:unknown "Not Leader"], :index 19}
{:type :invoke, :f :cas, :value [1 [4 2]], :time 1924514085, :process 38, :index 20}
{:type :info, :f :cas, :value [1 [4 2]], :time 1931305380, :process 38, :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :cas, :value [1 [1 2]], :time 2154532564, :process 37, :index 22}
{:type :info, :f :cas, :value [1 [1 2]], :time 2161377470, :process 37, :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :cas, :value [0 [2 2]], :time 2499551638, :process 6, :index 24}
{:type :info, :f :cas, :value [0 [2 2]], :time 2505922181, :process 6, :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :read, :time 2823997868, :process 2, :value [0 nil], :index 26}
{:type :fail, :f :read, :time 2828595083, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :write, :value [1 2], :time 2946213837, :process 12, :index 28}
{:type :info, :f :write, :value [1 2], :time 2952601635, :process 12, :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :write, :value [0 2], :time 3307131538, :process 8, :index 30}
{:type :info, :f :write, :value [0 2], :time 3312700877, :process 8, :error [:unknown "Not Leader"], :index 31}
{:type :invoke, :f :cas, :value [1 [2 4]], :time 3329732144, :process 15, :index 32}
{:type :invoke, :f :cas, :value [1 [1 0]], :time 3494213221, :process 13, :index 33}
{:type :info, :f :cas, :value [1 [1 0]], :time 3500639572, :process 13, :error [:unknown "Not Leader"], :index 34}
{:type :invoke, :f :read, :time 3837532772, :process 4, :value [0 nil], :index 35}
{:type :fail, :f :read, :time 3843882645, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 36}
{:type :invoke, :f :cas, :value [0 [0 4]], :time 3961734919, :process 27, :index 37}
{:type :info, :f :cas, :value [0 [0 4]], :time 4001814374, :process 27, :error [:unknown "Not Leader"], :index 38}
{:type :invoke, :f :write, :value [0 4], :time 4190592774, :process 5, :index 39}
{:type :info, :f :cas, :value [1 [2 4]], :time 4330787887, :process 15, :error :net-timeout, :index 40}
{:type :invoke, :f :write, :value [2 0], :time 4482888911, :process 74, :index 41}
{:type :info, :f :write, :value [2 0], :time 4489822084, :process 74, :error [:unknown "Not Leader"], :index 42}
{:type :invoke, :f :cas, :value [0 [0 2]], :time 4878065976, :process 28, :index 43}
{:type :info, :f :cas, :value [0 [0 2]], :time 4883755742, :process 28, :error [:unknown "Not Leader"], :index 44}
{:type :invoke, :f :write, :value [2 0], :time 5145320154, :process 11, :index 45}
{:type :info, :f :write, :value [2 0], :time 5151130002, :process 11, :error [:unknown "Not Leader"], :index 46}
{:type :info, :f :write, :value [0 4], :time 5192839029, :process 5, :error :net-timeout, :index 47}
{:type :invoke, :f :read, :time 5251396479, :process 0, :value [0 nil], :index 48}
{:type :fail, :f :read, :time 5253534198, :process 0, :value [0 nil], :error [:unknown "Invalid Key"], :index 49}
{:type :invoke, :f :write, :value [2 4], :time 5603212011, :process 31, :index 50}
{:type :info, :f :write, :value [2 4], :time 5608698852, :process 31, :error [:unknown "Not Leader"], :index 51}
{:type :invoke, :f :cas, :value [0 [0 0]], :time 5692976242, :process 47, :index 52}
{:type :info, :f :cas, :value [0 [0 0]], :time 5698593429, :process 47, :error [:unknown "Not Leader"], :index 53}
{:type :invoke, :f :read, :time 5785961839, :process 1, :value [0 nil], :index 54}
{:type :fail, :f :read, :time 5791137757, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 55}
{:type :invoke, :f :write, :value [2 3], :time 6043292980, :process 35, :index 56}
{:type :invoke, :f :read, :time 6364046988, :process 1, :value [0 nil], :index 57}
{:type :fail, :f :read, :time 6370463835, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 58}
{:type :invoke, :f :write, :value [0 2], :time 6547951491, :process 9, :index 59}
{:type :info, :f :write, :value [0 2], :time 6553379642, :process 9, :error [:unknown "Not Leader"], :index 60}
{:type :invoke, :f :read, :time 6786279425, :process 4, :value [0 nil], :index 61}
{:type :fail, :f :read, :time 6791614155, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 62}
{:type :invoke, :f :cas, :value [0 [4 0]], :time 6843789110, :process 29, :index 63}
{:type :info, :f :cas, :value [0 [4 0]], :time 6847853456, :process 29, :error [:unknown "Not Leader"], :index 64}
{:type :info, :f :write, :value [2 3], :time 7045732101, :process 35, :error :net-timeout, :index 65}
{:type :invoke, :f :cas, :value [2 [0 2]], :time 7159870727, :process 10, :index 66}
{:type :invoke, :f :read, :time 7346371116, :process 0, :value [0 nil], :index 67}
{:type :fail, :f :read, :time 7351991021, :process 0, :value [0 nil], :error [:unknown "Invalid Key"], :index 68}
{:type :invoke, :f :cas, :value [0 [0 4]], :time 7641468994, :process 67, :index 69}
{:type :info, :f :cas, :value [0 [0 4]], :time 7646681593, :process 67, :error [:unknown "Not Leader"], :index 70}
{:type :invoke, :f :cas, :value [0 [4 3]], :time 7904700424, :process 48, :index 71}
{:type :info, :f :cas, :value [0 [4 3]], :time 7909935132, :process 48, :error [:unknown "Not Leader"], :index 72}
{:type :info, :f :cas, :value [2 [0 2]], :time 8162556781, :process 10, :error :net-timeout, :index 73}
{:type :invoke, :f :cas, :value [2 [3 3]], :time 8166616216, :process 30, :index 74}
{:type :invoke, :f :cas, :value [3 [0 4]], :time 8427339658, :process 49, :index 75}
{:type :info, :f :cas, :value [3 [0 4]], :time 8432847560, :process 49, :error [:unknown "Not Leader"], :index 76}
{:type :invoke, :f :cas, :value [2 [1 2]], :time 8433286110, :process 33, :index 77}
{:type :info, :f :cas, :value [2 [1 2]], :time 8438820745, :process 33, :error [:unknown "Not Leader"], :index 78}
{:type :invoke, :f :write, :value [2 1], :time 8727024152, :process 55, :index 79}
{:type :invoke, :f :cas, :value [2 [0 0]], :time 9048163628, :process 36, :index 80}
{:type :info, :f :cas, :value [2 [0 0]], :time 9053210025, :process 36, :error [:unknown "Not Leader"], :index 81}
{:type :info, :f :cas, :value [2 [3 3]], :time 9169418089, :process 30, :error :net-timeout, :index 82}
{:type :invoke, :f :read, :time 9400289984, :process 4, :value [3 nil], :index 83}
{:type :fail, :f :read, :time 9405204827, :process 4, :value [3 nil], :error [:unknown "Not Leader"], :index 84}
{:type :invoke, :f :write, :value [3 4], :time 9691409595, :process 25, :index 85}
{:type :info, :f :write, :value [2 1], :time 9729602682, :process 55, :error :net-timeout, :index 86}
{:type :invoke, :f :cas, :value [3 [4 4]], :time 9820337887, :process 69, :index 87}
{:type :info, :f :cas, :value [3 [4 4]], :time 9825192090, :process 69, :error [:unknown "Not Leader"], :index 88}
{:type :invoke, :f :cas, :value [2 [2 0]], :time 9930137439, :process 51, :index 89}
{:type :info, :f :cas, :value [2 [2 0]], :time 9935151484, :process 51, :error [:unknown "Not Leader"], :index 90}
{:type :info, :f :write, :value [3 4], :time 10693593256, :process 25, :error :net-timeout, :index 91}
