{:type :invoke, :f :cas, :value [2 3], :time 606220027, :process 17, :index 6}
{:type :info, :f :cas, :value [2 3], :time 610513906, :process 17, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [2 1], :time 966462328, :process 13, :index 8}
{:type :info, :f :cas, :value [2 1], :time 972685460, :process 13, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [0 4], :time 1070788845, :process 37, :index 10}
{:type :info, :f :cas, :value [0 4], :time 1078661239, :process 37, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [0 1], :time 1547668141, :process 10, :index 16}
{:type :info, :f :cas, :value [0 1], :time 2549363137, :process 10, :error :net-timeout, :index 23}
