{:type :invoke, :f :txn, :value [[:append 8 1] [:append 8 2] [:r 7 nil] [:append 7 1]], :time 9809161, :process 1, :index 0}
{:type :ok, :f :txn, :value [[:append 8 1] [:append 8 2] [:r 7 nil] [:append 7 1]], :time 161838874, :process 1, :index 1}
{:type :invoke, :f :txn, :value [[:r 9 nil] [:r 9 nil]], :time 386647618, :process 1, :index 2}
{:type :ok, :f :txn, :value [[:r 9 nil] [:r 9 nil]], :time 514811475, :process 1, :index 3}
{:type :invoke, :f :txn, :value [[:r 8 nil] [:r 9 nil]], :time 720075336, :process 2, :index 4}
{:type :invoke, :f :txn, :value [[:r 7 nil] [:r 9 nil] [:append 6 1]], :time 835116097, :process 3, :index 5}
{:type :ok, :f :txn, :value [[:r 8 nil] [:r 9 nil]], :time 847050410, :process 2, :index 6}
{:type :ok, :f :txn, :value [[:r 7 nil] [:r 9 nil] [:append 6 1]], :time 974203860, :process 3, :index 7}
{:type :invoke, :f :txn, :value [[:append 9 1] [:append 8 3]], :time 1110487530, :process 2, :index 8}
{:type :invoke, :f :txn, :value [[:r 7 nil] [:append 9 2] [:r 9 nil]], :time 1332595405, :process 3, :index 9}
{:type :invoke, :f :txn, :value [[:append 7 2] [:append 9 3] [:append 9 4] [:r 9 nil]], :time 1627284138, :process 0, :index 10}
{:type :ok, :f :txn, :value [[:append 7 2] [:append 9 3] [:append 9 4] [:r 9 [3 4]]], :time 1778537781, :process 0, :index 11}
{:type :invoke, :f :txn, :value [[:append 8 4]], :time 1865891823, :process 0, :index 12}
{:type :ok, :f :txn, :value [[:append 8 4]], :time 1984014855, :process 0, :index 13}
{:type :invoke, :f :txn, :value [[:r 8 nil] [:append 9 5]], :time 2003015186, :process 0, :index 14}
{:type :info, :f :txn, :value [[:append 9 1] [:append 8 3]], :time 6115331658, :process 2, :error :net-timeout, :index 15}
{:type :info, :f :txn, :value [[:r 7 nil] [:append 9 2] [:r 9 nil]], :time 6335851295, :process 3, :error :net-timeout, :index 16}
{:type :info, :f :txn, :value [[:r 8 nil] [:append 9 5]], :time 7004492399, :process 0, :error :net-timeout, :index 17}
