{:type :invoke, :f :txn, :value [[:r 7 nil]], :time 9098720, :process 3, :index 0}
{:type :invoke, :f :txn, :value [[:r 8 nil]], :time 87269107, :process 1, :index 1}
{:type :invoke, :f :txn, :value [[:append 7 1]], :time 210403179, :process 0, :index 2}
{:type :invoke, :f :txn, :value [[:append 9 1] [:append 9 2] [:append 9 3]], :time 577235858, :process 2, :index 3}
{:type :info, :f :txn, :value [[:r 7 nil]], :time 5015883170, :process 3, :error :net-timeout, :index 4}
{:type :info, :f :txn, :value [[:r 8 nil]], :time 5088608930, :process 1, :error :net-timeout, :index 5}
{:type :info, :f :txn, :value [[:append 7 1]], :time 5216939459, :process 0, :error :net-timeout, :index 6}
{:type :info, :f :txn, :value [[:append 9 1] [:append 9 2] [:append 9 3]], :time 5580537260, :process 2, :error :net-timeout, :index 7}
