{:type :invoke, :f :write, :value 3, :time 277313650, :process 18, :index 2}
{:type :info, :f :write, :value 3, :time 285925199, :process 18, :error [:unknown nil], :index 4}
{:type :invoke, :f :cas, :value [1 4], :time 444102075, :process 38, :index 6}
{:type :info, :f :cas, :value [1 4], :time 452616803, :process 38, :error [:unknown nil], :index 7}
{:type :invoke, :f :write, :value 3, :time 1129257947, :process 58, :index 10}
{:type :info, :f :write, :value 3, :time 1136751142, :process 58, :error [:unknown nil], :index 11}
{:type :invoke, :f :cas, :value [4 2], :time 1246295376, :process 17, :index 12}
{:type :info, :f :cas, :value [4 2], :time 1253547754, :process 17, :error [:unknown nil], :index 13}
{:type :invoke, :f :cas, :value [0 2], :time 1436986833, :process 12, :index 14}
{:type :info, :f :cas, :value [0 2], :time 1444420179, :process 12, :error [:unknown nil], :index 15}
