{:type :invoke, :f :cas, :value [3 4], :time 501661758, :process 19, :index 6}
{:type :info, :f :cas, :value [3 4], :time 508821192, :process 19, :error [:unknown nil], :index 7}
{:type :invoke, :f :write, :value 0, :time 1108138901, :process 39, :index 10}
{:type :info, :f :write, :value 0, :time 1116559004, :process 39, :error [:unknown nil], :index 11}
{:type :invoke, :f :write, :value 0, :time 1595004700, :process 15, :index 14}
{:type :info, :f :write, :value 0, :time 1601858740, :process 15, :error [:unknown nil], :index 15}
{:type :invoke, :f :cas, :value [0 3], :time 1808100274, :process 10, :index 16}
{:type :info, :f :cas, :value [0 3], :time 1814375982, :process 10, :error [:unknown nil], :index 17}
