{:type :invoke, :f :cas, :value [4 4], :time 398085963, :process 19, :index 2}
{:type :info, :f :cas, :value [4 4], :time 406320376, :process 19, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [2 2], :time 1034486752, :process 10, :index 6}
{:type :invoke, :f :cas, :value [3 1], :time 1259372452, :process 16, :index 7}
{:type :info, :f :cas, :value [3 1], :time 1265813175, :process 16, :error [:unknown "Not Leader"], :index 8}
{:type :invoke, :f :cas, :value [0 2], :time 1622104788, :process 15, :index 9}
{:type :invoke, :f :write, :value 0, :time 1782453150, :process 13, :index 10}
{:type :info, :f :write, :value 0, :time 1790438405, :process 13, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :write, :value 4, :time 1809090948, :process 36, :index 12}
{:type :info, :f :write, :value 4, :time 1815243771, :process 36, :error [:unknown "Not Leader"], :index 13}
{:type :info, :f :cas, :value [2 2], :time 2038201232, :process 10, :error :net-timeout, :index 18}
{:type :info, :f :cas, :value [0 2], :time 2627592902, :process 15, :error :net-timeout, :index 19}
