{:type :invoke, :f :cas, :value [1 [1 1]], :time 11448691, :process 12, :index 0}
{:type :info, :f :cas, :value [1 [1 1]], :time 32931507, :process 12, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [1 [0 2]], :time 250548153, :process 11, :index 2}
{:type :invoke, :f :write, :value [0 3], :time 365772967, :process 5, :index 3}
{:type :info, :f :write, :value [0 3], :time 369965385, :process 5, :error [:unknown "Not Leader"], :index 4}
{:type :invoke, :f :cas, :value [1 [1 4]], :time 417675957, :process 14, :index 5}
{:type :info, :f :cas, :value [1 [1 4]], :time 425631054, :process 14, :error [:unknown "Not Leader"], :index 6}
{:type :invoke, :f :cas, :value [1 [2 0]], :time 468361386, :process 15, :index 7}
{:type :info, :f :cas, :value [1 [2 0]], :time 475151864, :process 15, :error [:unknown "Not Leader"], :index 8}
{:type :invoke, :f :write, :value [0 2], :time 514235753, :process 7, :index 9}
{:type :info, :f :write, :value [0 2], :time 520711507, :process 7, :error [:unknown "Not Leader"], :index 10}
{:type :invoke, :f :write, :value [1 0], :time 737498858, :process 19, :index 11}
{:type :info, :f :write, :value [1 0], :time 744421513, :process 19, :error [:unknown "Not Leader"], :index 12}
{:type :invoke, :f :cas, :value [0 [3 4]], :time 748669757, :process 6, :index 13}
{:type :invoke, :f :read, :time 989381562, :process 1, :value [0 nil], :index 14}
{:type :fail, :f :read, :time 998498437, :process 1, :value [0 nil], :error [:unknown "Invalid Key"], :index 15}
{:type :invoke, :f :cas, :value [1 [4 4]], :time 1032056755, :process 13, :index 16}
{:type :info, :f :cas, :value [1 [4 4]], :time 1035813822, :process 13, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :cas, :value [0 [3 3]], :time 1143449693, :process 27, :index 18}
{:type :info, :f :cas, :value [0 [3 3]], :time 1150665012, :process 27, :error [:unknown "Not Leader"], :index 19}
{:type :info, :f :cas, :value [1 [0 2]], :time 1254228107, :process 11, :error :net-timeout, :index 20}
{:type :invoke, :f :write, :value [1 4], :time 1259239356, :process 33, :index 21}
{:type :info, :f :write, :value [1 4], :time 1265539162, :process 33, :error [:unknown "Not Leader"], :index 22}
{:type :invoke, :f :read, :time 1386484230, :process 4, :value [0 nil], :index 23}
{:type :fail, :f :read, :time 1393433859, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 24}
{:type :invoke, :f :read, :time 1733659596, :process 1, :value [0 nil], :index 25}
{:type :fail, :f :read, :time 1740070512, :process 1, :value [0 nil], :error [:unknown "Invalid Key"], :index 26}
{:type :info, :f :cas, :value [0 [3 4]], :time 1752192617, :process 6, :error :net-timeout, :index 27}
{:type :invoke, :f :write, :value [1 3], :time 1861840584, :process 34, :index 28}
{:type :info, :f :write, :value [1 3], :time 1866718669, :process 34, :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :read, :time 1911166623, :process 4, :value [0 nil], :index 30}
{:type :fail, :f :read, :time 1913748546, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 31}
{:type :invoke, :f :cas, :value [0 [0 3]], :time 1914518250, :process 25, :index 32}
{:type :info, :f :cas, :value [0 [0 3]], :time 1916348856, :process 25, :error [:unknown "Not Leader"], :index 33}
