{:type :invoke, :f :cas, :value [4 3], :time 2826058205, :process 35, :index 30}
{:type :invoke, :f :cas, :value [0 1], :time 2925956746, :process 10, :index 31}
{:type :invoke, :f :write, :value 2, :time 3236440014, :process 58, :index 32}
{:type :info, :f :write, :value 2, :time 3238219204, :process 58, :error [:unknown "Not Leader"], :index 33}
{:type :invoke, :f :cas, :value [0 3], :time 3571200628, :process 16, :index 34}
{:type :info, :f :cas, :value [0 3], :time 3573976935, :process 16, :error [:unknown "Not Leader"], :index 35}
{:type :info, :f :cas, :value [4 3], :time 3827137435, :process 35, :error :net-timeout, :index 38}
{:type :info, :f :cas, :value [0 1], :time 3926977259, :process 10, :error :net-timeout, :index 39}
{:type :invoke, :f :cas, :value [4 3], :time 4169773939, :process 30, :index 42}
{:type :info, :f :cas, :value [4 3], :time 5170500867, :process 30, :error :net-timeout, :index 50}
