{:type :invoke, :f :txn, :value [[:r 9 nil] [:r 7 nil] [:r 8 nil] [:append 7 1]], :time 9128244, :process 1, :index 0}
{:type :ok, :f :txn, :value [[:r 9 nil] [:r 7 nil] [:r 8 nil] [:append 7 1]], :time 161912254, :process 1, :index 1}
{:type :invoke, :f :txn, :value [[:r 9 nil] [:r 9 nil] [:r 8 nil]], :time 230583973, :process 1, :index 2}
{:type :invoke, :f :txn, :value [[:r 9 nil] [:r 5 nil]], :time 525879250, :process 2, :index 3}
{:type :invoke, :f :txn, :value [[:r 7 nil] [:append 9 1] [:append 6 1] [:append 6 2]], :time 652602432, :process 3, :index 4}
{:type :ok, :f :txn, :value [[:r 9 nil] [:r 5 nil]], :time 654866197, :process 2, :index 5}
{:type :info, :f :txn, :value [[:r 7 nil] [:append 9 1] [:append 6 1] [:append 6 2]], :time 710593776, :process 3, :error [:unknown "transaction aborted"], :index 6}
{:type :invoke, :f :txn, :value [[:append 9 2]], :time 993616316, :process 2, :index 7}
{:type :invoke, :f :txn, :value [[:r 7 nil] [:r 9 nil] [:append 8 1] [:append 9 3]], :time 1040051698, :process 0, :index 8}
{:type :ok, :f :txn, :value [[:r 7 nil] [:r 9 nil] [:append 8 1] [:append 9 3]], :time 1190637042, :process 0, :index 9}
{:type :invoke, :f :txn, :value [[:r 8 nil]], :time 1433974348, :process 7, :index 10}
{:type :info, :f :txn, :value [[:r 8 nil]], :time 1451851179, :process 7, :error [:unknown "transaction aborted"], :index 11}
{:type :invoke, :f :txn, :value [[:append 8 2] [:r 9 nil] [:r 9 nil]], :time 1818915643, :process 0, :index 12}
{:type :info, :f :txn, :value [[:r 9 nil] [:r 9 nil] [:r 8 nil]], :time 5234192230, :process 1, :error :net-timeout, :index 13}
{:type :info, :f :txn, :value [[:append 9 2]], :time 5996826107, :process 2, :error :net-timeout, :index 14}
{:type :info, :f :txn, :value [[:append 8 2] [:r 9 nil] [:r 9 nil]], :time 6821515350, :process 0, :error :net-timeout, :index 15}
