{:type :invoke, :f :cas, :value [0 [3 1]], :time 10048737, :process 8, :index 0}
{:type :info, :f :cas, :value [0 [3 1]], :time 27615651, :process 8, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value [1 1], :time 147011788, :process 13, :index 2}
{:type :invoke, :f :cas, :value [1 [4 0]], :time 150510741, :process 11, :index 3}
{:type :info, :f :write, :value [1 1], :time 158032327, :process 13, :error [:unknown "Not Leader"], :index 4}
{:type :info, :f :cas, :value [1 [4 0]], :time 159064814, :process 11, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [1 [1 3]], :time 277805493, :process 14, :index 6}
{:type :info, :f :cas, :value [1 [1 3]], :time 282632583, :process 14, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [0 [4 3]], :time 356426780, :process 6, :index 8}
{:type :info, :f :cas, :value [0 [4 3]], :time 363950147, :process 6, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :write, :value [0 1], :time 604362207, :process 26, :index 10}
{:type :info, :f :write, :value [0 1], :time 611682682, :process 26, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :read, :time 638523362, :process 2, :value [0 nil], :index 12}
{:type :fail, :f :read, :time 644476255, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :cas, :value [1 [0 4]], :time 1028381474, :process 15, :index 14}
{:type :invoke, :f :write, :value [1 2], :time 1416389092, :process 12, :index 15}
{:type :info, :f :write, :value [1 2], :time 1423290598, :process 12, :error [:unknown "Not Leader"], :index 16}
{:type :invoke, :f :write, :value [1 0], :time 1538157307, :process 17, :index 17}
{:type :info, :f :write, :value [1 0], :time 1545617425, :process 17, :error [:unknown "Not Leader"], :index 18}
{:type :invoke, :f :cas, :value [1 [1 1]], :time 1893830312, :process 34, :index 19}
{:type :info, :f :cas, :value [1 [1 1]], :time 1900412679, :process 34, :error [:unknown "Not Leader"], :index 20}
{:type :info, :f :cas, :value [1 [0 4]], :time 2032248430, :process 15, :error :net-timeout, :index 21}
