{:type :invoke, :f :cas, :value [0 4], :time 8427339658, :process 49, :index 75}
{:type :info, :f :cas, :value [0 4], :time 8432847560, :process 49, :error [:unknown "Not Leader"], :index 76}
{:type :invoke, :f :read, :time 9400289984, :process 4, :value nil, :index 83}
{:type :fail, :f :read, :time 9405204827, :process 4, :value nil, :error [:unknown "Not Leader"], :index 84}
{:type :invoke, :f :write, :value 4, :time 9691409595, :process 25, :index 85}
{:type :invoke, :f :cas, :value [4 4], :time 9820337887, :process 69, :index 87}
{:type :info, :f :cas, :value [4 4], :time 9825192090, :process 69, :error [:unknown "Not Leader"], :index 88}
{:type :info, :f :write, :value 4, :time 10693593256, :process 25, :error :net-timeout, :index 91}
