{:type :invoke, :f :cas, :value [1 [4 3]], :time 12744238, :process 11, :index 0}
{:type :info, :f :cas, :value [1 [4 3]], :time 35609380, :process 11, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :write, :value [1 2], :time 381885195, :process 18, :index 2}
{:type :info, :f :write, :value [1 2], :time 385479122, :process 18, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [0 [4 1]], :time 727185693, :process 7, :index 4}
{:type :info, :f :cas, :value [0 [4 1]], :time 730014417, :process 7, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :read, :time 759065244, :process 4, :value [0 nil], :index 6}
{:type :fail, :f :read, :time 762027931, :process 4, :value [0 nil], :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [0 [0 3]], :time 1070504303, :process 9, :index 8}
{:type :info, :f :cas, :value [0 [0 3]], :time 1072913725, :process 9, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :read, :time 1297247491, :process 1, :value [0 nil], :index 10}
{:type :fail, :f :read, :time 1299553688, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :write, :value [0 4], :time 1559356031, :process 8, :index 12}
{:type :info, :f :write, :value [0 4], :time 1561864929, :process 8, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :write, :value [0 4], :time 1625319176, :process 29, :index 14}
{:type :info, :f :write, :value [0 4], :time 1627443154, :process 29, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :cas, :value [0 [4 2]], :time 1754510251, :process 6, :index 16}
{:type :info, :f :cas, :value [0 [4 2]], :time 1756869385, :process 6, :error [:unknown "Not Leader"], :index 17}
{:type :invoke, :f :cas, :value [1 [3 3]], :time 1911995890, :process 15, :index 18}
{:type :invoke, :f :cas, :value [0 [0 4]], :time 2065644438, :process 28, :index 19}
{:type :info, :f :cas, :value [0 [0 4]], :time 2067838193, :process 28, :error [:unknown "Not Leader"], :index 20}
{:type :invoke, :f :cas, :value [0 [1 2]], :time 2213036384, :process 5, :index 21}
{:type :invoke, :f :cas, :value [1 [0 4]], :time 2291652113, :process 16, :index 22}
{:type :info, :f :cas, :value [1 [0 4]], :time 2293789900, :process 16, :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :cas, :value [0 [0 2]], :time 2655519596, :process 26, :index 24}
{:type :info, :f :cas, :value [0 [0 2]], :time 2657651297, :process 26, :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :cas, :value [1 [4 3]], :time 2677675035, :process 12, :index 26}
{:type :info, :f :cas, :value [1 [4 3]], :time 2679918084, :process 12, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :write, :value [1 2], :time 2858045436, :process 17, :index 28}
{:type :info, :f :write, :value [1 2], :time 2860492079, :process 17, :error [:unknown "Not Leader"], :index 29}
{:type :info, :f :cas, :value [1 [3 3]], :time 2912471588, :process 15, :error :net-timeout, :index 30}
{:type :info, :f :cas, :value [0 [1 2]], :time 3213493430, :process 5, :error :net-timeout, :index 31}
