{:type :invoke, :f :read, :time 14738398, :process 0, :value nil, :index 0}
{:type :fail, :f :read, :time 37864848, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 1}
{:type :invoke, :f :cas, :value [1 0], :time 418498112, :process 5, :index 5}
{:type :invoke, :f :read, :time 720792966, :process 1, :value nil, :index 8}
{:type :fail, :f :read, :time 726818711, :process 1, :value nil, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :read, :time 1007800557, :process 4, :value nil, :index 10}
{:type :fail, :f :read, :time 1015940954, :process 4, :value nil, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :write, :value 2, :time 1293049110, :process 6, :index 12}
{:type :info, :f :write, :value 2, :time 1301010089, :process 6, :error [:unknown "Not Leader"], :index 13}
{:type :info, :f :cas, :value [1 0], :time 1422479355, :process 5, :error :net-timeout, :index 15}
{:type :invoke, :f :cas, :value [4 3], :time 1986358104, :process 8, :index 18}
{:type :info, :f :cas, :value [4 3], :time 1993229617, :process 8, :error [:unknown "Not Leader"], :index 19}
