{:type :invoke, :f :read, :time 51672476, :process 0, :value nil, :index 1}
{:type :fail, :f :read, :time 59223915, :process 0, :value nil, :error [:unknown "Invalid Key"], :index 2}
{:type :invoke, :f :read, :time 550403525, :process 1, :value nil, :index 7}
{:type :fail, :f :read, :time 557496949, :process 1, :value nil, :error [:unknown "Not Leader"], :index 8}
{:type :invoke, :f :write, :value 1, :time 598339286, :process 8, :index 9}
{:type :info, :f :write, :value 1, :time 607096307, :process 8, :error [:unknown "Not Leader"], :index 10}
{:type :invoke, :f :cas, :value [4 4], :time 646967282, :process 5, :index 11}
{:type :invoke, :f :write, :value 2, :time 945166877, :process 28, :index 12}
{:type :info, :f :write, :value 2, :time 953905330, :process 28, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :read, :time 1383584693, :process 1, :value nil, :index 17}
{:type :fail, :f :read, :time 1391611828, :process 1, :value nil, :error [:unknown "Not Leader"], :index 19}
{:type :info, :f :cas, :value [4 4], :time 1650333970, :process 5, :error :net-timeout, :index 21}
{:type :invoke, :f :write, :value 1, :time 1797344127, :process 6, :index 24}
{:type :info, :f :write, :value 1, :time 1799743089, :process 6, :error [:unknown "Not Leader"], :index 25}
