{:type :invoke, :f :cas, :value [0 0], :time 11547216, :process 19, :index 0}
{:type :info, :f :cas, :value [0 0], :time 31766992, :process 19, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [2 0], :time 545565587, :process 18, :index 4}
{:type :info, :f :cas, :value [2 0], :time 552980530, :process 18, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :write, :value 4, :time 619833932, :process 11, :index 6}
{:type :info, :f :write, :value 4, :time 627498740, :process 11, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :write, :value 0, :time 907969755, :process 31, :index 8}
{:type :info, :f :write, :value 0, :time 916113402, :process 31, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [2 2], :time 1030224311, :process 38, :index 10}
{:type :info, :f :cas, :value [2 2], :time 1037118879, :process 38, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :cas, :value [2 2], :time 1198815209, :process 10, :index 12}
{:type :invoke, :f :write, :value 2, :time 1438524787, :process 16, :index 13}
{:type :info, :f :write, :value 2, :time 1445367731, :process 16, :error [:unknown "Not Leader"], :index 14}
{:type :invoke, :f :cas, :value [3 0], :time 2171747082, :process 17, :index 17}
{:type :info, :f :cas, :value [3 0], :time 2178464005, :process 17, :error [:unknown "Not Leader"], :index 18}
{:type :info, :f :cas, :value [2 2], :time 2201833300, :process 10, :error :net-timeout, :index 19}
{:type :invoke, :f :write, :value 0, :time 2407648468, :process 51, :index 20}
{:type :info, :f :write, :value 0, :time 2414272384, :process 51, :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :cas, :value [1 4], :time 2880781403, :process 39, :index 24}
{:type :info, :f :cas, :value [1 4], :time 2886415840, :process 39, :error [:unknown "Not Leader"], :index 25}
