{:type :invoke, :f :cas, :value [1 2], :time 233602571, :process 17, :index 4}
{:type :info, :f :cas, :value [1 2], :time 242719445, :process 17, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :write, :value 4, :time 382447467, :process 14, :index 6}
{:type :info, :f :write, :value 4, :time 390217246, :process 14, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :write, :value 4, :time 524945092, :process 16, :index 8}
{:type :info, :f :write, :value 4, :time 531845330, :process 16, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [0 0], :time 790417306, :process 11, :index 12}
{:type :info, :f :cas, :value [0 0], :time 797559105, :process 11, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :cas, :value [2 4], :time 873782522, :process 36, :index 14}
{:type :info, :f :cas, :value [2 4], :time 880501228, :process 36, :error [:unknown "Not Leader"], :index 15}
{:type :invoke, :f :write, :value 3, :time 1349470317, :process 13, :index 20}
{:type :info, :f :write, :value 3, :time 1356204540, :process 13, :error [:unknown "Not Leader"], :index 21}
{:type :invoke, :f :cas, :value [3 2], :time 1365295918, :process 33, :index 22}
{:type :info, :f :cas, :value [3 2], :time 1371384754, :process 33, :error [:unknown "Not Leader"], :index 23}
{:type :invoke, :f :cas, :value [4 2], :time 1417837209, :process 31, :index 24}
{:type :info, :f :cas, :value [4 2], :time 1419913125, :process 31, :error [:unknown "Not Leader"], :index 25}
{:type :invoke, :f :cas, :value [4 4], :time 1512400931, :process 34, :index 26}
{:type :info, :f :cas, :value [4 4], :time 1514577554, :process 34, :error [:unknown "Not Leader"], :index 27}
