{:type :invoke, :f :cas, :value [2 0], :time 10487775, :process 5, :index 0}
{:type :info, :f :cas, :value [2 0], :time 31369049, :process 5, :error [:unknown nil], :index 1}
{:type :invoke, :f :read, :time 933678918, :process 0, :value nil, :index 8}
{:type :fail, :f :read, :time 946053844, :process 0, :value nil, :error [:unknown nil], :index 9}
{:type :invoke, :f :cas, :value [1 0], :time 1179094862, :process 8, :index 12}
{:type :info, :f :cas, :value [1 0], :time 1186269459, :process 8, :error [:unknown nil], :index 13}
{:type :invoke, :f :read, :time 1372640873, :process 3, :value nil, :index 14}
{:type :fail, :f :read, :time 1380556693, :process 3, :value nil, :error [:unknown nil], :index 15}
{:type :invoke, :f :read, :time 1866697195, :process 0, :value nil, :index 18}
{:type :fail, :f :read, :time 1874243147, :process 0, :value nil, :error [:unknown nil], :index 19}
