{:type :invoke, :f :cas, :value [1 0], :time 4067657909, :process 53, :index 34}
{:type :info, :f :cas, :value [1 0], :time 4074276818, :process 53, :error [:unknown "Not Leader"], :index 35}
{:type :invoke, :f :cas, :value [1 3], :time 4166947180, :process 36, :index 36}
{:type :info, :f :cas, :value [1 3], :time 4169350600, :process 36, :error [:unknown "Not Leader"], :index 37}
{:type :invoke, :f :write, :value 2, :time 4823291912, :process 56, :index 42}
{:type :info, :f :write, :value 2, :time 4825157414, :process 56, :error [:unknown "Not Leader"], :index 43}
