{:type :invoke, :f :read, :time 15037309, :process 2, :value nil, :index 0}
{:type :fail, :f :read, :time 33861040, :process 2, :value nil, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :read, :time 342846729, :process 0, :value nil, :index 2}
{:type :fail, :f :read, :time 351321616, :process 0, :value nil, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :write, :value 1, :time 1922374682, :process 7, :index 14}
{:type :info, :f :write, :value 1, :time 1924424278, :process 7, :error [:unknown "Not Leader"], :index 15}
