{:type :invoke, :f :cas, :value [1 [4 1]], :time 11430202, :process 11, :index 0}
{:type :info, :f :cas, :value [1 [4 1]], :time 32582369, :process 11, :error [:unknown "Not Leader"], :index 1}
{:type :invoke, :f :cas, :value [1 [3 0]], :time 105891650, :process 13, :index 2}
{:type :info, :f :cas, :value [1 [3 0]], :time 108838425, :process 13, :error [:unknown "Not Leader"], :index 3}
{:type :invoke, :f :cas, :value [0 [4 1]], :time 361727571, :process 7, :index 4}
{:type :info, :f :cas, :value [0 [4 1]], :time 370930180, :process 7, :error [:unknown "Not Leader"], :index 5}
{:type :invoke, :f :cas, :value [1 [1 4]], :time 561217807, :process 19, :index 6}
{:type :info, :f :cas, :value [1 [1 4]], :time 570244430, :process 19, :error [:unknown "Not Leader"], :index 7}
{:type :invoke, :f :cas, :value [0 [1 4]], :time 620334472, :process 6, :index 8}
{:type :info, :f :cas, :value [0 [1 4]], :time 631760240, :process 6, :error [:unknown "Not Leader"], :index 9}
{:type :invoke, :f :cas, :value [1 [2 3]], :time 742274498, :process 18, :index 10}
{:type :info, :f :cas, :value [1 [2 3]], :time 751010981, :process 18, :error [:unknown "Not Leader"], :index 11}
{:type :invoke, :f :write, :value [1 0], :time 1122764619, :process 39, :index 12}
{:type :info, :f :write, :value [1 0], :time 1130865231, :process 39, :error [:unknown "Not Leader"], :index 13}
{:type :invoke, :f :write, :value [0 4], :time 1247966636, :process 5, :index 14}
{:type :invoke, :f :write, :value [1 4], :time 1599060006, :process 33, :index 15}
{:type :info, :f :write, :value [1 4], :time 1606434371, :process 33, :error [:unknown "Not Leader"], :index 16}
{:type :invoke, :f :write, :value [1 0], :time 1950939303, :process 10, :index 17}
{:type :info, :f :write, :value [0 4], :time 2252143549, :process 5, :error :net-timeout, :index 18}
{:type :invoke, :f :write, :value [1 1], :time 2313730035, :process 15, :index 19}
{:type :invoke, :f :cas, :value [1 [2 3]], :time 2589174481, :process 38, :index 20}
{:type :info, :f :cas, :value [1 [2 3]], :time 2591767946, :process 38, :error [:unknown "Not Leader"], :index 21}
{:type :info, :f :write, :value [1 0], :time 2955240332, :process 10, :error :net-timeout, :index 22}
{:type :invoke, :f :cas, :value [0 [3 1]], :time 2985937464, :process 9, :index 23}
{:type :info, :f :cas, :value [0 [3 1]], :time 2989729542, :process 9, :error [:unknown "Not Leader"], :index 24}
{:type :info, :f :write, :value [1 1], :time 3318215002, :process 15, :error :net-timeout, :index 25}
{:type :invoke, :f :write, :value [0 2], :time 3331993438, :process 27, :index 26}
{:type :info, :f :write, :value [0 2], :time 3338482805, :process 27, :error [:unknown "Not Leader"], :index 27}
{:type :invoke, :f :cas, :value [0 [0 3]], :time 3494339737, :process 26, :index 28}
{:type :info, :f :cas, :value [0 [0 3]], :time 3500654389, :process 26, :error [:unknown "Not Leader"], :index 29}
{:type :invoke, :f :cas, :value [1 [4 3]], :time 3744272816, :process 31, :index 30}
{:type :info, :f :cas, :value [1 [4 3]], :time 3750682002, :process 31, :error [:unknown "Not Leader"], :index 31}
{:type :invoke, :f :cas, :value [1 [1 4]], :time 3921424827, :process 16, :index 32}
{:type :info, :f :cas, :value [1 [1 4]], :time 3927721301, :process 16, :error [:unknown "Not Leader"], :index 33}
{:type :invoke, :f :cas, :value [0 [1 3]], :time 3945583047, :process 8, :index 34}
{:type :info, :f :cas, :value [0 [1 3]], :time 3983598087, :process 8, :error [:unknown "Not Leader"], :index 35}
{:type :invoke, :f :read, :time 4152949649, :process 1, :value [0 nil], :index 36}
{:type :fail, :f :read, :time 4160206785, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 37}
{:type :invoke, :f :cas, :value [2 [4 3]], :time 4508553567, :process 58, :index 38}
{:type :info, :f :cas, :value [2 [4 3]], :time 4516421446, :process 58, :error [:unknown "Not Leader"], :index 39}
{:type :invoke, :f :cas, :value [2 [1 1]], :time 4741135584, :process 30, :index 40}
{:type :invoke, :f :cas, :value [0 [0 3]], :time 4799357899, :process 29, :index 41}
{:type :info, :f :cas, :value [0 [0 3]], :time 4801273367, :process 29, :error [:unknown "Not Leader"], :index 42}
{:type :invoke, :f :write, :value [2 2], :time 4999888106, :process 51, :index 43}
{:type :info, :f :write, :value [2 2], :time 5006490788, :process 51, :error [:unknown "Not Leader"], :index 44}
{:type :invoke, :f :read, :time 5127519787, :process 0, :value [0 nil], :index 45}
{:type :fail, :f :read, :time 5132589909, :process 0, :value [0 nil], :error [:unknown "Invalid Key"], :index 46}
{:type :invoke, :f :cas, :value [2 [3 4]], :time 5153637240, :process 78, :index 47}
{:type :info, :f :cas, :value [2 [3 4]], :time 5158233066, :process 78, :error [:unknown "Not Leader"], :index 48}
{:type :invoke, :f :write, :value [0 0], :time 5431207020, :process 25, :index 49}
{:type :invoke, :f :write, :value [2 3], :time 5565645321, :process 53, :index 50}
{:type :info, :f :write, :value [2 3], :time 5571824557, :process 53, :error [:unknown "Not Leader"], :index 51}
{:type :info, :f :cas, :value [2 [1 1]], :time 5743496284, :process 30, :error :net-timeout, :index 52}
{:type :invoke, :f :cas, :value [2 [3 4]], :time 5902348810, :process 71, :index 53}
{:type :info, :f :cas, :value [2 [3 4]], :time 5907826309, :process 71, :error [:unknown "Not Leader"], :index 54}
{:type :invoke, :f :read, :time 6001284999, :process 1, :value [0 nil], :index 55}
{:type :fail, :f :read, :time 6003270934, :process 1, :value [0 nil], :error [:unknown "Not Leader"], :index 56}
{:type :invoke, :f :cas, :value [2 [3 2]], :time 6262599012, :process 12, :index 57}
{:type :info, :f :cas, :value [2 [3 2]], :time 6269279929, :process 12, :error [:unknown "Not Leader"], :index 58}
{:type :invoke, :f :cas, :value [0 [2 3]], :time 6412861878, :process 49, :index 59}
{:type :info, :f :cas, :value [0 [2 3]], :time 6417156251, :process 49, :error [:unknown "Not Leader"], :index 60}
{:type :info, :f :write, :value [0 0], :time 6433649903, :process 25, :error :net-timeout, :index 61}
{:type :invoke, :f :read, :time 6713054187, :process 2, :value [0 nil], :index 62}
{:type :fail, :f :read, :time 6719420663, :process 2, :value [0 nil], :error [:unknown "Not Leader"], :index 63}
{:type :invoke, :f :cas, :value [2 [4 3]], :time 6824196245, :process 36, :index 64}
{:type :info, :f :cas, :value [2 [4 3]], :time 6829522457, :process 36, :error [:unknown "Not Leader"], :index 65}
{:type :invoke, :f :cas, :value [2 [0 4]], :time 7098142492, :process 73, :index 66}
{:type :info, :f :cas, :value [2 [0 4]], :time 7103898233, :process 73, :error [:unknown "Not Leader"], :index 67}
{:type :invoke, :f :write, :value [0 2], :time 7370492817, :process 45, :index 68}
{:type :invoke, :f :cas, :value [2 [2 3]], :time 7409331191, :process 17, :index 69}
{:type :info, :f :cas, :value [2 [2 3]], :time 7414912915, :process 17, :error [:unknown "Not Leader"], :index 70}
{:type :invoke, :f :cas, :value [2 [3 1]], :time 7459863879, :process 93, :index 71}
{:type :info, :f :cas, :value [2 [3 1]], :time 7461832796, :process 93, :error [:unknown "Not Leader"], :index 72}
{:type :invoke, :f :cas, :value [0 [3 4]], :time 7484008126, :process 69, :index 73}
{:type :info, :f :cas, :value [0 [3 4]], :time 7485769070, :process 69, :error [:unknown "Not Leader"], :index 74}
{:type :invoke, :f :cas, :value [3 [0 2]], :time 7875758770, :process 113, :index 75}
{:type :info, :f :cas, :value [3 [0 2]], :time 7878183366, :process 113, :error [:unknown "Not Leader"], :index 76}
{:type :invoke, :f :cas, :value [3 [0 3]], :time 8244526995, :process 91, :index 77}
{:type :info, :f :cas, :value [3 [0 3]], :time 8250583745, :process 91, :error [:unknown "Not Leader"], :index 78}
{:type :info, :f :write, :value [0 2], :time 8372991068, :process 45, :error :net-timeout, :index 79}
{:type :invoke, :f :cas, :value [3 [0 1]], :time 8373487546, :process 56, :index 80}
{:type :info, :f :cas, :value [3 [0 1]], :time 8378583482, :process 56, :error [:unknown "Not Leader"], :index 81}
{:type :invoke, :f :write, :value [4 2], :time 8420589666, :process 65, :index 82}
{:type :invoke, :f :read, :time 8725548447, :process 4, :value [4 nil], :index 83}
{:type :fail, :f :read, :time 8731612180, :process 4, :value [4 nil], :error [:unknown "Not Leader"], :index 84}
{:type :invoke, :f :cas, :value [3 [4 4]], :time 8949612956, :process 111, :index 85}
{:type :info, :f :cas, :value [3 [4 4]], :time 8956275036, :process 111, :error [:unknown "Not Leader"], :index 86}
{:type :invoke, :f :write, :value [4 2], :time 9177707716, :process 47, :index 87}
{:type :info, :f :write, :value [4 2], :time 9181774747, :process 47, :error [:unknown "Not Leader"], :index 88}
{:type :invoke, :f :cas, :value [4 [2 0]], :time 9348547675, :process 46, :index 89}
{:type :info, :f :cas, :value [4 [2 0]], :time 9353697360, :process 46, :error [:unknown "Not Leader"], :index 90}
{:type :info, :f :write, :value [4 2], :time 9422390838, :process 65, :error :net-timeout, :index 91}
{:type :invoke, :f :read, :time 9588560413, :process 0, :value [4 nil], :index 92}
{:type :fail, :f :read, :time 9593708056, :process 0, :value [4 nil], :error [:unknown "Invalid Key"], :index 93}
{:type :invoke, :f :read, :time 9773267993, :process 0, :value [4 nil], :index 94}
{:type :fail, :f :read, :time 9778164735, :process 0, :value [4 nil], :error [:unknown "Invalid Key"], :index 95}
{:type :invoke, :f :cas, :value [4 [4 0]], :time 9874192766, :process 89, :index 96}
{:type :info, :f :cas, :value [4 [4 0]], :time 9879428736, :process 89, :error [:unknown "Not Leader"], :index 97}
{:type :invoke, :f :cas, :value [4 [0 2]], :time 9975423741, :process 85, :index 98}
{:type :info, :f :cas, :value [4 [0 2]], :time 10977901025, :process 85, :error :net-timeout, :index 99}
